<h1> Alias </h1> <p> class <strong>Alias</strong> </p> <h2>Methods</h2> <table> <tr> <td> </td> <td> <a href="#method___construct">__construct</a>(string $id, bool $public = true)  </td> <td></td>
</tr>  <tr> <td> bool </td> <td> <a href="#method_isPublic">isPublic</a>() <p>Checks if this DI Alias should be public or not.</p> </td> <td></td>
</tr>  <tr> <td> $this </td> <td> <a href="#method_setPublic">setPublic</a>(bool $boolean) <p>Sets if this Alias is public.</p> </td> <td></td>
</tr>  <tr> <td> $this </td> <td> <a href="#method_setPrivate">setPrivate</a>(bool $boolean) <p>Sets if this Alias is private.</p> </td> <td></td>
</tr>  <tr> <td> bool </td> <td> <a href="#method_isPrivate">isPrivate</a>() <p>Whether this alias is private.</p> </td> <td></td>
</tr>  <tr> <td> string </td> <td> <a href="#method___toString">__toString</a>() <p>Returns the Id of this alias.</p> </td> <td></td>
</tr>  </table> <h2>Details</h2> <div id="method-details">  <h3 id="method___construct">                      
    __construct(string $id, bool $public = true)
         </h3>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>string</td> <td>$id</td> <td></td> </tr> <tr> <td>bool</td> <td>$public</td> <td></td> </tr> </table>     <h3 id="method_isPublic">                      bool
    isPublic()
         </h3>   <p>Checks if this DI Alias should be public or not.</p>   <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>bool</td> <td></td> </tr> </table>     <h3 id="method_setPublic">                      $this
    setPublic(bool $boolean)
         </h3>   <p>Sets if this Alias is public.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>bool</td> <td>$boolean</td> <td>If this Alias should be public</td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>$this</td> <td></td> </tr> </table>     <h3 id="method_setPrivate">                      $this
    setPrivate(bool $boolean)
         </h3>   <p>Sets if this Alias is private.</p> <p>When set, the "private" state has a higher precedence than "public". In version 3.4, a "private" alias always remains publicly accessible, but triggers a deprecation notice when accessed from the container, so that the alias can be made really private in 4.0.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>bool</td> <td>$boolean</td> <td></td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>$this</td> <td></td> </tr> </table>     <h3 id="method_isPrivate">                      bool
    isPrivate()
         </h3>   <p>Whether this alias is private.</p>   <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>bool</td> <td></td> </tr> </table>     <h3 id="method___toString">                      string
    __toString()
         </h3>   <p>Returns the Id of this alias.</p>   <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>string</td> <td>The alias id</td> </tr> </table>    </div><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2004&ndash;2017 Fabien Potencier<br>Licensed under the MIT License.<br>
    <a href="https://api.symfony.com/4.1/Symfony/Component/DependencyInjection/Alias.html" class="_attribution-link">https://api.symfony.com/4.1/Symfony/Component/DependencyInjection/Alias.html</a>
  </p>
</div>
