<article><h1>Reactive properties</h1>
<p>Lit components receive input and store their state as JavaScript class fields or properties. <em>Reactive properties</em> are properties that can trigger the reactive update cycle when changed, re-rendering the component, and optionally be read or written to attributes.</p>
<litdev-switchable-sample><pre data-language="ts">class MyElement extends LitElement {
  @property()
  name?: string;
}</pre>
<pre data-language="js">class MyElement extends LitElement {
  static properties = {
    name: {},
  };
}</pre></litdev-switchable-sample><p>Lit manages your reactive properties and their corresponding attributes. In particular:</p>
<ul>
<li>
<strong>Reactive updates</strong>. Lit generates a getter/setter pair for each reactive property. When a reactive property changes, the component schedules an update.</li>
<li>
<strong>Attribute handling</strong>. By default, Lit sets up an observed attribute corresponding to the property, and updates the property when the attribute changes. Property values can also, optionally, be <em>reflected</em> back to the attribute.</li>
<li>
<strong>Superclass properties</strong>. Lit automatically applies property options declared by a superclass. You don't need to redeclare properties unless you want to change options.</li>
<li>
<strong>Element upgrade</strong>. If a Lit component is defined after the element is already in the DOM, Lit handles upgrade logic, ensuring that any properties set on an element before it was upgraded trigger the correct reactive side effects when the element upgrades.</li>
</ul>
<div class="heading h2"><h2 id="public-properties-and-internal-state">Public properties and internal state</h2></div>
<p>Public properties are part of the component's public API. In general, public properties—especially public reactive properties—should be treated as <em>input</em>.</p>
<p>The component shouldn't change its own public properties, except in response to user input. For example, a menu component might have a public <code>selected</code> property that can be initialized to a given value by the owner of the element, but that is updated by the component itself when the user selects an item. In these instances, the component should dispatch an event to indicate to the component's owner that the <code>selected</code> property changed. See <a href="../events/index.html#dispatching-events">Dispatching events</a> for more details.</p>
<p>Lit also supports <em>internal reactive state</em>. Internal reactive state refers to reactive properties that <em>aren't</em> part of the component's API. These properties don't have a corresponding attribute, and are typically marked protected or private in TypeScript.</p>
<litdev-switchable-sample><pre data-language="ts">@state()
private _counter = 0;</pre>
<pre data-language="js">static properties = {
  _counter: {state: true}
};

constructor() {
  super();
  this._counter = 0;
}</pre></litdev-switchable-sample><p>The component manipulates its own internal reactive state. In some cases, internal reactive state may be initialized from public properties—for example, if there is an expensive transformation between the user-visible property and the internal state.</p>
<p>As with public reactive properties, updating internal reactive state triggers an update cycle. For more information, see <a href="#internal-reactive-state">Internal reactive state</a>.</p>
<div class="heading h2"><h2 id="declare">Public reactive properties</h2></div>
<p>Declare your element's public reactive properties using decorators or the static <code>properties</code> field.</p>
<p>In either case, you can pass an options object to configure features for the property.</p>
<div class="heading h3"><h3 id="declare-with-decorators">Declaring properties with decorators</h3></div>
<p>Use the <code>@property</code> decorator with a class field declaration to declare a reactive property.</p>
<pre data-language="ts">class MyElement extends LitElement {
  @property({type: String})
  mode?: string;

  @property({attribute: false})
  data = {};
}</pre>
<p>The argument to the <code>@property</code> decorators is an <a href="#property-options">options object</a>. Omitting the argument is equivalent to specifying the default value for all options.</p>
<div class="alert alert-info"><p><strong>Using decorators.</strong> Decorators are a proposed JavaScript feature, so you'll need to use a compiler like Babel or the TypeScript compiler to use decorators. See <a href="../decorators/index.html#enabling-decorators">Enabling decorators</a> for details.</p></div>
<div class="heading h3"><h3 id="declaring-properties-in-a-static-properties-class-field">Declaring properties in a static properties class field</h3></div>
<p>To declare properties in a static <code>properties</code> class field:</p>
<pre data-language="js">class MyElement extends LitElement {
  static properties = {
    mode: {type: String},
    data: {attribute: false},
  };

  constructor() {
    super();
    this.data = {};
  }
}</pre>
<p>An empty option object is equivalent to specifying the default value for all options.</p>
<div class="heading h3"><h3 id="avoiding-issues-with-class-fields">Avoiding issues with class fields when declaring properties</h3></div>
<p><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Classes/Public_class_fields">Class fields</a> have a problematic interaction with reactive properties. Class fields are defined on the element instance whereas reactive properties are defined as accessors on the element prototype. According to the rules of JavaScript, an instance property takes precedence over and effectively hides a prototype property. This means that reactive property accessors do not function when class fields are used such that setting the property won't trigger an element update.</p>
<pre data-language="js">class MyElement extends LitElement {
  static properties = {foo: {type: String}}
  foo = 'Default'; // ❌ this will make `foo` not reactive
}</pre>
<p>In <strong>JavaScript</strong>, you <strong>must not use class fields</strong> when declaring reactive properties. Instead, properties must be initialized in the element constructor:</p>
<pre data-language="js">class MyElement extends LitElement {
  static properties = {
    foo: {type: String}
  }
  constructor() {
    super();
    this.foo = 'Default';
  }
}</pre>
<p>Alternatively, you may use <a href="../decorators/index.html#decorators-babel">standard decorators with Babel</a> to declare reactive properties.</p>
<pre data-language="ts">class MyElement extends LitElement {
  @property()
  accessor foo = 'Default';
}</pre>
<p>For <strong>TypeScript</strong>, you <strong>may use class fields</strong> for declaring reactive properties as long as you use one of these patterns:</p>
<ul><li>Set the <code>useDefineForClassFields</code> compiler option to <code>false</code>. This is already the recommendation when <a href="../decorators/index.html#decorators-typescript">using decorators with TypeScript</a>.</li></ul>
<pre data-language="json">// tsconfig.json
{
  "compilerOptions": {
    "experimentalDecorators": true, // If using decorators
    "useDefineForClassFields": false,
  }
}</pre>
<pre data-language="ts">class MyElement extends LitElement {
  static properties = {foo: {type: String}}
  foo = 'Default';

  @property()
  bar = 'Default';
}</pre>
<ul><li>Add the <code>declare</code> keyword on the field, and put the field's initializer in the constructor.</li></ul>
<pre data-language="ts">class MyElement extends LitElement {
  declare foo: string;
  static properties = {foo: {type: String}}
  constructor() {
    super();
    this.foo = 'Default';
  }
}</pre>
<ul><li>Add the <code>accessor</code> keyword on the field to use <a href="https://www.typescriptlang.org/docs/handbook/release-notes/typescript-4-9.html#auto-accessors-in-classes">auto-accessors</a>.</li></ul>
<pre data-language="ts">class MyElement extends LitElement {
  static properties = {foo: {type: String}}
  accessor foo = 'Default';

  @property()
  accessor bar = 'Default';
}</pre>
<div class="heading h3"><h3 id="property-options">Property options</h3></div>
<p>The options object can have the following properties:</p>
<dl>
<dt><p><code>attribute</code></p></dt>
<dd><p>Whether the property is associated with an attribute, or a custom name for the associated attribute. Default: true. If <code>attribute</code> is false, the <code>converter</code>, <code>reflect</code> and <code>type</code> options are ignored. For more information, see <a href="#observed-attributes">Setting the attribute name</a>.</p></dd>
<dt><p><code>converter</code></p></dt>
<dd><p>A <a href="#conversion-converter">custom converter</a> for converting between properties and attributes. If unspecified, use the <a href="#conversion-type">default attribute converter</a>.</p></dd>
<dt><p><code>hasChanged</code></p></dt>
<dd><p>A function called whenever the property is set to determine if the property has changed, and should trigger an update. If unspecified, LitElement uses a strict inequality check (<code>newValue !== oldValue</code>) to determine whether the property value has changed. For more information, see <a href="#haschanged">Customizing change detection</a>.</p></dd>
<dt><p><code>noAccessor</code></p></dt>
<dd><p>Set to true to avoid generating the default property accessors. This option is rarely necessary. Default: false. For more information, see <a href="#accessors-noaccessor">Preventing Lit from generating a property accessor</a>.</p></dd>
<dt><p><code>reflect</code></p></dt>
<dd><p>Whether property value is reflected back to the associated attribute. Default: false. For more information, see <a href="#reflected-attributes">Enabling attribute reflection</a>.</p></dd>
<dt><p><code>state</code></p></dt>
<dd><p>Set to true to declare the property as <em>internal reactive state</em>. Internal reactive state triggers updates like public reactive properties, but Lit doesn't generate an attribute for it, and users shouldn't access it from outside the component. Equivalent to using the <code>@state</code> decorator. Default: false. For more information, see <a href="#internal-reactive-state">Internal reactive state</a>.</p></dd>
<dt><p><code>type</code></p></dt>
<dd>
<p>When converting a string-valued attribute into a property, Lit's default attribute converter will parse the string into the type given, and vice-versa when reflecting a property to an attribute. If <code>converter</code> is set, this field is passed to the converter. If <code>type</code> is unspecified, the default converter treats it as <code>type: String</code>. See <a href="#conversion-type">Using the default converter</a>.</p>
<p>When using TypeScript, this field should generally match the TypeScript type declared for the field. However, the <code>type</code> option is used by the Lit's <em>runtime</em> for string serialization/deserialization, and should not be confused with a <em>type-checking</em> mechanism.</p>
</dd>
<dt id="use-default"><p><code>useDefault</code></p></dt>
<dd>
<p>Set to true to prevent initial attribute reflection for the default value when <code>reflect</code> is set to true, and to reset the property to its default value when its corresponding attribute is removed.</p>
<p>The default value is the property's initial value set in the constructor or with an <a href="https://www.typescriptlang.org/docs/handbook/release-notes/typescript-4-9.html#auto-accessors-in-classes">auto-accessor</a>. This value is retained in memory so it's a good practice to avoid setting <code>useDefault: true</code> for non-primitive Object/Array properties. For more information, see <a href="#reflected-attributes">Enabling attribute reflection</a> and <a href="#best-practices-when-reflecting-attributes">Best practices when reflecting attributes</a>.</p>
</dd>
<p>Omitting the options object or specifying an empty options object is equivalent to specifying the default value for all options.</p>
<div class="heading h2"><h2 id="internal-reactive-state">Internal reactive state</h2></div>
<p><em>Internal reactive state</em> refers to reactive properties that are not part of the component's public API. These state properties don't have corresponding attributes, and aren't intended to be used from outside the component. Internal reactive state should be set by the component itself.</p>
<p>Use the <code>@state</code> decorator to declare internal reactive state:</p>
<pre data-language="ts">@state()
protected _active = false;</pre>
<p>Using the static <code>properties</code> class field, you can declare internal reactive state by using the <code>state: true</code> option.</p>
<pre data-language="js">static properties = {
  _active: {state: true}
};

constructor() {
  this._active = false;
}</pre>
<p>Internal reactive state shouldn't be referenced from outside the component. In TypeScript, these properties should be marked as private or protected. We also recommend using a convention like a leading underscore (<code>_</code>) to identify private or protected properties for JavaScript users.</p>
<p>Internal reactive state works just like public reactive properties, except that there is no attribute associated with the property. <strong>The only option you can specify for internal reactive state is the <code>hasChanged</code> function.</strong></p>
<p>The <code>@state</code> decorator can also serve as a hint to a code minifier that the property name can be changed during minification.</p>
<div class="heading h2"><h2 id="when-properties-change">What happens when properties change</h2></div>
<p>A property change can trigger a reactive update cycle, which causes the component to re-render its template.</p>
<p>When a property changes, the following sequence occurs:</p>
<ol>
<li>The property's setter is called.</li>
<li>The setter calls the component's <code>requestUpdate</code> method.</li>
<li>The property's old and new values are compared.<ul>
<li>By default Lit uses a strict inequality test to determine if the value has changed (that is <code>newValue !== oldValue</code>).</li>
<li>If the property has a <code>hasChanged</code> function, it's called with the property's old and new values.</li>
</ul>
</li>
<li>If the property change is detected, an update is scheduled asynchronously. If an update is already scheduled, only a single update is executed.</li>
<li>The component's <code>update</code> method is called, reflecting changed properties to attributes and re-rendering the component's templates.</li>
</ol>
<p>Note that if you mutate an object or array property, it won't trigger an update, because the object itself hasn't changed. For more information, see <a href="#mutating-properties">Mutating object and array properties</a>.</p>
<p>There are many ways to hook into and modify the reactive update cycle. For more information, see <a href="../lifecycle/index.html#reactive-update-cycle">Reactive update cycle</a>.</p>
<p>For more information about property change detection, see <a href="#haschanged">Customizing change detection</a>.</p>
<div class="heading h3"><h3 id="mutating-properties">Mutating object and array properties</h3></div>
<p>Mutating an object or array doesn't change the object reference, so it won't trigger an update. You can handle object and array properties in one of two ways:</p>
<ul>
<li>
<p><strong>Immutable data pattern.</strong> Treat objects and arrays as immutable. For example, to remove an item from <code>myArray</code>, construct a new array:</p>
<pre data-language="js">this.myArray = this.myArray.filter((_, i) =&gt; i !== indexToRemove);</pre>
<p>While this example is simple, it's often helpful to use a library like <a href="https://immerjs.github.io/immer/">Immer</a> to manage immutable data. This can help avoid tricky boilerplate code when setting deeply nested objects.</p>
</li>
<li>
<p><strong>Manually triggering an update.</strong> Mutate the data and call <code>requestUpdate()</code> to trigger an update directly. For example:</p>
<pre data-language="js">this.myArray.splice(indexToRemove, 1);
this.requestUpdate();</pre>
<p>When called with no arguments, <code>requestUpdate()</code> schedules an update, without calling a <code>hasChanged()</code> function. But note that <code>requestUpdate()</code> only causes the <em>current</em> component to update. That is, if a component uses the code shown above, <strong>and</strong> the component passes <code>this.myArray</code> to a subcomponent, the subcomponent will detect that the array reference hasn't changed, so it won't update.</p>
</li>
</ul>
<p><strong>In general, using top-down data flow with immutable objects is best for most applications.</strong> It ensures that every component that needs to render a new value does (and does so as efficiently as possible, since parts of the data tree that didn't change won't cause components that rely on them to update).</p>
<p>Mutating data directly and calling <code>requestUpdate()</code> should be considered an advanced use case. In this case, you (or some other system) need to identify all the components that use the mutated data and call <code>requestUpdate()</code> on each one. When those components are spread across an application, this gets hard to manage. Not doing so robustly means that you might modify an object that's rendered in two parts of your application, but only have one part update.</p>
<p>In simple cases, when you know that a given piece of data is only used in a single component, it should be safe to mutate the data and call <code>requestUpdate()</code>, if you prefer.</p>
<div class="heading h2"><h2 id="attributes">Attributes</h2></div>
<p>While properties are great for receiving JavaScript data as input, attributes are the standard way HTML allows configuring elements from <em>markup</em>, without needing to use JavaScript to set properties. Providing both a property <em>and</em> attribute interface for their reactive properties is a key way Lit components can be useful in a wide variety of environments, including those rendered without a client-side templating engine, such as static HTML pages served from CMSs.</p>
<p>By default, Lit sets up an observed attribute corresponding to each public reactive property, and updates the property when the attribute changes. Property values can also, optionally, be <em>reflected</em> (written back to the attribute).</p>
<p>While element properties can be of any type, attributes are always strings. This impacts the <a href="#observed-attributes">observed attributes</a> and <a href="#reflected-attributes">reflected attributes</a> of non-string properties:</p>
<ul>
<li><p>To <strong>observe</strong> an attribute (set a property from an attribute), the attribute value must be converted from a string to match the property type.</p></li>
<li><p>To <strong>reflect</strong> an attribute (set an attribute from a property), the property value must be converted to a string.</p></li>
</ul>
<p>Boolean properties that expose an attribute should default to false. For more information, see <a href="#boolean-attributes">Boolean attributes</a>.</p>
<div class="heading h3"><h3 id="observed-attributes">Setting the attribute name</h3></div>
<p>By default, Lit creates a corresponding observed attribute for all public reactive properties. The name of the observed attribute is the property name, lowercased:</p>
<litdev-switchable-sample><pre data-language="ts">// observed attribute name is "myvalue"
@property({ type: Number })
myValue = 0;</pre>
<pre data-language="js">// observed attribute name is "myvalue"
static properties = {
  myValue: { type: Number },
};

constructor() {
  super();
  this.myValue = 0;
}</pre></litdev-switchable-sample><p>To create an observed attribute with a different name, set <code>attribute</code> to a string:</p>
<litdev-switchable-sample><pre data-language="ts">// Observed attribute will be called my-name
@property({ attribute: 'my-name' })
myName = 'Ogden';</pre>
<pre data-language="js">// Observed attribute will be called my-name
static properties = {
  myName: { attribute: 'my-name' },
};

constructor() {
  super();
  this.myName = 'Ogden'
}</pre></litdev-switchable-sample><p>To prevent an observed attribute from being created for a property, set <code>attribute</code> to <code>false</code>. The property will not be initialized from attributes in markup, and attribute changes won't affect it.</p>
<litdev-switchable-sample><pre data-language="ts">// No observed attribute for this property
@property({ attribute: false })
myData = {};</pre>
<pre data-language="js">// No observed attribute for this property
static properties = {
  myData: { attribute: false },
};

constructor() {
  super();
  this.myData = {};
}</pre></litdev-switchable-sample><p>Internal reactive state never has an associated attribute.</p>
<p>An observed attribute can be used to provide an initial value for a property from markup. For example:</p>
<pre data-language="html">&lt;my-element myvalue="99"&gt;&lt;/my-element&gt;</pre>
<div class="heading h3"><h3 id="conversion-type">Using the default converter</h3></div>
<p>Lit has a default converter that handles <code>String</code>, <code>Number</code>, <code>Boolean</code>, <code>Array</code>, and <code>Object</code> property types.</p>
<p>To use the default converter, specify the <code>type</code> option in your property declaration:</p>
<litdev-switchable-sample><pre data-language="ts">// Use the default converter
@property({ type: Number })
count = 0;</pre>
<pre data-language="js">// Use the default converter
static properties = {
  count: { type: Number },
};

constructor() {
  super();
  this.count = 0;
}</pre></litdev-switchable-sample><p>If you don't specify a type <em>or</em> a custom converter for a property, it behaves as if you'd specified <code>type: String</code>.</p>
<p>The tables below shows how the default converter handles conversion for each type.</p>
<p><strong>From attribute to property</strong></p>
<table>
<thead><tr>
<th style="text-align:left">Type</th>
<th style="text-align:left">Conversion</th>
</tr></thead>
<tbody>
<tr>
<td style="text-align:left"><code>String</code></td>
<td style="text-align:left">If the element has the corresponding attribute, set the property to the attribute value.</td>
</tr>
<tr>
<td style="text-align:left"><code>Number</code></td>
<td style="text-align:left">If the element has the corresponding attribute, set the property to <code>Number(attributeValue)</code>.</td>
</tr>
<tr>
<td style="text-align:left"><code>Boolean</code></td>
<td style="text-align:left">If the element has the corresponding attribute, set the property to true.<br>If not, set the property to false.</td>
</tr>
<tr>
<td style="text-align:left">
<code>Object</code>, <code>Array</code>
</td>
<td style="text-align:left">If the element has the corresponding attribute, set the property value to <code>JSON.parse(attributeValue)</code>.</td>
</tr>
</tbody>
</table>
<p>For any case except <code>Boolean</code>, if the element doesn't have the corresponding attribute, the property keeps its default value, or <code>undefined</code> if no default is set.</p>
<p><strong>From property to attribute</strong></p>
<table>
<thead><tr>
<th style="text-align:left">Type</th>
<th style="text-align:left">Conversion</th>
</tr></thead>
<tbody>
<tr>
<td style="text-align:left">
<code>String</code>, <code>Number</code>
</td>
<td style="text-align:left">If property is defined and non-null, set the attribute to the property value.<br>If property is null or undefined, remove the attribute.</td>
</tr>
<tr>
<td style="text-align:left"><code>Boolean</code></td>
<td style="text-align:left">If property is truthy, create the attribute and set its value to an empty string.<br>If property is falsy, remove the attribute</td>
</tr>
<tr>
<td style="text-align:left">
<code>Object</code>, <code>Array</code>
</td>
<td style="text-align:left">If property is defined and non-null, set the attribute to <code>JSON.stringify(propertyValue)</code>.<br>If property is null or undefined, remove the attribute.</td>
</tr>
</tbody>
</table>
<div class="heading h3"><h3 id="conversion-converter">Providing a custom converter</h3></div>
<p>You can specify a custom property converter in your property declaration with the <code>converter</code> option:</p>
<pre data-language="js">myProp: {
  converter: // Custom property converter
}</pre>
<p><code>converter</code> can be an object or a function. If it is an object, it can have keys for <code>fromAttribute</code> and <code>toAttribute</code>:</p>
<pre data-language="js">prop1: {
  converter: {
    fromAttribute: (value, type) =&gt; {
      // `value` is a string
      // Convert it to a value of type `type` and return it
    },
    toAttribute: (value, type) =&gt; {
      // `value` is of type `type`
      // Convert it to a string and return it
    }
  }
}</pre>
<p>If <code>converter</code> is a function, it is used in place of <code>fromAttribute</code>:</p>
<pre data-language="js">myProp: {
  converter: (value, type) =&gt; {
    // `value` is a string
    // Convert it to a value of type `type` and return it
  }
}</pre>
<p>If no <code>toAttribute</code> function is supplied for a reflected attribute, the attribute is set to the property value using the default converter.</p>
<p>If <code>toAttribute</code> returns <code>null</code> or <code>undefined</code>, the attribute is removed.</p>
<div class="heading h3"><h3 id="boolean-attributes">Boolean attributes</h3></div>
<p>For a boolean property to be configurable from an attribute, <strong>it must default to false</strong>. If it defaults to true, you cannot set it to false from markup, since the presence of the attribute, with or without a value, equates to true. This is the standard behavior for attributes in the web platform.</p>
<p>If this behavior doesn't fit your use case, there are a couple of options:</p>
<ul>
<li><p>Change the property name so it defaults to false. For example, the web platform uses the <code>disabled</code> attribute (defaults to false), not <code>enabled</code>.</p></li>
<li><p>Use a string-valued or number-valued attribute instead.</p></li>
</ul>
<div class="heading h3"><h3 id="reflected-attributes">Enabling attribute reflection</h3></div>
<p>Setting <code>reflect</code> to true configures a property so that whenever it changes, its value is reflected to its <a href="#observed-attributes">corresponding attribute</a>. Reflected attributes are useful for serializing element state and because they are visible to CSS and DOM APIs like <code>querySelector</code>.</p>
<p>Setting <code>useDefault</code> to true prevents the property's default value from initially reflecting to its <a href="#observed-attributes">corresponding attribute</a>. All subsequent changes are reflected; and if the attribute is removed, the property is reset to its default value.</p>
<p>This matches web platform behavior for attributes like <code>id</code>. The default value of an element's <code>id</code> property is <code>''</code> (an empty string) and initially it does not have an <code>id</code> attribute, but if the <code>id</code> property is set (even to an empty string), the appropirate <code>id</code> attribute is reflected. If the <code>id</code> attribute is removed, the element's <code>id</code> property is set back to its initial value of <code>''</code>.</p>
<p>For example:</p>
<pre data-language="js">// Value of property "active" will reflect to attribute "active"
active: {reflect: true}
// Value of property "variant" will reflect except that the "variant"
// attribute will not be iniitally set to the property's default value.
variant: {reflect: true, useDefault: true}</pre>
<p>When the property changes, Lit sets the corresponding attribute value as described in <a href="#conversion-type">Using the default converter</a> or <a href="#conversion-converter">Providing a custom converter</a>.</p>

<div class="alert alert-info"><p><strong>Lit tracks reflection state during updates.</strong> You may have realized that if property changes are reflected to an attribute and attribute changes update the property, it has the potential to create an infinite loop. However, Lit tracks when properties and attributes are set specifically to prevent this from happening</p></div>
<div class="heading h3"><h3 id="best-practices-when-reflecting-attributes">Best practices when reflecting attributes</h3></div>
<p>To ensure elements behave as expected and perform well, try to follow these best practices when reflecting attributes:</p>
<ul>
<li><p>Attributes should generally be considered input to the element from its owner, rather than under control of the element itself, so reflecting properties to attributes should be done sparingly. Consider instead using the <a href="https://wicg.github.io/custom-state-pseudo-class/"><code>:state</code> pseudo selector</a> and the <a href="https://wicg.github.io/aom/spec/">Accessibility Object Model</a> where possible.</p></li>
<li><p>Reflecting properties should typically also set <code>useDefault: true</code> since this keeps the element from spontaneously spawning attributes that the user didn't set, and helps match expected platform behavior.</p></li>
<li><p>Reflecting properties of type object or array is not recommended. This can cause large objects to serialize to the DOM which can result in poor performance and consume excess memory when <code>useDefault</code> is used.</p></li>
<li><p>The property decorator does not alter any values assigned to the reactive property, which is considered a best practice for custom accessors. Sometimes native elements restrict properties to certain valid values, for instance, and if an invalid value is assigned to a property, the property will be set to a default instead. <code>useDefault: true</code> does not do this - it only restores the default when the attribute is removed. If you'd like to alter the property value on property assignments, define and decorate a custom property setter.</p></li>
</ul>
<div class="heading h2"><h2 id="accessors">Custom property accessors</h2></div>
<p>By default, LitElement generates a getter/setter pair for all reactive properties. The setter is invoked whenever you set the property:</p>
<litdev-switchable-sample><pre data-language="ts">// Declare a property
@property()
greeting: string = 'Hello';
...
// Later, set the property
this.greeting = 'Hola'; // invokes greeting's generated property accessor</pre>
<pre data-language="js">// Declare a property
static properties = {
  greeting: {},
}
constructor() {
  this.super();
  this.greeting = 'Hello';
}
...
// Later, set the property
this.greeting = 'Hola'; // invokes greeting's generated property accessor</pre></litdev-switchable-sample><p>Generated accessors automatically call <code>requestUpdate()</code>, initiating an update if one has not already begun.</p>
<div class="heading h3"><h3 id="accessors-custom">Creating custom property accessors</h3></div>
<p>To specify how getting and setting works for a property, you can define your own getter/setter pair. For example:</p>
<litdev-switchable-sample><pre data-language="ts">private _prop = 0;

@property()
set prop(val: number) {
  this._prop = Math.floor(val);
}

get prop() { return this._prop; }</pre>
<pre data-language="js">static properties = {
  prop: {},
};

_prop = 0;

set prop(val) {
  this._prop = Math.floor(val);
}

get prop() { return this._prop; }</pre></litdev-switchable-sample><p>To use custom property accessors with the <code>@property</code> or <code>@state</code> decorators, put the decorator on the setter, as shown above. <code>@property</code> or <code>@state</code> decorated setters call <code>requestUpdate()</code>.</p>
<p>In most cases, <strong>you do not need to create custom property accessors.</strong> To compute values from existing properties, we recommend using the <a href="../lifecycle/index.html#willupdate"><code>willUpdate</code></a> callback, which allows you to set values during the update cycle without triggering an additional update. To perform a custom action after the element updates, we recommend using the <a href="../lifecycle/index.html#updated"><code>updated</code></a> callback. A custom setter can be used in rare cases when it's important to synchronously validate any value the user sets.</p>
<p>If your class defines its own accessors for a property, Lit will not overwrite them with generated accessors. If your class does not define accessors for a property, Lit will generate them, even if a superclass has defined the property or accessors.</p>
<div class="heading h3"><h3 id="accessors-noaccessor">Prevent Lit from generating a property accessor</h3></div>
<p>In rare cases, a subclass may need to change or add property options for a property that exists on its superclass.</p>
<p>To prevent Lit from generating a property accessor that overwrites the superclass's defined accessor, set <code>noAccessor</code> to <code>true</code> in the property declaration:</p>
<pre data-language="js">static properties = {
  myProp: { type: Number, noAccessor: true }
};</pre>
<p>You don't need to set <code>noAccessor</code> when defining your own accessors.</p>
<div class="heading h2"><h2 id="haschanged">Customizing change detection</h2></div>
<p>All reactive properties have a function, <code>hasChanged()</code>, which is called when the property is set.</p>
<p><code>hasChanged</code> compares the property's old and new values, and evaluates whether or not the property has changed. If <code>hasChanged()</code> returns true, Lit starts an element update if one is not already scheduled. For more information on updates, see <a href="../lifecycle/index.html#reactive-update-cycle">Reactive update cycle</a> .</p>
<p>The default implementation of <code>hasChanged()</code> uses a strict inequality comparison: <code>hasChanged()</code> returns <code>true</code> if <code>newVal !== oldVal</code>.</p>
<p>To customize <code>hasChanged()</code> for a property, specify it as a property option:</p>
<litdev-switchable-sample><pre data-language="ts">@property({
  hasChanged(newVal: string, oldVal: string) {
    return newVal?.toLowerCase() !== oldVal?.toLowerCase();
  }
})
myProp: string | undefined;</pre>
<pre data-language="js">static properties = {
  myProp: {
    hasChanged(newVal, oldVal) {
      return newVal?.toLowerCase() !== oldVal?.toLowerCase();
    }
  }
};</pre></litdev-switchable-sample><p>In the following example, <code>hasChanged()</code> only returns true for odd values.</p>

<p id="edit-page-link"><a href="https://github.com/lit/lit.dev/edit/main/packages/lit-dev-content/./site/docs/v3/components/properties.md">Edit this page<lazy-svg loading="visible" svg-aria-hidden href="/images/icons/edit-square.svg.html#icon"></lazy-svg></a></p>
</dl></article><div class="_attribution">
  <p class="_attribution-p">
    &copy; Google LLC<br>Licensed under the Creative Commons Attribution 3.0 Unported License.<br>
    <a href="https://lit.dev/docs/components/properties/" class="_attribution-link">https://lit.dev/docs/components/properties/</a>
  </p>
</div>
