<h1> WrappedListener </h1> <p> class <strong>WrappedListener</strong> </p> <h2>Methods</h2> <table> <tr> <td> </td> <td> <a href="#method___construct">__construct</a>($listener, $name, <a href="../../stopwatch/stopwatch.html" title="Symfony\Component\Stopwatch\Stopwatch">Stopwatch</a> $stopwatch, <a href="../eventdispatcherinterface.html" title="Symfony\Component\EventDispatcher\EventDispatcherInterface">EventDispatcherInterface</a> $dispatcher = null)  </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_getWrappedListener">getWrappedListener</a>()  </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_wasCalled">wasCalled</a>()  </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_stoppedPropagation">stoppedPropagation</a>()  </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_getPretty">getPretty</a>()  </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_getInfo">getInfo</a>($eventName)  </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method___invoke">__invoke</a>(<a href="../event.html" title="Symfony\Component\EventDispatcher\Event">Event</a> $event, $eventName, <a href="../eventdispatcherinterface.html" title="Symfony\Component\EventDispatcher\EventDispatcherInterface">EventDispatcherInterface</a> $dispatcher)  </td> <td></td>
</tr>  </table> <h2>Details</h2> <div id="method-details">  <h3 id="method___construct">                      
    __construct($listener, $name, <a href="../../stopwatch/stopwatch.html" title="Symfony\Component\Stopwatch\Stopwatch">Stopwatch</a> $stopwatch, <a href="../eventdispatcherinterface.html" title="Symfony\Component\EventDispatcher\EventDispatcherInterface">EventDispatcherInterface</a> $dispatcher = null)
         </h3>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td></td> <td>$listener</td> <td></td> </tr> <tr> <td></td> <td>$name</td> <td></td> </tr> <tr> <td><a href="../../stopwatch/stopwatch.html" title="Symfony\Component\Stopwatch\Stopwatch">Stopwatch</a></td> <td>$stopwatch</td> <td></td> </tr> <tr> <td><a href="../eventdispatcherinterface.html" title="Symfony\Component\EventDispatcher\EventDispatcherInterface">EventDispatcherInterface</a></td> <td>$dispatcher</td> <td></td> </tr> </table>     <h3 id="method_getWrappedListener">                      
    getWrappedListener()
         </h3>       <h3 id="method_wasCalled">                      
    wasCalled()
         </h3>       <h3 id="method_stoppedPropagation">                      
    stoppedPropagation()
         </h3>       <h3 id="method_getPretty">                      
    getPretty()
         </h3>       <h3 id="method_getInfo">                      
    getInfo($eventName)
         </h3>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td></td> <td>$eventName</td> <td></td> </tr> </table>     <h3 id="method___invoke">                      
    __invoke(<a href="../event.html" title="Symfony\Component\EventDispatcher\Event">Event</a> $event, $eventName, <a href="../eventdispatcherinterface.html" title="Symfony\Component\EventDispatcher\EventDispatcherInterface">EventDispatcherInterface</a> $dispatcher)
         </h3>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td><a href="../event.html" title="Symfony\Component\EventDispatcher\Event">Event</a></td> <td>$event</td> <td></td> </tr> <tr> <td></td> <td>$eventName</td> <td></td> </tr> <tr> <td><a href="../eventdispatcherinterface.html" title="Symfony\Component\EventDispatcher\EventDispatcherInterface">EventDispatcherInterface</a></td> <td>$dispatcher</td> <td></td> </tr> </table>    </div><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2004&ndash;2017 Fabien Potencier<br>Licensed under the MIT License.<br>
    <a href="https://api.symfony.com/4.1/Symfony/Component/EventDispatcher/Debug/WrappedListener.html" class="_attribution-link">https://api.symfony.com/4.1/Symfony/Component/EventDispatcher/Debug/WrappedListener.html</a>
  </p>
</div>
