<h1 id="template_cloudinit_config">  template_cloudinit_config </h1> <p>Renders a multi-part cloud-init config from source files.</p> <h2 id="example-usage">  Example Usage </h2> <pre data-language="ruby"># Render a part using a `template_file`
data "template_file" "script" {
  template = "${file("${path.module}/init.tpl")}"

  vars {
    consul_address = "${aws_instance.consul.private_ip}"
  }
}

# Render a multi-part cloudinit config making use of the part
# above, and other source files
data "template_cloudinit_config" "config" {
  gzip          = true
  base64_encode = true

  # Setup hello world script to be called by the cloud-config
  part {
    filename     = "init.cfg"
    content_type = "text/part-handler"
    content      = "${data.template_file.script.rendered}"
  }

  part {
    content_type = "text/x-shellscript"
    content      = "baz"
  }

  part {
    content_type = "text/x-shellscript"
    content      = "ffbaz"
  }
}

# Start an AWS instance with the cloudinit config as user data
resource "aws_instance" "web" {
  ami           = "ami-d05e75b8"
  instance_type = "t2.micro"
  user_data     = "${data.template_cloudinit_config.config.rendered}"
}
</pre>
<h2 id="argument-reference">  Argument Reference </h2> <p>The following arguments are supported:</p> <ul> <li>
<p><a href="#gzip"><code>gzip</code></a> - (Optional) Specify whether or not to gzip the rendered output. Default to <code>true</code></p> </li> <li>
<p><a href="#base64_encode"><code>base64_encode</code></a> - (Optional) Base64 encoding of the rendered output. Default to <code>true</code></p> </li> <li>
<p><a href="#part"><code>part</code></a> - (Required) One may specify this many times, this creates a fragment of the rendered cloud-init config file. The order of the parts is maintained in the configuration is maintained in the rendered template.</p> </li> </ul> <p>The <code>part</code> block supports:</p> <ul> <li>
<p><a href="#filename"><code>filename</code></a> - (Optional) Filename to save part as.</p> </li> <li>
<p><a href="#content_type"><code>content_type</code></a> - (Optional) Content type to send file as.</p> </li> <li>
<p><a href="#content"><code>content</code></a> - (Required) Body for the part.</p> </li> <li>
<p><a href="#merge_type"><code>merge_type</code></a> - (Optional) Gives the ability to merge multiple blocks of cloud-config together.</p> </li> </ul> <h2 id="attributes-reference">  Attributes Reference </h2> <p>The following attributes are exported:</p> <ul> <li>
<a href="#rendered"><code>rendered</code></a> - The final rendered multi-part cloudinit config. </li> </ul><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2018 HashiCorp</br>Licensed under the MPL 2.0 License.<br>
    <a href="https://www.terraform.io/docs/providers/template/d/cloudinit_config.html" class="_attribution-link">https://www.terraform.io/docs/providers/template/d/cloudinit_config.html</a>
  </p>
</div>
