<h1 id="template_file">  template_file </h1> <p>Renders a template from a file.</p> <h2 id="example-usage">  Example Usage </h2> <p>Option 1: From a file:</p> <p>Reference the template path:</p> <pre data-language="ruby">data "template_file" "init" {
  template = "${file("${path.module}/init.tpl")}"

  vars {
    consul_address = "${aws_instance.consul.private_ip}"
  }
}
</pre>
<p>Inside the file, reference the variable as such:</p> <pre data-language="shell">#!/bin/bash

echo "CONSUL_ADDRESS = ${consul_address}" &gt; /tmp/iplist
</pre>
<p>Option 2: Inline:</p> <pre data-language="ruby">data "template_file" "init" {
  template = "$${consul_address}:1234"

  vars {
    consul_address = "${aws_instance.consul.private_ip}"
  }
}
</pre>
<h2 id="argument-reference">  Argument Reference </h2> <p>The following arguments are supported:</p> <ul> <li>
<p><a href="#template"><code>template</code></a> - (Required) The contents of the template. These can be loaded from a file on disk using the <a href="../../../configuration/interpolation.html#file_path_"><code>file()</code> interpolation function</a>.</p> </li> <li>
<p><a href="#vars"><code>vars</code></a> - (Optional) Variables for interpolation within the template. Note that variables must all be primitives. Direct references to lists or maps will cause a validation error.</p> </li> </ul> <p>The following arguments are maintained for backwards compatibility and may be removed in a future version:</p> <ul> <li>
<a href="#filename"><code>filename</code></a> - <em>Deprecated, please use <code>template</code> instead</em>. The filename for the template. Use <a href="../../../configuration/interpolation.html#path-variables">path variables</a> to make this path relative to different path roots. </li> </ul> <h2 id="attributes-reference">  Attributes Reference </h2> <p>The following attributes are exported:</p> <ul> <li>
<a href="#template-1"><code>template</code></a> - See Argument Reference above. </li> <li>
<a href="#vars-1"><code>vars</code></a> - See Argument Reference above. </li> <li>
<a href="#rendered"><code>rendered</code></a> - The final rendered template. </li> </ul> <h2 id="template-syntax">  Template Syntax </h2> <p>The syntax of the template files is the same as <a href="../../../configuration/interpolation.html">standard interpolation syntax</a>, but you only have access to the variables defined in the <code>vars</code> section.</p> <p>To access interpolations that are normally available to Terraform configuration (such as other variables, resource attributes, module outputs, etc.) you'll have to expose them via <code>vars</code> as shown below:</p> <pre data-language="ruby">data "template_file" "init" {
  # ...

  vars {
    foo  = "${var.foo}"
    attr = "${aws_instance.foo.private_ip}"
  }
}
</pre>
<h2 id="inline-templates">  Inline Templates </h2> <p>Inline templates allow you to specify the template string inline without loading a file. An example is shown below:</p> <pre data-language="ruby">data "template_file" "init" {
  template = "$${consul_address}:1234"

  vars {
    consul_address = "${aws_instance.consul.private_ip}"
  }
}
</pre>
<blockquote class="alert alert-info" role="alert"> <p><strong>Important:</strong> Template variables in an inline template (such as <code>consul_address</code> above) must be escaped with a double-<code>$</code>. Unescaped interpolations will be processed by Terraform normally prior to executing the template.</p> </blockquote> <p>An example of mixing escaped and non-escaped interpolations in a template:</p> <pre data-language="ruby">variable "port" { default = 80 }

data "template_file" "init" {
  template = "$${foo}:${var.port}"

  vars {
    foo = "${count.index}"
  }
}
</pre>
<p>In the above example, the template is processed by Terraform first to turn it into: <code>${foo}:80</code>. After that, the template is processed as a template to interpolate <code>foo</code>.</p> <p>In general, you should use template variables in the <code>vars</code> block and try not to mix interpolations. This keeps it understandable and has the benefit that you don't have to change anything to switch your template to a file.</p><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2018 HashiCorp</br>Licensed under the MPL 2.0 License.<br>
    <a href="https://www.terraform.io/docs/providers/template/d/file.html" class="_attribution-link">https://www.terraform.io/docs/providers/template/d/file.html</a>
  </p>
</div>
