<h1 id="class-ActionView::Template::Handlers::ERB" class="class"> class ActionView::Template::Handlers::ERB </h1>
<dl class="meta">
<dt>Parent:</dt>
<dd class="meta-parent"><a href="../../../object.html">Object</a></dd>
</dl>  <section id="5Buntitled-5D" class="documentation-section"> <section class="constants-list"> <header> <h3>Constants</h3> </header> <dl> <dt id="ENCODING_TAG">ENCODING_TAG </dt>

</dl> </section> <section id="public-class-5Buntitled-5D-method-details" class="method-section"> <header> <h3>Public Class Methods</h3> </header> <div class="method-detail "> <div class="method-header"> <div class="method-heading" id="method-c-call"> <span class="method-name">call</span><span class="method-args">(template, source)</span> <a class="method-click-advice">Show source</a> </div> </div> <div class="method-description">
<div class="method-source-code" id="call-source"> <pre class="ruby" data-language="ruby"># File actionview/lib/action_view/template/handlers/erb.rb, line 29
def self.call(template, source)
  new.call(template, source)
end</pre> </div>  </div> </div> </section> <section id="public-instance-5Buntitled-5D-method-details" class="method-section"> <header> <h3>Public Instance Methods</h3> </header> <div class="method-detail "> <div class="method-header"> <div class="method-heading" id="method-i-call"> <span class="method-name">call</span><span class="method-args">(template, source)</span> <a class="method-click-advice">Show source</a> </div> </div> <div class="method-description">
<div class="method-source-code" id="call-source"> <pre class="ruby" data-language="ruby"># File actionview/lib/action_view/template/handlers/erb.rb, line 63
def call(template, source)
  # First, convert to BINARY, so in case the encoding is
  # wrong, we can still find an encoding tag
  # (&lt;%# encoding %&gt;) inside the String using a regular
  # expression
  template_source = source.b

  erb = template_source.gsub(ENCODING_TAG, "")
  encoding = $2

  erb.force_encoding valid_encoding(source.dup, encoding)

  # Always make sure we return a String in the default_internal
  erb.encode!

  # Strip trailing newlines from the template if enabled
  erb.chomp! if strip_trailing_newlines

  options = {
    escape: (self.class.escape_ignore_list.include? template.type),
    trim: (self.class.erb_trim_mode == "-")
  }

  if ActionView::Base.annotate_rendered_view_with_filenames &amp;&amp; template.format == :html
    options[:preamble] = "@output_buffer.safe_append='&lt;!-- BEGIN #{template.short_identifier} --&gt;';"
    options[:postamble] = "@output_buffer.safe_append='&lt;!-- END #{template.short_identifier} --&gt;';@output_buffer"
  end

  self.class.erb_implementation.new(erb, options).src
end</pre> </div>  </div> </div> <div class="method-detail "> <div class="method-header"> <div class="method-heading" id="method-i-handles_encoding-3F"> <span class="method-name">handles_encoding?</span><span class="method-args">()</span> <a class="method-click-advice">Show source</a> </div> </div> <div class="method-description">
<div class="method-source-code" id="handles_encoding-3F-source"> <pre class="ruby" data-language="ruby"># File actionview/lib/action_view/template/handlers/erb.rb, line 37
def handles_encoding?
  true
end</pre> </div>  </div> </div> <div class="method-detail "> <div class="method-header"> <div class="method-heading" id="method-i-supports_streaming-3F"> <span class="method-name">supports_streaming?</span><span class="method-args">()</span> <a class="method-click-advice">Show source</a> </div> </div> <div class="method-description">
<div class="method-source-code" id="supports_streaming-3F-source"> <pre class="ruby" data-language="ruby"># File actionview/lib/action_view/template/handlers/erb.rb, line 33
def supports_streaming?
  true
end</pre> </div>  </div> </div> <div class="method-detail "> <div class="method-header"> <div class="method-heading" id="method-i-translate_location"> <span class="method-name">translate_location</span><span class="method-args">(spot, backtrace_location, source)</span> <a class="method-click-advice">Show source</a> </div> </div> <div class="method-description">
<div class="method-source-code" id="translate_location-source"> <pre class="ruby" data-language="ruby"># File actionview/lib/action_view/template/handlers/erb.rb, line 43
def translate_location(spot, backtrace_location, source)
  # Tokenize the source line
  source_lines = source.lines
  return nil if source_lines.size &lt; backtrace_location.lineno
  tokens = ::ERB::Util.tokenize(source_lines[backtrace_location.lineno - 1])
  new_first_column = find_offset(spot[:snippet], tokens, spot[:first_column])
  lineno_delta = spot[:first_lineno] - backtrace_location.lineno
  spot[:first_lineno] -= lineno_delta
  spot[:last_lineno] -= lineno_delta

  column_delta = spot[:first_column] - new_first_column
  spot[:first_column] -= column_delta
  spot[:last_column] -= column_delta
  spot[:script_lines] = source_lines

  spot
rescue NotImplementedError, LocationParsingError
  nil
end</pre> </div> <p>Translate an error location returned by ErrorHighlight to the correct source location inside the template.</p>  </div> </div> </section> </section><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2004&ndash;2021 David Heinemeier Hansson<br>Licensed under the MIT License.<br>
    
  </p>
</div>
