<h1> ResourceInterface </h1> <p> interface <strong>ResourceInterface</strong> </p> <div class="description"> <p>ResourceInterface is the interface that must be implemented by all Resource classes.</p> </div> <h2>Methods</h2> <table> <tr> <td> string </td> <td> <a href="#method___toString">__toString</a>() <p>Returns a string representation of the Resource.</p> </td> <td></td>
</tr>  </table> <h2>Details</h2> <div id="method-details">  <h3 id="method___toString">                      string
    __toString()
         </h3>   <p>Returns a string representation of the Resource.</p> <p>This method is necessary to allow for resource de-duplication, for example by means of array_unique(). The string returned need not have a particular meaning, but has to be identical for different ResourceInterface instances referring to the same resource; and it should be unlikely to collide with that of other, unrelated resource instances.</p>   <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>string</td> <td>A string representation unique to the underlying Resource</td> </tr> </table>    </div><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2004&ndash;2017 Fabien Potencier<br>Licensed under the MIT License.<br>
    <a href="https://api.symfony.com/4.1/Symfony/Component/Config/Resource/ResourceInterface.html" class="_attribution-link">https://api.symfony.com/4.1/Symfony/Component/Config/Resource/ResourceInterface.html</a>
  </p>
</div>
