<article><h1>Decorators</h1>
<p>Decorators are functions that can be used to declaratively annotate and modify the behavior of classes.</p>
<p>Lit provides a set of optional decorators that enable declarative APIs for things like registering elements, defining reactive properties and query properties, or adding event options to event handler methods.</p>
<p>For example, the <code>@customElement</code> and <code>@property()</code> decorators let you register a custom element and define a reactive property in a compact, declarative way:</p>
<pre data-language="ts">@customElement('my-element')
export class MyElement extends LitElement {

  @property()
  greeting = 'Welcome';

}</pre>
<aside class="litdev-aside"><div><svg viewbox="0 0 125 125"><desc>A white letter i in a blue circle</desc><rect x="52.9" y="24.62" fill="#FFF" width="19.2" height="18.94"></rect><rect x="52.9" y="59.18" fill="#FFF" width="19.2" height="41.2"></rect></svg></div>
<div> <p>Lit supports two different versions of the JavaScript decorators proposal – an early version supported by TypeScript that we refer to as <em>experimental decorators</em> and a new and final version we refer to as <em>standard decorators</em>.</p> <p>There are some small differences in usage between the two proposals (standard decorators often require the <code>accessor</code> keyword). Our code samples are written for experimental decorators because we recommend them for production at the moment.</p> <p>See <a href="#decorator-versions">Decorator versions</a> for more details.</p> </div></aside><div class="heading h2"><h2 id="built-in-decorators">Built-in decorators</h2></div>
<table>
<thead><tr>
<th>Decorator</th>
<th>Summary</th>
<th>More Info</th>
</tr></thead>
<tbody>
<tr>
<td><code><a href="../../api/decorators/index.html#customElement">@customElement</a></code></td>
<td>Defines a custom element.</td>
<td><a href="../defining/index.html">Defining</a></td>
</tr>
<tr>
<td><code><a href="../../api/decorators/index.html#eventOptions">@eventOptions</a></code></td>
<td>Adds event listener options.</td>
<td><a href="../events/index.html#event-options-decorator">Events</a></td>
</tr>
<tr>
<td><code><a href="../../api/decorators/index.html#property">@property</a></code></td>
<td>Defines a public property.</td>
<td><a href="../properties/index.html#declare-with-decorators">Properties</a></td>
</tr>
<tr>
<td><code><a href="../../api/decorators/index.html#state">@state</a></code></td>
<td>Defines a private state property</td>
<td><a href="../properties/index.html#declare-with-decorators">Properties</a></td>
</tr>
<tr>
<td><code><a href="../../api/decorators/index.html#query">@query</a></code></td>
<td>Defines a property that returns an element in the component template.</td>
<td><a href="../shadow-dom/index.html#query">Shadow DOM</a></td>
</tr>
<tr>
<td><code><a href="../../api/decorators/index.html#queryAll">@queryAll</a></code></td>
<td>Defines a property that returns a list of elements in the component template.</td>
<td><a href="../shadow-dom/index.html#query-all">Shadow DOM</a></td>
</tr>
<tr>
<td><code><a href="../../api/decorators/index.html#queryAsync">@queryAsync</a></code></td>
<td>Defines a property that returns a promise that resolves to an element in the component template.</td>
<td><a href="../shadow-dom/index.html#query-async">Shadow DOM</a></td>
</tr>
<tr>
<td><code><a href="../../api/decorators/index.html#queryAssignedElements">@queryAssignedElements</a></code></td>
<td>Defines a property that returns the child elements assigned to a specific slot.</td>
<td><a href="../shadow-dom/index.html#query-assigned-nodes">Shadow DOM</a></td>
</tr>
<tr>
<td><code><a href="../../api/decorators/index.html#queryAssignedNodes">@queryAssignedNodes</a></code></td>
<td>Defines a property that returns the child nodes assigned to a specific slot.</td>
<td><a href="../shadow-dom/index.html#query-assigned-nodes">Shadow DOM</a></td>
</tr>
</tbody>
</table>
<div class="heading h2"><h2 id="importing-decorators">Importing decorators</h2></div>
<p>You can import all of the Lit decorators via the <code>lit/decorators.js</code> module:</p>
<pre data-language="js">import {customElement, property, eventOptions, query} from 'lit/decorators.js';</pre>
<p>To reduce the amount of code needed to run the component, decorators can be imported individually into component code. All decorators are available at <code>lit/decorators/&lt;decorator-name&gt;.js</code>. For example,</p>
<pre data-language="js">import {customElement} from 'lit/decorators/custom-element.js';
import {eventOptions} from 'lit/decorators/event-options.js';</pre>
<div class="heading h2"><h2 id="enabling-decorators">Enabling decorators</h2></div>
<p>To use decorators, you need to build your code with a compiler such as <a href="#decorators-typescript">TypeScript</a> or <a href="#decorators-babel">Babel</a>.</p>
<p>In the future when decorators are supported natively in browsers, this will no longer be necessary</p>
<div class="heading h3"><h3 id="decorators-typescript">Using decorators with TypeScript</h3></div>
<p>TypeScript supports both experimental decorators and standard decorators. We recommend that TypeScript developers use experimental decorators for now for <a href="#compiler-output-considerations">optimal compiler output</a>. If your project requires using standard decorators or setting <code>"useDefineForClassFields": true</code>, skip down to <a href="#migrating-typescript-standard-decorators">migrating to standard decorators</a>.</p>
<p>To use experimental decorators you must enable the <code>experimentalDecorators</code> compiler option.</p>
<p>You should also ensure that the <code>useDefineForClassFields</code> setting is <code>false</code>. This is only required when <code>target</code> is set to <code>ES2022</code> or greater, but it is recommended to explicitly set this to <code>false</code>. This is needed to <a href="../properties/index.html#avoiding-issues-with-class-fields">avoid issues with class fields when declaring properties</a>.</p>
<pre data-language="json">// tsconfig.json
{
  "compilerOptions": {
    "experimentalDecorators": true,
    "useDefineForClassFields": false,
  }
}</pre>
<p>Enabling <code>emitDecoratorMetadata</code> is not required and not recommended.</p>
<div class="heading h4"><h4 id="migrating-typescript-standard-decorators">Migrating TypeScript experimental decorators to standard decorators</h4></div>
<p>Lit decorators are designed to support <a href="#standard-decorators">standard decorator syntax</a> (using <code>accessor</code> on class field decorators) with TypeScript's experimental decorator mode.</p>
<p>This allows incremental migration off of experimental decorators starting with the addition of the <code>accessor</code> keyword to decorated properties without a change of behavior. Once all decorated class field use the <code>accessor</code> keyword, you can change your compiler options to complete the migration to standard decorators:</p>
<pre data-language="json">// tsconfig.json
{
  "compilerOptions": {
    "experimentalDecorators": false, // default for TypeScript 5.0 and up
    "useDefineForClassFields": true, // default when "target" is "ES2022" or higher
  }
}</pre>
<p>Note: The <code>accessor</code> keyword was introduced in TypeScript 4.9 and standard decorators with metadata require TypeScript ≥5.2.</p>
<div class="heading h3"><h3 id="decorators-babel">Using decorators with Babel</h3></div>
<p><a href="https://babeljs.io/docs/en/">Babel</a> supports standard decorators with the <a href="https://babeljs.io/docs/en/babel-plugin-proposal-decorators/"><code>@babel/plugin-proposal-decorators</code></a> plugin as of version 7.23. Babel does not support TypeScript experimental decorators, so you must use Lit decorators with <a href="#standard-decorators">standard decorator syntax</a> using the <code>accessor</code> keyword on decorated class fields.</p>
<p>Enable decorators by adding <a href="https://babeljs.io/docs/en/babel-plugin-proposal-decorators/"><code>@babel/plugin-proposal-decorators</code></a> with these Babel configuration settings:</p>
<pre data-language="json">// babel.config.json
{
  "plugins": [
    ["@babel/plugin-proposal-decorators", {"version": "2023-05"}]
  ]
}</pre>
<p>Note: Lit decorators only work with <code>"version": "2023-05"</code>. Other versions, including the formerly supported <code>"2018-09"</code>, are not supported.</p>
<div class="heading h2"><h2 id="decorator-versions">Decorator versions</h2></div>
<p>Decorators are a <a href="https://github.com/tc39/proposal-decorators/">stage 3 proposal</a> for addition to the ECMAScript standard. Compilers like <a href="https://babeljs.io/">Babel</a> and <a href="https://www.typescriptlang.org/">TypeScript</a> support decorators, though no browsers have implemented them yet. Lit decorators work with Babel and TypeScript, and will work in browsers when they implement them natively.</p>
<aside class="litdev-aside"><div><svg viewbox="0 0 125 125"><desc>A white letter i in a blue circle</desc><rect x="52.9" y="24.62" fill="#FFF" width="19.2" height="18.94"></rect><rect x="52.9" y="59.18" fill="#FFF" width="19.2" height="41.2"></rect></svg></div>
<div> <p>What does stage 3 mean?</p> <p>It means that the specification text is complete, and ready for browsers to implement. Once the specification has been implemented in multiple browsers, it can move to the final stage, stage 4, and be added to the ECMAScript standard. A stage 3 proposal will only change if critical issues are discovered during implementation.</p> </div></aside><div class="heading h3"><h3 id="earlier-decorator-proposals">Earlier decorator proposals</h3></div>
<p>Before the TC39 proposal reached stage 3, compilers implemented earlier versions of the decorator specification.</p>
<p>Most notable of these is <a href="https://www.typescriptlang.org/docs/handbook/decorators.html">TypeScript's <em>experimental decorators</em></a> which Lit has supported since its inception and is our current recommendation for use.</p>
<p>Babel has also supported different versions of the specification over time as can be seen from the <a href="https://babeljs.io/docs/babel-plugin-proposal-decorators/#version"><code>"version"</code> option of the decorator plugin</a>. In the past, Lit 2 has supported the <code>"2018-09"</code> version for Babel users but that has now been dropped in favor of the <em>standard</em> <code>"2023-05"</code> version described below.</p>
<div class="heading h3"><h3 id="standard-decorators">Standard decorators</h3></div>
<p><em>Standard decorators</em> is the version of decorators that has reached Stage 3 consensus at TC39, the body that defines ECMAScript/JavaScript.</p>
<p>Standard decorators are supported in TypeScript and Babel, with native browser coming in the near future.</p>
<p>The biggest difference between standard decorators and experimental decorators is that, for performance reasons, standard decorators cannot change the <em>kind</em> of a class member – fields, accessors, and methods – being decorated and replaced, and will only produce the same kind of member.</p>
<p>Since many Lit decorators generate accessors, this means that the decorators need to be applied to accessors, not class fields.</p>
<p>To make this convenient, the standard decorator specification adds the <code>accessor</code> keyword to declare "auto-accessors":</p>
<pre data-language="ts">class MyClass {
  accessor foo = 42;
}</pre>
<p>Auto-accessors create a getter and setter pair that read and write from a private field. Decorators can then wrap these getters and setters.</p>
<p>Lit decorators that work on class fields with experimental decorators – such as <code>@property()</code>, <code>@state()</code>, <code>@query()</code>, etc. – must be applied to accessors or auto-accessors with standard decorators:</p>
<pre data-language="ts">@customElement('my-element')
export class MyElement extends LitElement {

  @property()
  accessor greeting = 'Welcome';

}</pre>
<div class="heading h3"><h3 id="compiler-output-considerations">Compiler output considerations</h3></div>
<p>Compiler output for standard decorators is unfortunately large due to the need to generate the accessors, private storage, and other objects that are part of the decorators API.</p>
<p>So we recommend that users who wish to use decorators, if possible, use TypeScript experimental decorators for now.</p>
<p>In the future the Lit team plans on adding decorator transforms to our optional Lit Compiler in order to compile standard decorators to a more compact compiler output. Native browser support will also eliminate the need for any compiler transforms at all.</p>
<p id="edit-page-link"><a href="https://github.com/lit/lit.dev/edit/main/packages/lit-dev-content/./site/docs/v3/components/decorators.md">Edit this page<lazy-svg loading="visible" svg-aria-hidden href="/images/icons/edit-square.svg.html#icon"></lazy-svg></a></p></article><div class="_attribution">
  <p class="_attribution-p">
    &copy; Google LLC<br>Licensed under the Creative Commons Attribution 3.0 Unported License.<br>
    <a href="https://lit.dev/docs/components/decorators/" class="_attribution-link">https://lit.dev/docs/components/decorators/</a>
  </p>
</div>
