<article><h1>Lists</h1>
<p>You can use standard JavaScript constructs to create repeating templates.</p>
<p>Lit also provides a <code>repeat</code> directive to build certain kinds of dynamic lists more efficiently.</p>
<div class="heading h2"><h2 id="rendering-arrays">Rendering arrays</h2></div>
<p>When an expression in the child position returns an array or iterable, Lit renders all of the items in the array:</p>

<p>In most cases, you'll want to transform the array items into a more useful form.</p>
<div class="heading h2"><h2 id="repeating-templates-with-map">Repeating templates with map</h2></div>
<p>To render lists, you can use <code>map</code> to transform a list of data into a list of templates:</p>

<p>Note that this expression returns an array of <code>TemplateResult</code> objects. Lit will render an array or iterable of sub-templates and other values.</p>
<div class="heading h2"><h2 id="repeating-templates-with-looping-statements">Repeating templates with looping statements</h2></div>
<p>You can also build an array of templates and pass it into a template expression.</p>
<pre data-language="ts">render() {
  const itemTemplates = [];
  for (const i of this.items) {
    itemTemplates.push(html`&lt;li&gt;${i}&lt;/li&gt;`);
  }

  return html`
    &lt;ul&gt;
      ${itemTemplates}
    &lt;/ul&gt;
  `;
}</pre>
<div class="heading h2"><h2 id="the-repeat-directive">The repeat directive</h2></div>
<p>In most cases, using loops or <code>map</code> is an efficient way to build repeating templates. However, if you want to reorder a large list, or mutate it by adding and removing individual entries, this approach can involve updating a large number of DOM nodes.</p>
<p>The <code>repeat</code> directive can help here.</p>
<p>The repeat directive performs efficient updates of lists based on user-supplied keys:</p>
<pre data-language="ts">repeat(items, keyFunction, itemTemplate)</pre>
<p>Where:</p>
<ul>
<li>
<code>items</code> is an array or iterable.</li>
<li>
<code>keyFunction</code> is a function that takes a single item as an argument and returns a guaranteed unique key for that item.</li>
<li>
<code>itemTemplate</code> is a template function that takes the item and its current index as arguments, and returns a <code>TemplateResult</code>.</li>
</ul>
<p>For example:</p>

<p>If you re-sort the <code>employees</code> array, the <code>repeat</code> directive reorders the existing DOM nodes.</p>
<p>To compare this to Lit's default handling for lists, consider reversing a large list of names:</p>
<ul>
<li>For a list created using <code>map</code>, Lit maintains the DOM nodes for the list items, but reassigns the values.</li>
<li>For a list created using <code>repeat</code>, the <code>repeat</code> directive reorders the <em>existing</em> DOM nodes, so the nodes representing the first list item move to the last position.</li>
</ul>
<div class="heading h3"><h3 id="when-to-use-map-or-repeat">When to use map or repeat</h3></div>
<p>Which repeat is more efficient depends on your use case:</p>
<ul>
<li><p>If updating the DOM nodes is more expensive than moving them, use the <code>repeat</code> directive.</p></li>
<li>
<p>If the DOM nodes have state that <em>isn't</em> controlled by a template expression, use the <code>repeat</code> directive.</p>
<p>For example, consider this list:</p>
<pre data-language="js">html`${this.users.map((user) =&gt;
  html`
    &lt;div&gt;&lt;input type="checkbox"&gt; ${user.name}&lt;/div&gt;
  `)
}`</pre>
<p>The checkbox has a checked or unchecked state, but it isn't controlled by a template expression.</p>
<p>If you reorder the list after the user has checked one or more checkboxes, Lit would update the names associated with the checkboxes, but not the state of the checkboxes.</p>
</li>
</ul>
<p>If neither of these situations apply, use <code>map</code> or looping statements.</p>
<p id="edit-page-link"><a href="https://github.com/lit/lit.dev/edit/main/packages/lit-dev-content/./site/docs/v3/templates/lists.md">Edit this page<lazy-svg loading="visible" svg-aria-hidden href="/images/icons/edit-square.svg.html#icon"></lazy-svg></a></p></article><div class="_attribution">
  <p class="_attribution-p">
    &copy; Google LLC<br>Licensed under the Creative Commons Attribution 3.0 Unported License.<br>
    <a href="https://lit.dev/docs/templates/lists/" class="_attribution-link">https://lit.dev/docs/templates/lists/</a>
  </p>
</div>
