<article><h1>Custom directives</h1>
<p>Directives are functions that can extend Lit by customizing how a template expression renders. Directives are useful and powerful because they can be stateful, access the DOM, be notified when templates are disconnected and reconnected, and independently update expressions outside of a render call.</p>
<p>Using a directive in your template is as simple as calling a function in a template expression:</p>
<pre data-language="js">html`&lt;div&gt;
       ${fancyDirective('some text')}
     &lt;/div&gt;`</pre>
<p>Lit ships with a number of <a href="../directives/index.html">built-in directives</a> like <a href="../directives/index.html#repeat"><code>repeat()</code></a> and <a href="../directives/index.html#cache"><code>cache()</code></a>. Users can also write their own custom directives.</p>
<p>There are two kinds of directives:</p>
<ul>
<li>Simple functions</li>
<li>Class-based directives</li>
</ul>
<p>A simple function returns a value to render. It can take any number of arguments, or no arguments at all.</p>
<pre data-language="js">export noVowels = (str) =&gt; str.replaceAll(/[aeiou]/ig,'x');</pre>
<p>A class-based directive lets you do things that a simple function can't. Use a class based directive to:</p>
<ul>
<li>Access the rendered DOM directly (for example, add, remove, or reorder rendered DOM nodes).</li>
<li>Persist state between renders.</li>
<li>Update the DOM asynchronously, outside of a render call.</li>
<li>Clean up resources when the directive is disconnected from the DOM</li>
</ul>
<p>The rest of this page describes class-based directives.</p>
<div class="heading h2"><h2 id="creating-class-based-directives">Creating class-based directives</h2></div>
<p>To create a class-based directive:</p>
<ul>
<li>Implement the directive as a class that extends the <code><a href="../../api/custom-directives/index.html#Directive">Directive</a></code> class.</li>
<li>Pass your class to the <code><a href="../../api/custom-directives/index.html#directive">directive()</a></code> factory to create a directive function that can be used in Lit template expressions.</li>
</ul>
<pre data-language="js">import {Directive, directive} from 'lit/directive.js';

// Define directive
class HelloDirective extends Directive {
  render() {
    return `Hello!`;
  }
}
// Create the directive function
const hello = directive(HelloDirective);

// Use directive
const template = html`&lt;div&gt;${hello()}&lt;/div&gt;`;</pre>
<p>When this template is evaluated, the directive <em>function</em> (<code>hello()</code>) returns a <code>DirectiveResult</code> object, which instructs Lit to create or update an instance of the directive <em>class</em> (<code>HelloDirective</code>). Lit then calls methods on the directive instance to run its update logic.</p>
<p>Some directives need to update the DOM asynchronously, outside of the normal update cycle. To create an <em>async directive</em>, extend the <code>AsyncDirective</code> base class instead of <code>Directive</code>. See <a href="#async-directives">Async directives</a> for details.</p>
<div class="heading h2"><h2 id="lifecycle-of-a-class-based-directive">Lifecycle of a class-based directive</h2></div>
<p>The directive class has a few built-in lifecycle methods:</p>
<ul>
<li>The class constructor, for one-time initialization.</li>
<li>
<code>render()</code>, for declarative rendering.</li>
<li>
<code>update()</code>, for imperative DOM access.</li>
</ul>
<p>You must implement the <code>render()</code> callback for all directives. Implementing <code>update()</code> is optional. The default implementation of <code>update()</code> calls and returns the value from <code>render()</code>.</p>
<p>Async directives, which can update the DOM outside of the normal update cycle, use some additional lifecycle callbacks. See <a href="#async-directives">Async directives</a> for details.</p>
<div class="heading h3"><h3 id="one-time-setup:-constructor()">One-time setup: constructor()</h3></div>
<p>When Lit encounters a <code>DirectiveResult</code> in an expression for the first time, it will construct an instance of the corresponding directive class (causing the directive's constructor and any class field initializers to run):</p>
<litdev-switchable-sample><pre data-language="ts">class MyDirective extends Directive {
  // Class fields will be initialized once and can be used to persist
  // state between renders
  value = 0;
  // Constructor is only run the first time a given directive is used
  // in an expression
  constructor(partInfo: PartInfo) {
    super(partInfo);
    console.log('MyDirective created');
  }
  ...
}</pre>
<pre data-language="js">class MyDirective extends Directive {
  // Class fields will be initialized once and can be used to persist
  // state between renders
  value = 0;
  // Constructor is only run the first time a given directive is used
  // in an expression
  constructor(partInfo) {
    super(partInfo);
    console.log('MyDirective created');
  }
  ...
}</pre></litdev-switchable-sample><p>As long as the same directive function is used in the same expression each render, the previous instance is reused, thus the state of the instance persists between renders.</p>
<p>The constructor receives a single <code>PartInfo</code> object, which provides metadata about the expression the directive was used in. This can be useful for providing error checking in the cases where a directive is designed to be used only in specific types of expressions (see <a href="#limiting-a-directive-to-one-expression-type">Limiting a directive to one expression type</a>).</p>
<div class="heading h3"><h3 id="declarative-rendering:-render()">Declarative rendering: render()</h3></div>
<p>The <code>render()</code> method should return the value to render into the DOM. It can return any renderable value, including another <code>DirectiveResult</code>.</p>
<p>In addition to referring to state on the directive instance, the <code>render()</code> method can also accept arbitrary arguments passed in to the directive function:</p>
<pre data-language="js">const template = html`&lt;div&gt;${myDirective(name, rank)}&lt;/div&gt;`</pre>
<p>The parameters defined for the <code>render()</code> method determine the signature of the directive function:</p>
<litdev-switchable-sample><pre data-language="ts">class MaxDirective extends Directive {
  maxValue = Number.MIN_VALUE;
  // Define a render method, which may accept arguments:
  render(value: number, minValue = Number.MIN_VALUE) {
    this.maxValue = Math.max(value, this.maxValue, minValue);
    return this.maxValue;
  }
}
const max = directive(MaxDirective);

// Call the directive with `value` and `minValue` arguments defined for `render()`:
const template = html`&lt;div&gt;${max(someNumber, 0)}&lt;/div&gt;`;</pre>
<pre data-language="js">class MaxDirective extends Directive {
  maxValue = Number.MIN_VALUE;
  // Define a render method, which may accept arguments:
  render(value, minValue = Number.MIN_VALUE) {
    this.maxValue = Math.max(value, this.maxValue, minValue);
    return this.maxValue;
  }
}
const max = directive(MaxDirective);

// Call the directive with `value` and `minValue` arguments defined for `render()`:
const template = html`&lt;div&gt;${max(someNumber, 0)}&lt;/div&gt;`;</pre></litdev-switchable-sample><div class="heading h3"><h3 id="imperative-dom-access:-update()">Imperative DOM access: update()</h3></div>
<p>In more advanced use cases, your directive may need to access the underlying DOM and imperatively read from or mutate it. You can achieve this by overriding the <code>update()</code> callback.</p>
<p>The <code>update()</code> callback receives two arguments:</p>
<ul>
<li>A <code>Part</code> object with an API for directly managing the DOM associated with the expression.</li>
<li>An array containing the <code>render()</code> arguments.</li>
</ul>
<p>Your <code>update()</code> method should return something Lit can render, or the special value <code>noChange</code> if no re-rendering is required. The <code>update()</code> callback is quite flexible, but typical uses include:</p>
<ul>
<li>Reading data from the DOM, and using it to generate a value to render.</li>
<li>Imperatively updating the DOM using the <code>element</code> or <code>parentNode</code> reference on the <code>Part</code> object. In this case, <code>update()</code> usually returns <code>noChange</code>, indicating that Lit doesn't need to take any further action to render the directive.</li>
</ul>
<div class="heading h4"><h4 id="parts">Parts</h4></div>
<p>Each expression position has its own specific <code>Part</code> object:</p>
<ul>
<li>
<code><a href="../../api/custom-directives/index.html#ChildPart">ChildPart</a></code> for expressions in HTML child position.</li>
<li>
<code><a href="../../api/custom-directives/index.html#AttributePart">AttributePart</a></code> for expressions in HTML attribute value position.</li>
<li>
<code><a href="../../api/custom-directives/index.html#BooleanAttributePart">BooleanAttributePart</a></code> for expressions in a boolean attribute value (name prefixed with <code>?</code>).</li>
<li>
<code><a href="../../api/custom-directives/index.html#EventPart">EventPart</a></code> for expressions in an event listener position (name prefixed with <code>@</code>).</li>
<li>
<code><a href="../../api/custom-directives/index.html#PropertyPart">PropertyPart</a></code> for expressions in property value position (name prefixed with <code>.</code>).</li>
<li>
<code><a href="../../api/custom-directives/index.html#ElementPart">ElementPart</a></code> for expressions on the element tag.</li>
</ul>
<p>In addition to the part-specific metadata contained in <code>PartInfo</code>, all <code>Part</code> types provide access to the DOM <code>element</code> associated with the expression (or <code>parentNode</code>, in the case of <code>ChildPart</code>), which may be directly accessed in <code>update()</code>. For example:</p>
<litdev-switchable-sample><pre data-language="ts">// Renders attribute names of parent element to textContent
class AttributeLogger extends Directive {
  attributeNames = '';
  update(part: ChildPart) {
    this.attributeNames = (part.parentNode as Element).getAttributeNames?.().join(' ');
    return this.render();
  }
  render() {
    return this.attributeNames;
  }
}
const attributeLogger = directive(AttributeLogger);

const template = html`&lt;div a b&gt;${attributeLogger()}&lt;/div&gt;`;
// Renders: `&lt;div a b&gt;a b&lt;/div&gt;`</pre>
<pre data-language="js">// Renders attribute names of parent element to textContent
class AttributeLogger extends Directive {
  attributeNames = '';
  update(part) {
    this.attributeNames = part.parentNode.getAttributeNames?.().join(' ');
    return this.render();
  }
  render() {
    return this.attributeNames;
  }
}
const attributeLogger = directive(AttributeLogger);

const template = html`&lt;div a b&gt;${attributeLogger()}&lt;/div&gt;`;
// Renders: `&lt;div a b&gt;a b&lt;/div&gt;`</pre></litdev-switchable-sample><p>In addition, the <code>directive-helpers.js</code> module includes a number of helper functions which act on <code>Part</code> objects, and can be used to dynamically create, insert, and move parts within a directive's <code>ChildPart</code>.</p>
<div class="heading h4"><h4 id="calling-render()-from-update()">Calling render() from update()</h4></div>
<p>The default implementation of <code>update()</code> simply calls and returns the value from <code>render()</code>. If you override <code>update()</code> and still want to call <code>render()</code> to generate a value, you need to call <code>render()</code> explicitly.</p>
<p>The <code>render()</code> arguments are passed into <code>update()</code> as an array. You can pass the arguments to <code>render()</code> like this:</p>
<litdev-switchable-sample><pre data-language="ts">class MyDirective extends Directive {
  update(part: Part, [fish, bananas]: DirectiveParameters&lt;this&gt;) {
    // ...
    return this.render(fish, bananas);
  }
  render(fish: number, bananas: number) { ... }
}</pre>
<pre data-language="js">class MyDirective extends Directive {
  update(part, [fish, bananas]) {
    // ...
    return this.render(fish, bananas);
  }
  render(fish, bananas) { ... }
}</pre></litdev-switchable-sample><div class="heading h3"><h3 id="differences-between-update()-and-render()">Differences between update() and render()</h3></div>
<p>While the <code>update()</code> callback is more powerful than the <code>render()</code> callback, there is an important distinction: When using the <code>@lit-labs/ssr</code> package for server-side rendering (SSR), <em>only</em> the <code>render()</code> method is called on the server. To be compatible with SSR, directives should return values from <code>render()</code> and only use <code>update()</code> for logic that requires access to the DOM.</p>
<div class="heading h2"><h2 id="signaling-no-change">Signaling no change</h2></div>
<p>Sometimes a directive may have nothing new for Lit to render. You signal this by returning <code>noChange</code> from the <code>update()</code> or <code>render()</code> method. This is different from returning <code>undefined</code>, which causes Lit to clear the <code>Part</code> associated with the directive. Returning <code>noChange</code> leaves the previously rendered value in place.</p>
<p>There are several common reasons for returning <code>noChange</code>:</p>
<ul>
<li>Based on the input values, there's nothing new to render.</li>
<li>The <code>update()</code> method updated the DOM imperatively.</li>
<li>In an async directive, a call to <code>update()</code> or <code>render()</code> may return <code>noChange</code> because there's nothing to render <em>yet</em>.</li>
</ul>
<p>For example, a directive can keep track of the previous values passed in to it, and perform its own dirty checking to determine whether the directive's output needs to be updated. The <code>update()</code> or <code>render()</code> method can return <code>noChange</code> to signal that the directive's output doesn't need to be re-rendered.</p>
<litdev-switchable-sample><pre data-language="ts">import {Directive} from 'lit/directive.js';
import {noChange} from 'lit';
class CalculateDiff extends Directive {
  a?: string;
  b?: string;
  render(a: string, b: string) {
    if (this.a !== a || this.b !== b) {
      this.a = a;
      this.b = b;
      // Expensive &amp; fancy text diffing algorithm
      return calculateDiff(a, b);
    }
    return noChange;
  }
}</pre>
<pre data-language="js">import {Directive} from 'lit/directive.js';
import {noChange} from 'lit';
class CalculateDiff extends Directive {
  render(a, b) {
    if (this.a !== a || this.b !== b) {
      this.a = a;
      this.b = b;
      // Expensive &amp; fancy text diffing algorithm
      return calculateDiff(a, b);
    }
    return noChange;
  }
}</pre></litdev-switchable-sample><div class="heading h2"><h2 id="limiting-a-directive-to-one-expression-type">Limiting a directive to one expression type</h2></div>
<p>Some directives are only useful in one context, such as an attribute expression or a child expression. If placed in the wrong context, the directive should throw an appropriate error.</p>
<p>For example, the <code>classMap</code> directive validates that it is only used in an <code>AttributePart</code> and only for the <code>class</code> attribute`:</p>
<litdev-switchable-sample><pre data-language="ts">class ClassMap extends Directive {
  constructor(partInfo: PartInfo) {
    super(partInfo);
    if (
      partInfo.type !== PartType.ATTRIBUTE ||
      partInfo.name !== 'class'
    ) {
      throw new Error('The `classMap` directive must be used in the `class` attribute');
    }
  }
  ...
}</pre>
<pre data-language="js">class ClassMap extends Directive {
  constructor(partInfo) {
    super(partInfo);
    if (
      partInfo.type !== PartType.ATTRIBUTE ||
      partInfo.name !== 'class'
    ) {
      throw new Error('The `classMap` directive must be used in the `class` attribute');
    }
  }
  ...
}</pre></litdev-switchable-sample><div class="heading h2"><h2 id="async-directives">Async directives</h2></div>
<p>The previous example directives are synchronous: they return values synchronously from their <code>render()</code>/<code>update()</code> lifecycle callbacks, so their results are written to the DOM during the component's <code>update()</code> callback.</p>
<p>Sometimes, you want a directive to be able to update the DOM asynchronously—for example, if it depends on an asynchronous event like a network request.</p>
<p>To update a directive's result asynchronously, a directive needs to extend the <code><a href="../../api/custom-directives/index.html#AsyncDirective">AsyncDirective</a></code> base class, which provides a <code>setValue()</code> API. <code>setValue()</code> allows a directive to "push" a new value into its template expression, outside of the template's normal <code>update</code>/<code>render</code> cycle.</p>
<p>Here's an example of a simple async directive that renders a Promise value:</p>
<litdev-switchable-sample><pre data-language="ts">class ResolvePromise extends AsyncDirective {
  render(promise: Promise&lt;unknown&gt;) {
    Promise.resolve(promise).then((resolvedValue) =&gt; {
      // Rendered asynchronously:
      this.setValue(resolvedValue);
    });
    // Rendered synchronously:
    return `Waiting for promise to resolve`;
  }
}
export const resolvePromise = directive(ResolvePromise);</pre>
<pre data-language="js">class ResolvePromise extends AsyncDirective {
  render(promise) {
    Promise.resolve(promise).then((resolvedValue) =&gt; {
      // Rendered asynchronously:
      this.setValue(resolvedValue);
    });
    // Rendered synchronously:
    return `Waiting for promise to resolve`;
  }
}
export const resolvePromise = directive(ResolvePromise);</pre></litdev-switchable-sample><p>Here, the rendered template shows "Waiting for promise to resolve", followed by the resolved value of the promise, whenever it resolves.</p>
<p>Async directives often need to subscribe to external resources. To prevent memory leaks, async directives should unsubscribe or dispose of resources when the directive instance is no longer in use. For this purpose, <code>AsyncDirective</code> provides the following extra lifecycle callbacks and API:</p>
<ul>
<li>
<p><code>disconnected()</code>: Called when a directive is no longer in use. Directive instances are disconnected in three cases:</p>
<ul>
<li>When the DOM tree the directive is contained in is removed from the DOM</li>
<li>When the directive's host element is disconnected</li>
<li>When the expression that produced the directive no longer resolves to the same directive.</li>
</ul>
<p>After a directive receives a <code>disconnected</code> callback, it should release all resources it may have subscribed to during <code>update</code> or <code>render</code> to prevent memory leaks.</p>
</li>
<li><p><code>reconnected()</code>: Called when a previously disconnected directive is being returned to use. Because DOM subtrees can be temporarily disconnected and then reconnected again later, a disconnected directive may need to react to being reconnected. Examples of this include when DOM is removed and cached for later use, or when a host element is moved causing a disconnection and reconnection. The <code>reconnected()</code> callback should always be implemented alongside <code>disconnected()</code>, in order to restore a disconnected directive back to its working state.</p></li>
<li><p><code>isConnected</code>: Reflects the current connection state of the directive.</p></li>
</ul>
<div class="alert alert-info"><p>Note that it is possible for an <code>AsyncDirective</code> to continue receiving updates while it is disconnected if its containing tree is re-rendered. Because of this, <code>update</code> and/or <code>render</code> should always check the <code>this.isConnected</code> flag before subscribing to any long-held resources to prevent memory leaks.</p></div>
<p>Below is an example of a directive that subscribes to an <code>Observable</code> and handles disconnection and reconnection appropriately:</p>
<litdev-switchable-sample><pre data-language="ts">class ObserveDirective extends AsyncDirective {
  observable: Observable&lt;unknown&gt; | undefined;
  unsubscribe: (() =&gt; void) | undefined;
  // When the observable changes, unsubscribe to the old one and
  // subscribe to the new one
  render(observable: Observable&lt;unknown&gt;) {
    if (this.observable !== observable) {
      this.unsubscribe?.();
      this.observable = observable
      if (this.isConnected)  {
        this.subscribe(observable);
      }
    }
    return noChange;
  }
  // Subscribes to the observable, calling the directive's asynchronous
  // setValue API each time the value changes
  subscribe(observable: Observable&lt;unknown&gt;) {
    this.unsubscribe = observable.subscribe((v: unknown) =&gt; {
      this.setValue(v);
    });
  }
  // When the directive is disconnected from the DOM, unsubscribe to ensure
  // the directive instance can be garbage collected
  disconnected() {
    this.unsubscribe!();
  }
  // If the subtree the directive is in was disconnected and subsequently
  // re-connected, re-subscribe to make the directive operable again
  reconnected() {
    this.subscribe(this.observable!);
  }
}
export const observe = directive(ObserveDirective);</pre>
<pre data-language="js">class ObserveDirective extends AsyncDirective {
  // When the observable changes, unsubscribe to the old one and
  // subscribe to the new one
  render(observable) {
    if (this.observable !== observable) {
      this.unsubscribe?.();
      this.observable = observable
      if (this.isConnected)  {
        this.subscribe(observable);
      }
    }
    return noChange;
  }
  // Subscribes to the observable, calling the directive's asynchronous
  // setValue API each time the value changes
  subscribe(observable) {
    this.unsubscribe = observable.subscribe((v) =&gt; {
      this.setValue(v);
    });
  }
  // When the directive is disconnected from the DOM, unsubscribe to ensure
  // the directive instance can be garbage collected
  disconnected() {
    this.unsubscribe();
  }
  // If the subtree the directive is in was disconneted and subsequently
  // re-connected, re-subscribe to make the directive operable again
  reconnected() {
    this.subscribe(this.observable);
  }
}
export const observe = directive(ObserveDirective);</pre></litdev-switchable-sample><p id="edit-page-link"><a href="https://github.com/lit/lit.dev/edit/main/packages/lit-dev-content/./site/docs/v3/templates/custom-directives.md">Edit this page<lazy-svg loading="visible" svg-aria-hidden href="/images/icons/edit-square.svg.html#icon"></lazy-svg></a></p></article><div class="_attribution">
  <p class="_attribution-p">
    &copy; Google LLC<br>Licensed under the Creative Commons Attribution 3.0 Unported License.<br>
    <a href="https://lit.dev/docs/templates/custom-directives/" class="_attribution-link">https://lit.dev/docs/templates/custom-directives/</a>
  </p>
</div>
