<h1 title="Interface DocumentView" class="title">Interface DocumentView</h1> <section class="class-description" id="class-description">  <pre class="lang-java" data-language="java">public interface DocumentView</pre> <div class="block">The <code>DocumentView</code> interface is implemented by <code>Document</code> objects in DOM implementations supporting DOM Views. It provides an attribute to retrieve the default view of a document. <p>See also the <a href="http://www.w3.org/TR/2000/REC-DOM-Level-2-Views-20001113">Document Object Model (DOM) Level 2 Views Specification</a>.</p>
</div> <dl class="notes"> <dt>Since:</dt> <dd>1.8, DOM Level 2</dd> </dl> </section> <section class="summary"> <section class="method-summary" id="method-summary"> <h2>Method Summary</h2> <div id="method-summary-table">  <div id="method-summary-table.tabpanel" role="tabpanel"> <table class="summary-table three-column-summary" aria-labelledby="method-summary-table-tab0">       <tr>
<th>Modifier and Type</th>
<th>Method</th>
<th>Description</th>
</tr>
<tr>
<td><code><a href="abstractview.html" title="interface in org.w3c.dom.views">AbstractView</a></code></td>
<td><code><a href="#getDefaultView()" class="member-name-link">getDefaultView</a>()</code></td>
<td> <div class="block">The default <code>AbstractView</code> for this <code>Document</code>, or <code>null</code> if none available.</div> </td>
</tr>
</table> </div> </div> </section> </section> <section class="details"> <section class="method-details" id="method-detail"> <h2>Method Details</h2>  </section><section class="detail" id="getDefaultView()"> <h3>getDefaultView</h3> <pre class="lang-java" data-language="java">AbstractView getDefaultView()</pre> <div class="block">The default <code>AbstractView</code> for this <code>Document</code>, or <code>null</code> if none available.</div> </section> </section><div class="_attribution">
  <p class="_attribution-p">
    &copy; 1993, 2023, Oracle and/or its affiliates. All rights reserved.<br>Documentation extracted from Debian's OpenJDK Development Kit package.<br>Licensed under the GNU General Public License, version 2, with the Classpath Exception.<br>Various third party code in OpenJDK is licensed under different licenses (see Debian package).<br>Java and OpenJDK are trademarks or registered trademarks of Oracle and/or its affiliates.<br>
    <a href="https://docs.oracle.com/en/java/javase/21/docs/api/java.xml/org/w3c/dom/views/DocumentView.html" class="_attribution-link">https://docs.oracle.com/en/java/javase/21/docs/api/java.xml/org/w3c/dom/views/DocumentView.html</a>
  </p>
</div>
