<h1 id="link-react-native">
<code>&lt;Link&gt;</code> (React Native)</h1>
<p><docs-info>This is the React Native version of <code>&lt;Link&gt;</code>. For the web version, <a href="link.html">go here</a>.</docs-info></p>
<details> <summary>Type declaration</summary><div><pre data-line-numbers="true" data-lang="tsx" style="color: var(--base05);background-color: var(--base00)" data-language="javascript">declare function Link(props: LinkProps): React.ReactElement;

interface LinkProps extends TouchableHighlightProps {
  children?: React.ReactNode;
  onPress?(event: GestureResponderEvent): void;
  replace?: boolean;
  state?: any;
  to: To;
}
</pre></div></details><p>A <code>&lt;Link&gt;</code> is an element that lets the user navigate to another view by tapping it, similar to how <code>&lt;a&gt;</code> elements work in a web app. In <code>react-router-native</code>, a <code>&lt;Link&gt;</code> renders a <code>TouchableHighlight</code>. To override default styling and behaviour, please refer to the <a href="https://reactnative.dev/docs/touchablehighlight#props">Props reference for <code>TouchableHighlight</code></a>.</p>
<div><pre data-line-numbers="true" data-lang="tsx" style="color: var(--base05);background-color: var(--base00)" data-language="javascript">import * as React from "react";
import { View, Text } from "react-native";
import { Link } from "react-router-native";

function Home() {
  return (
    &lt;View&gt;
      &lt;Text&gt;Welcome!&lt;/Text&gt;
      &lt;Link to="/profile"&gt;
        &lt;Text&gt;Visit your profile&lt;/Text&gt;
      &lt;/Link&gt;
    &lt;/View&gt;
  );
}
</pre></div><div class="_attribution">
  <p class="_attribution-p">
    &copy; React Training 2015-2019<br>&copy; Remix Software 2020-2022<br>Licensed under the MIT License (MIT).<br>
    <a href="https://reactrouterdotcom.fly.dev/docs/en/v6/components/link-native" class="_attribution-link">https://reactrouterdotcom.fly.dev/docs/en/v6/components/link-native</a>
  </p>
</div>
