<h1 id="navlink">
<code>&lt;NavLink&gt;</code>
</h1>
<details> <summary>Type declaration</summary><div><pre data-line-numbers="true" data-lang="tsx" style="color: var(--base05);background-color: var(--base00)" data-language="javascript">declare function NavLink(
  props: NavLinkProps
): React.ReactElement;

interface NavLinkProps
  extends Omit&lt;
    LinkProps,
    "className" | "style" | "children"
  &gt; {
  caseSensitive?: boolean;
  children?:
    | React.ReactNode
    | ((props: { isActive: boolean }) =&gt; React.ReactNode);
  className?:
    | string
    | ((props: {
        isActive: boolean;
      }) =&gt; string | undefined);
  end?: boolean;
  style?:
    | React.CSSProperties
    | ((props: {
        isActive: boolean;
      }) =&gt; React.CSSProperties);
}
</pre></div></details><p>A <code>&lt;NavLink&gt;</code> is a special kind of <a href="link.html"><code>&lt;Link&gt;</code></a> that knows whether or not it is "active". This is useful when building a navigation menu such as a breadcrumb or a set of tabs where you'd like to show which of them is currently selected. It also provides useful context for assistive technology like screen readers.</p>
<p>By default, an <code>active</code> class is added to a <code>&lt;NavLink&gt;</code> component when it is active. This provides the same simple styling mechanism for most users who are upgrading from v5. One difference as of <code>v6.0.0-beta.3</code> is that <code>activeClassName</code> and <code>activeStyle</code> have been removed from <code>NavLinkProps</code>. Instead, you can pass a function to either <code>style</code> or <code>className</code> that will allow you to customize the inline styling or the class string based on the component's active state. You can also pass a function as children to customize the content of the <code>&lt;NavLink&gt;</code> component based on their active state, specially useful to change styles on internal elements.</p>
<div><pre data-line-numbers="true" data-lang="tsx" style="color: var(--base05);background-color: var(--base00)" data-language="javascript">import * as React from "react";
import { NavLink } from "react-router-dom";

function NavList() {
  // This styling will be applied to a &lt;NavLink&gt; when the
  // route that it links to is currently selected.
  let activeStyle = {
    textDecoration: "underline",
  };

  let activeClassName = "underline";

  return (
    &lt;nav&gt;
      &lt;ul&gt;
        &lt;li&gt;
          &lt;NavLink
            to="messages"
            style={({ isActive }) =&gt;
              isActive ? activeStyle : undefined
            }
          &gt;
            Messages
          &lt;/NavLink&gt;
        &lt;/li&gt;
        &lt;li&gt;
          &lt;NavLink
            to="tasks"
            className={({ isActive }) =&gt;
              isActive ? activeClassName : undefined
            }
          &gt;
            Tasks
          &lt;/NavLink&gt;
        &lt;/li&gt;
        &lt;li&gt;
          &lt;NavLink to="tasks"&gt;
            {({ isActive }) =&gt; (
              &lt;span
                className={
                  isActive ? activeClassName : undefined
                }
              &gt;
                Tasks
              &lt;/span&gt;
            )}
          &lt;/NavLink&gt;
        &lt;/li&gt;
      &lt;/ul&gt;
    &lt;/nav&gt;
  );
}
</pre></div>
<p>If you prefer the v5 API, you can create your own <code>&lt;NavLink /&gt;</code> as a wrapper component:</p>
<div><pre data-line-numbers="true" data-lang="tsx" style="color: var(--base05);background-color: var(--base00)" data-language="javascript">import * as React from "react";
import { NavLink as BaseNavLink } from "react-router-dom";

const NavLink = React.forwardRef(
  ({ activeClassName, activeStyle, ...props }, ref) =&gt; {
    return (
      &lt;BaseNavLink
        ref={ref}
        {...props}
        className={({ isActive }) =&gt;
          [
            props.className,
            isActive ? activeClassName : null,
          ]
            .filter(Boolean)
            .join(" ")
        }
        style={({ isActive }) =&gt; ({
          ...props.style,
          ...(isActive ? activeStyle : null),
        })}
      /&gt;
    );
  }
);
</pre></div>
<p>If the <code>end</code> prop is used, it will ensure this component isn't matched as "active" when its descendant paths are matched. For example, to render a link that is only active at the website root and not any other URLs, you can use:</p>
<div><pre data-line-numbers="true" data-lang="tsx" style="color: var(--base05);background-color: var(--base00)" data-language="javascript">&lt;NavLink to="/" end&gt;
  Home
&lt;/NavLink&gt;
</pre></div><div class="_attribution">
  <p class="_attribution-p">
    &copy; React Training 2015-2019<br>&copy; Remix Software 2020-2022<br>Licensed under the MIT License (MIT).<br>
    <a href="https://reactrouterdotcom.fly.dev/docs/en/v6/components/nav-link" class="_attribution-link">https://reactrouterdotcom.fly.dev/docs/en/v6/components/nav-link</a>
  </p>
</div>
