<h1 id="navigate">
<code>&lt;Navigate&gt;</code>
</h1>
<details> <summary>Type declaration</summary><div><pre data-line-numbers="true" data-lang="tsx" style="color: var(--base05);background-color: var(--base00)" data-language="javascript">declare function Navigate(props: NavigateProps): null;

interface NavigateProps {
  to: To;
  replace?: boolean;
  state?: any;
  relative?: RelativeRoutingType;
}
</pre></div></details><p>A <code>&lt;Navigate&gt;</code> element changes the current location when it is rendered. It's a component wrapper around <a href="../hooks/use-navigate.html"><code>useNavigate</code></a>, and accepts all the same arguments as props.</p>
<p><docs-info>Having a component-based version of the <code>useNavigate</code> hook makes it easier to use this feature in a <a href="https://reactjs.org/docs/react-component.html"><code>React.Component</code></a> subclass where hooks are not able to be used.</docs-info></p>
<div><pre data-line-numbers="true" data-lang="tsx" style="color: var(--base05);background-color: var(--base00)" data-language="javascript">import * as React from "react";
import { Navigate } from "react-router-dom";

class LoginForm extends React.Component {
  state = { user: null, error: null };

  async handleSubmit(event) {
    event.preventDefault();
    try {
      let user = await login(event.target);
      this.setState({ user });
    } catch (error) {
      this.setState({ error });
    }
  }

  render() {
    let { user, error } = this.state;
    return (
      &lt;div&gt;
        {error &amp;&amp; &lt;p&gt;{error.message}&lt;/p&gt;}
        {user &amp;&amp; (
          &lt;Navigate to="/dashboard" replace={true} /&gt;
        )}
        &lt;form
          onSubmit={(event) =&gt; this.handleSubmit(event)}
        &gt;
          &lt;input type="text" name="username" /&gt;
          &lt;input type="password" name="password" /&gt;
        &lt;/form&gt;
      &lt;/div&gt;
    );
  }
}
</pre></div><div class="_attribution">
  <p class="_attribution-p">
    &copy; React Training 2015-2019<br>&copy; Remix Software 2020-2022<br>Licensed under the MIT License (MIT).<br>
    <a href="https://reactrouterdotcom.fly.dev/docs/en/v6/components/navigate" class="_attribution-link">https://reactrouterdotcom.fly.dev/docs/en/v6/components/navigate</a>
  </p>
</div>
