<h1 id="scrollrestoration-">
<code>&lt;ScrollRestoration /&gt;</code>
</h1>
<p>This component will emulate the browser's scroll restoration on location changes after loaders have completed to ensure the scroll position is restored to the right spot, even across domains.</p>
<p>You should only render one of these and it's recommended you render it in the root route of your app:</p>
<div><pre data-line-numbers="true" data-lang="tsx" style="color: var(--base05);background-color: var(--base00)" data-language="javascript">import { ScrollRestoration } from "react-router-dom";

function RootRouteComponent() {
  return (
    &lt;div&gt;
      {/* ... */}
      &lt;ScrollRestoration /&gt;
    &lt;/div&gt;
  );
}
</pre></div>
<h2 id="getkey">
<code>getKey</code>
</h2>
<p>Optional prop that defines the key React Router should use to restore scroll positions.</p>
<div><pre data-line-numbers="true" data-lang="tsx" style="color: var(--base05);background-color: var(--base00)" data-language="javascript">&lt;ScrollRestoration
  getKey={(location, matches) =&gt; {
    // default behavior
    return location.key;
  }}
/&gt;
</pre></div>
<p>By default it uses <code>location.key</code>, emulating the browser's default behavior without client side routing. The user can navigate to the same URL multiple times in the stack and each entry gets its own scroll position to restore.</p>
<p>Some apps may want to override this behavior and restore position based on something else. Consider a social app that has four primary pages:</p>
<ul> <li>"/home"</li> <li>"/messages"</li> <li>"/notifications"</li> <li>"/search"</li> </ul>
<p>If the user starts at "/home", scrolls down a bit, clicks "messages" in the navigation menu, then clicks "home" in the navigation menu (not the back button!) there will be three entries in the history stack:</p>

<p>By default, React Router (and the browser) will have two different scroll positions stored for <code>1</code> and <code>3</code> even though they have the same URL. That means as the user navigated from <code>2</code> → <code>3</code> the scroll position goes to the top instead of restoring to where it was in <code>1</code>.</p>
<p>A solid product decision here is to keep the users scroll position on the home feed no matter how they got there (back button or new link clicks). For this, you'd want to use the <code>location.pathname</code> as the key.</p>
<div><pre data-line-numbers="true" data-lang="tsx" style="color: var(--base05);background-color: var(--base00)" data-language="javascript">&lt;ScrollRestoration
  getKey={(location, matches) =&gt; {
    return location.pathname;
  }}
/&gt;
</pre></div>
<p>Or you may want to only use the pathname for some paths, and use the normal behavior for everything else:</p>
<div><pre data-line-numbers="true" data-lang="tsx" style="color: var(--base05);background-color: var(--base00)" data-language="javascript">&lt;ScrollRestoration
  getKey={(location, matches) =&gt; {
    const paths = ["/home", "/notifications"];
    return paths.includes(location.pathname)
      ? // home and notifications restore by pathname
        location.pathname
      : // everything else by location like the browser
        location.key;
  }}
/&gt;
</pre></div>
<h2 id="preventing-scroll-reset">
Preventing Scroll Reset</h2>
<p>When navigation creates new scroll keys, the scroll position is reset to the top of the page. You can prevent the "scroll to top" behavior from your links:</p>
<div><pre data-line-numbers="true" data-lang="tsx" style="color: var(--base05);background-color: var(--base00)" data-language="javascript">&lt;Link preventScrollReset={true} /&gt;
</pre></div>
<p>See also: <a href="link.html#preventscrollreset"><code>&lt;Link preventScrollReset&gt;</code></a></p>
<h2 id="scroll-flashing">
Scroll Flashing</h2>
<p>Without a server side rendering framework like <a href="https://remix.run">Remix</a>, you may experience some scroll flashing on initial page loads. This is because React Router can't restore scroll position until your JS bundles have downloaded, data has loaded, and the full page has rendered (if you're rendering a spinner, the viewport is likely not the size it was when the scroll position was saved).</p>
<p>Server Rendering frameworks can prevent scroll flashing because they can send a fully formed document on the initial load, so scroll can be restored when the page first renders.</p><div class="_attribution">
  <p class="_attribution-p">
    &copy; React Training 2015-2019<br>&copy; Remix Software 2020-2022<br>Licensed under the MIT License (MIT).<br>
    <a href="https://reactrouterdotcom.fly.dev/docs/en/v6/components/scroll-restoration" class="_attribution-link">https://reactrouterdotcom.fly.dev/docs/en/v6/components/scroll-restoration</a>
  </p>
</div>
