<h1> OutputFormatterStyleInterface </h1> <p> interface <strong>OutputFormatterStyleInterface</strong> </p> <div class="description"> <p>Formatter style interface for defining styles.</p> </div> <h2>Methods</h2> <table> <tr> <td> </td> <td> <a href="#method_setForeground">setForeground</a>(string $color = null) <p>Sets style foreground color.</p> </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_setBackground">setBackground</a>(string $color = null) <p>Sets style background color.</p> </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_setOption">setOption</a>(string $option) <p>Sets some specific style option.</p> </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_unsetOption">unsetOption</a>(string $option) <p>Unsets some specific style option.</p> </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_setOptions">setOptions</a>(array $options) <p>Sets multiple style options at once.</p> </td> <td></td>
</tr>  <tr> <td> string </td> <td> <a href="#method_apply">apply</a>(string $text) <p>Applies the style to a given text.</p> </td> <td></td>
</tr>  </table> <h2>Details</h2> <div id="method-details">  <h3 id="method_setForeground">                      
    setForeground(string $color = null)
         </h3>   <p>Sets style foreground color.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>string</td> <td>$color</td> <td>The color name</td> </tr> </table>     <h3 id="method_setBackground">                      
    setBackground(string $color = null)
         </h3>   <p>Sets style background color.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>string</td> <td>$color</td> <td>The color name</td> </tr> </table>     <h3 id="method_setOption">                      
    setOption(string $option)
         </h3>   <p>Sets some specific style option.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>string</td> <td>$option</td> <td>The option name</td> </tr> </table>     <h3 id="method_unsetOption">                      
    unsetOption(string $option)
         </h3>   <p>Unsets some specific style option.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>string</td> <td>$option</td> <td>The option name</td> </tr> </table>     <h3 id="method_setOptions">                      
    setOptions(array $options)
         </h3>   <p>Sets multiple style options at once.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>array</td> <td>$options</td> <td></td> </tr> </table>     <h3 id="method_apply">                      string
    apply(string $text)
         </h3>   <p>Applies the style to a given text.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>string</td> <td>$text</td> <td>The text to style</td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>string</td> <td></td> </tr> </table>    </div><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2004&ndash;2017 Fabien Potencier<br>Licensed under the MIT License.<br>
    <a href="https://api.symfony.com/4.1/Symfony/Component/Console/Formatter/OutputFormatterStyleInterface.html" class="_attribution-link">https://api.symfony.com/4.1/Symfony/Component/Console/Formatter/OutputFormatterStyleInterface.html</a>
  </p>
</div>
