<article><h1>Conditionals</h1>
<p>Since Lit leverages normal Javascript expressions, you can use standard Javascript control flow constructs like <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Conditional_Operator">conditional operators</a>, function calls, and <code>if</code> or <code>switch</code> statements to render conditional content.</p>
<p>JavaScript conditionals also let you combine nested template expressions, and you can even store template results in variables to use elsewhere.</p>
<div class="heading h2"><h2 id="conditionals-with-the-conditional-(ternary)-operator">Conditionals with the conditional (ternary) operator</h2></div>
<p>Ternary expressions with the conditional operator, <code>?</code>, are a great way to add inline conditionals:</p>
<pre data-language="ts">render() {
  return this.userName
    ? html`Welcome ${this.userName}`
    : html`Please log in &lt;button&gt;Login&lt;/button&gt;`;
}</pre>
<div class="heading h2"><h2 id="conditionals-with-if-statements">Conditionals with if statements</h2></div>
<p>You can express conditional logic with if statements outside of a template to compute values to use inside of the template:</p>
<pre data-language="ts">render() {
  let message;
  if (this.userName) {
    message = html`Welcome ${this.userName}`;
  } else {
    message = html`Please log in &lt;button&gt;Login&lt;/button&gt;`;
  }
  return html`&lt;p class="message"&gt;${message}&lt;/p&gt;`;
}</pre>
<p>Alternately, you can factor logic into a separate function to simplify your template:</p>
<pre data-language="ts">getUserMessage() {
  if (this.userName) {
    return html`Welcome ${this.userName}`;
  } else {
    return html`Please log in &lt;button&gt;Login&lt;/button&gt;`;
  }
}
render() {
  return html`&lt;p&gt;${this.getUserMessage()}&lt;/p&gt;`;
}</pre>
<div class="heading h2"><h2 id="caching-template-results:-the-cache-directive">Caching template results: the cache directive</h2></div>
<p>In most cases, JavaScript conditionals are all you need for conditional templates. However, if you're switching between large, complicated templates, you might want to save the cost of recreating DOM on each switch.</p>
<p>In this case, you can use the <code>cache</code> <em>directive</em>. The cache directive caches DOM for templates that aren't being rendered currently.</p>
<pre data-language="ts">render() {
  return html`${cache(this.userName ?
    html`Welcome ${this.userName}`:
    html`Please log in &lt;button&gt;Login&lt;/button&gt;`)
  }`;
}</pre>
<p>See the <a href="../directives/index.html#cache">cache directive</a> for more information.</p>
<div class="heading h2"><h2 id="conditionally-rendering-nothing">Conditionally rendering nothing</h2></div>
<p>Sometimes, you may want to render nothing in one branch of a conditional operator. This is commonly needed for child expressions and also sometimes needed in attribute expressions.</p>
<p>For child expressions, the values <code>undefined</code>, <code>null</code>, the empty string (<code>''</code>), and Lit's <a href="../../api/templates/index.html#nothing">nothing</a> sentinel value all render no nodes. See <a href="../expressions/index.html#removing-child">Removing child content</a> for more information.</p>
<p>This example renders a value if it exists, and otherwise renders nothing:</p>
<pre data-language="ts">render() {
  return html`&lt;user-name&gt;${this.userName ?? nothing}&lt;/user-name&gt;`;
}</pre>
<p>For attribute expressions, Lit's <a href="../../api/templates/index.html#nothing">nothing</a> sentinel value removes the attribute. See <a href="../expressions/index.html#removing-attribute">Removing an attribute</a> for more information.</p>
<p>This example conditionally renders the <code>aria-label</code> attribute:</p>
<pre data-language="ts">html`&lt;button aria-label="${this.ariaLabel || nothing}"&gt;&lt;/button&gt;`</pre>
<p id="edit-page-link"><a href="https://github.com/lit/lit.dev/edit/main/packages/lit-dev-content/./site/docs/v3/templates/conditionals.md">Edit this page<lazy-svg loading="visible" svg-aria-hidden href="/images/icons/edit-square.svg.html#icon"></lazy-svg></a></p></article><div class="_attribution">
  <p class="_attribution-p">
    &copy; Google LLC<br>Licensed under the Creative Commons Attribution 3.0 Unported License.<br>
    <a href="https://lit.dev/docs/templates/conditionals/" class="_attribution-link">https://lit.dev/docs/templates/conditionals/</a>
  </p>
</div>
