<h1 id="module-AbstractController::Caching::Fragments::ClassMethods" class="module"> module AbstractController::Caching::Fragments::ClassMethods </h1>  <section id="5Buntitled-5D" class="documentation-section"> <section id="public-instance-5Buntitled-5D-method-details" class="method-section"> <header> <h3>Public Instance Methods</h3> </header> <div class="method-detail "> <div class="method-header"> <div class="method-heading" id="method-i-fragment_cache_key"> <span class="method-name">fragment_cache_key</span><span class="method-args">(value = nil, &amp;key)</span> <a class="method-click-advice">Show source</a> </div> </div> <div class="method-description">
<div class="method-source-code" id="fragment_cache_key-source"> <pre class="ruby" data-language="ruby"># File actionpack/lib/abstract_controller/caching/fragments.rb, line 59
def fragment_cache_key(value = nil, &amp;key)
  self.fragment_cache_keys += [key || -&gt; { value }]
end</pre> </div> <p>Allows you to specify controller-wide key prefixes for cache fragments. Pass either a constant <code>value</code>, or a block which computes a value each time a cache key is generated.</p> <p>For example, you may want to prefix all fragment cache keys with a global version identifier, so you can easily invalidate all caches.</p> <pre class="ruby" data-language="ruby">class ApplicationController
  fragment_cache_key "v1"
end
</pre> <p>When it’s time to invalidate all fragments, simply change the string constant. Or, progressively roll out the cache invalidation using a computed value:</p> <pre class="ruby" data-language="ruby">class ApplicationController
  fragment_cache_key do
    @account.id.odd? ? "v1" : "v2"
  end
end
</pre>  </div> </div> </section> </section><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2004&ndash;2021 David Heinemeier Hansson<br>Licensed under the MIT License.<br>
    
  </p>
</div>
