<h1> Comparator </h1> <p> class <strong>Comparator</strong> </p> <div class="description"> <p>Comparator.</p> </div> <h2>Methods</h2> <table> <tr> <td> string </td> <td> <a href="#method_getTarget">getTarget</a>() <p>Gets the target value.</p> </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_setTarget">setTarget</a>(string $target) <p>Sets the target value.</p> </td> <td></td>
</tr>  <tr> <td> string </td> <td> <a href="#method_getOperator">getOperator</a>() <p>Gets the comparison operator.</p> </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_setOperator">setOperator</a>(string $operator) <p>Sets the comparison operator.</p> </td> <td></td>
</tr>  <tr> <td> bool </td> <td> <a href="#method_test">test</a>(mixed $test) <p>Tests against the target.</p> </td> <td></td>
</tr>  </table> <h2>Details</h2> <div id="method-details">  <h3 id="method_getTarget">                      string
    getTarget()
         </h3>   <p>Gets the target value.</p>   <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>string</td> <td>The target value</td> </tr> </table>     <h3 id="method_setTarget">                      
    setTarget(string $target)
         </h3>   <p>Sets the target value.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>string</td> <td>$target</td> <td>The target value</td> </tr> </table>     <h3 id="method_getOperator">                      string
    getOperator()
         </h3>   <p>Gets the comparison operator.</p>   <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>string</td> <td>The operator</td> </tr> </table>     <h3 id="method_setOperator">                      
    setOperator(string $operator)
         </h3>   <p>Sets the comparison operator.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>string</td> <td>$operator</td> <td>A valid operator</td> </tr> </table> <h4>Exceptions</h4> <table class="table table-condensed"> <tr> <td><a target="_blank" href="http://php.net/InvalidArgumentException">InvalidArgumentException</a></td> <td></td> </tr> </table>     <h3 id="method_test">                      bool
    test(mixed $test)
         </h3>   <p>Tests against the target.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>mixed</td> <td>$test</td> <td>A test value</td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>bool</td> <td></td> </tr> </table>    </div><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2004&ndash;2017 Fabien Potencier<br>Licensed under the MIT License.<br>
    <a href="https://api.symfony.com/4.1/Symfony/Component/Finder/Comparator/Comparator.html" class="_attribution-link">https://api.symfony.com/4.1/Symfony/Component/Finder/Comparator/Comparator.html</a>
  </p>
</div>
