<article><h1>Components overview</h1>
<p>A Lit component is a reusable piece of UI. You can think of a Lit component as a container that has some state and that displays a UI based on its state. It can also react to user input, fire events—anything you'd expect a UI component to do. And a Lit component is an HTML element, so it has all of the standard element APIs.</p>
<p>Creating a Lit component involves a number of concepts:</p>
<ul>
<li><p><a href="../defining/index.html">Defining a component</a>. A Lit component is implemented as a <em>custom element</em>, registered with the browser.</p></li>
<li><p><a href="../rendering/index.html">Rendering</a>. A component has <em>render method</em> that's called to render the component's contents. In the render method, you define a <em>template</em> for the component.</p></li>
<li><p><a href="../properties/index.html">Reactive properties</a>. Properties hold the state of the component. Changing one or more of the components' <em>reactive properties</em> triggers an update cycle, re-rendering the component.</p></li>
<li><p><a href="../styles/index.html">Styles</a>. A component can define <em>encapsulated styles</em> to control its own appearance.</p></li>
<li><p><a href="../lifecycle/index.html">Lifecycle</a>. Lit defines a set of callbacks that you can override to hook into the component's lifecycle—for example, to run code when the element's added to a page, or whenever the component updates.</p></li>
</ul>
<p>Here's a sample component:</p>

<div code-language="ts"><aside class="litdev-aside"><div><svg viewbox="0 0 125 125"><desc>A white letter i in a blue circle</desc><rect x="52.9" y="24.62" fill="#FFF" width="19.2" height="18.94"></rect><rect x="52.9" y="59.18" fill="#FFF" width="19.2" height="41.2"></rect></svg></div>
<div> <p>This example uses TypeScript decorators.</p> <p>See the <a href="../decorators/index.html">Decorators</a> documentation for more information on configuring TypeScript for decorators.</p> </div></aside></div>
<p id="edit-page-link"><a href="https://github.com/lit/lit.dev/edit/main/packages/lit-dev-content/./site/docs/v3/components/overview.md">Edit this page<lazy-svg loading="visible" svg-aria-hidden href="/images/icons/edit-square.svg.html#icon"></lazy-svg></a></p></article><div class="_attribution">
  <p class="_attribution-p">
    &copy; Google LLC<br>Licensed under the Creative Commons Attribution 3.0 Unported License.<br>
    <a href="https://lit.dev/docs/components/overview/" class="_attribution-link">https://lit.dev/docs/components/overview/</a>
  </p>
</div>
