<h1 id="link">
<code>&lt;Link&gt;</code>
</h1>
<p><docs-info>This is the web version of <code>&lt;Link&gt;</code>. For the React Native version, <a href="link-native.html">go here</a>.</docs-info></p>
<details> <summary>Type declaration</summary><div><pre data-line-numbers="true" data-lang="tsx" style="color: var(--base05);background-color: var(--base00)" data-language="javascript">declare function Link(props: LinkProps): React.ReactElement;

interface LinkProps
  extends Omit&lt;
    React.AnchorHTMLAttributes&lt;HTMLAnchorElement&gt;,
    "href"
  &gt; {
  replace?: boolean;
  state?: any;
  to: To;
  reloadDocument?: boolean;
}

type To = string | Partial&lt;Path&gt;;
</pre></div></details><p>A <code>&lt;Link&gt;</code> is an element that lets the user navigate to another page by clicking or tapping on it. In <code>react-router-dom</code>, a <code>&lt;Link&gt;</code> renders an accessible <code>&lt;a&gt;</code> element with a real <code>href</code> that points to the resource it's linking to. This means that things like right-clicking a <code>&lt;Link&gt;</code> work as you'd expect. You can use <code>&lt;Link reloadDocument&gt;</code> to skip client side routing and let the browser handle the transition normally (as if it were an <code>&lt;a href&gt;</code>).</p>
<div><pre data-line-numbers="true" data-lang="tsx" style="color: var(--base05);background-color: var(--base00)" data-language="javascript">import * as React from "react";
import { Link } from "react-router-dom";

function UsersIndexPage({ users }) {
  return (
    &lt;div&gt;
      &lt;h1&gt;Users&lt;/h1&gt;
      &lt;ul&gt;
        {users.map((user) =&gt; (
          &lt;li key={user.id}&gt;
            &lt;Link to={user.id}&gt;{user.name}&lt;/Link&gt;
          &lt;/li&gt;
        ))}
      &lt;/ul&gt;
    &lt;/div&gt;
  );
}
</pre></div>
<p>A relative <code>&lt;Link to&gt;</code> value (that does not begin with <code>/</code>) resolves relative to the parent route, which means that it builds upon the URL path that was matched by the route that rendered that <code>&lt;Link&gt;</code>. It may contain <code>..</code> to link to routes further up the hierarchy. In these cases, <code>..</code> works exactly like the command-line <code>cd</code> function; each <code>..</code> removes one segment of the parent path.</p>
<p><docs-info><code>&lt;Link to&gt;</code> with a <code>..</code> behaves differently from a normal <code>&lt;a href&gt;</code> when the current URL ends with <code>/</code>. <code>&lt;Link to&gt;</code> ignores the trailing slash, and removes one URL segment for each <code>..</code>. But an <code>&lt;a href&gt;</code> value handles <code>..</code> differently when the current URL ends with <code>/</code> vs when it does not.</docs-info></p>
<h2 id="relative">
<code>relative</code>
</h2>
<p>By default, links are relative to the route hierarchy, so <code>..</code> will go up one <code>Route</code> level. Occasionally, you may find that you have matching URL patterns that do not make sense to be nested, and you're prefer to use relative <em>path</em> routing. You can opt into this behavior with <code>relative</code>:</p>
<div><pre data-line-numbers="true" data-lang="jsx" style="color: var(--base05);background-color: var(--base00)" data-language="javascript">// Contact and EditContact do not share additional UI layout
&lt;Route path="/" element={&lt;Layout /&gt;}&gt;
  &lt;Route path="contacts/:id" element={&lt;Contact /&gt;} /&gt;
  &lt;Route
    path="contacts/:id/edit"
    element={&lt;EditContact /&gt;}
  /&gt;
&lt;/Route&gt;;

function EditContact() {
  // Since Contact is not a parent of EditContact we need to go up one level
  // in the path, instead of one level in the Route hierarchy
  return (
    &lt;Link to=".." relative="path"&gt;
      Cancel
    &lt;/Link&gt;
  );
}
</pre></div>
<h2 id="preventscrollreset">
<code>preventScrollReset</code>
</h2>
<p>If you are using <a href="scroll-restoration.html"><code>&lt;ScrollRestoration&gt;</code></a>, this lets you prevent the scroll position from being reset to the top of the window when the link is clicked.</p>
<div><pre data-line-numbers="true" data-lang="tsx" style="color: var(--base05);background-color: var(--base00)" data-language="javascript">&lt;Link to="?tab=one" preventScrollReset={true} /&gt;
</pre></div>
<p>This does not prevent the scroll position from being restored when the user comes back to the location with the back/forward buttons, it just prevents the reset when the user clicks the link.</p>
<p>An example when you might want this behavior is a list of tabs that manipulate the url search params that aren't at the top of the page. You wouldn't want the scroll position to jump up to the top because it might scroll the toggled content out of the viewport!</p>
<div class="_attribution">
  <p class="_attribution-p">
    &copy; React Training 2015-2019<br>&copy; Remix Software 2020-2022<br>Licensed under the MIT License (MIT).<br>
    <a href="https://reactrouterdotcom.fly.dev/docs/en/v6/components/link" class="_attribution-link">https://reactrouterdotcom.fly.dev/docs/en/v6/components/link</a>
  </p>
</div>
