<h1 id="outlet">
<code>&lt;Outlet&gt;</code>
</h1>
<details> <summary>Type declaration</summary><div><pre data-line-numbers="true" data-lang="tsx" style="color: var(--base05);background-color: var(--base00)" data-language="javascript">interface OutletProps {
  context?: unknown;
}
declare function Outlet(
  props: OutletProps
): React.ReactElement | null;
</pre></div></details><p>An <code>&lt;Outlet&gt;</code> should be used in parent route elements to render their child route elements. This allows nested UI to show up when child routes are rendered. If the parent route matched exactly, it will render a child index route or nothing if there is no index route.</p>
<div><pre data-line-numbers="true" data-lang="tsx" style="color: var(--base05);background-color: var(--base00)" data-language="javascript">function Dashboard() {
  return (
    &lt;div&gt;
      &lt;h1&gt;Dashboard&lt;/h1&gt;

      {/* This element will render either &lt;DashboardMessages&gt; when the URL is
          "/messages", &lt;DashboardTasks&gt; at "/tasks", or null if it is "/"
      */}
      &lt;Outlet /&gt;
    &lt;/div&gt;
  );
}

function App() {
  return (
    &lt;Routes&gt;
      &lt;Route path="/" element={&lt;Dashboard /&gt;}&gt;
        &lt;Route
          path="messages"
          element={&lt;DashboardMessages /&gt;}
        /&gt;
        &lt;Route path="tasks" element={&lt;DashboardTasks /&gt;} /&gt;
      &lt;/Route&gt;
    &lt;/Routes&gt;
  );
}
</pre></div><div class="_attribution">
  <p class="_attribution-p">
    &copy; React Training 2015-2019<br>&copy; Remix Software 2020-2022<br>Licensed under the MIT License (MIT).<br>
    <a href="https://reactrouterdotcom.fly.dev/docs/en/v6/components/outlet" class="_attribution-link">https://reactrouterdotcom.fly.dev/docs/en/v6/components/outlet</a>
  </p>
</div>
