<h1 id="routes">
<code>&lt;Routes&gt;</code>
</h1>
<p>Rendered anywhere in the app, <code>&lt;Routes&gt;</code> will match a set of child routes from the current <a href="../hook/location.html">location</a>.</p>
<div><pre data-line-numbers="true" data-lang="tsx" style="color: var(--base05);background-color: var(--base00)" data-language="javascript">interface RoutesProps {
  children?: React.ReactNode;
  location?: Partial&lt;Location&gt; | string;
}

&lt;Routes location&gt;
  &lt;Route /&gt;
&lt;/Routes&gt;;
</pre></div>
<p><docs-info>If you're using a data router like <a href="../routers/create-browser-router.html"><code>createBrowserRouter</code></a> it is uncommon to use this component as it does not participate in data loading.</docs-info></p>
<p>Whenever the location changes, <code>&lt;Routes&gt;</code> looks through all its child routes to find the best match and renders that branch of the UI. <code>&lt;Route&gt;</code> elements may be nested to indicate nested UI, which also correspond to nested URL paths. Parent routes render their child routes by rendering an <a href="outlet.html"><code>&lt;Outlet&gt;</code></a>.</p>
<div><pre data-line-numbers="true" data-lang="tsx" style="color: var(--base05);background-color: var(--base00)" data-language="javascript">&lt;Routes&gt;
  &lt;Route path="/" element={&lt;Dashboard /&gt;}&gt;
    &lt;Route
      path="messages"
      element={&lt;DashboardMessages /&gt;}
    /&gt;
    &lt;Route path="tasks" element={&lt;DashboardTasks /&gt;} /&gt;
  &lt;/Route&gt;
  &lt;Route path="about" element={&lt;AboutPage /&gt;} /&gt;
&lt;/Routes&gt;
</pre></div><div class="_attribution">
  <p class="_attribution-p">
    &copy; React Training 2015-2019<br>&copy; Remix Software 2020-2022<br>Licensed under the MIT License (MIT).<br>
    <a href="https://reactrouterdotcom.fly.dev/docs/en/v6/components/routes" class="_attribution-link">https://reactrouterdotcom.fly.dev/docs/en/v6/components/routes</a>
  </p>
</div>
