<h1> NormalizerAwareInterface </h1> <p> interface <strong>NormalizerAwareInterface</strong> </p> <div class="description"> <p>Class accepting a normalizer.</p> </div> <h2>Methods</h2> <table> <tr> <td> </td> <td> <a href="#method_setNormalizer">setNormalizer</a>(<a href="normalizerinterface.html" title="Symfony\Component\Serializer\Normalizer\NormalizerInterface">NormalizerInterface</a> $normalizer) <p>Sets the owning Normalizer object.</p> </td> <td></td>
</tr>  </table> <h2>Details</h2> <div id="method-details">  <h3 id="method_setNormalizer">                      
    setNormalizer(<a href="normalizerinterface.html" title="Symfony\Component\Serializer\Normalizer\NormalizerInterface">NormalizerInterface</a> $normalizer)
         </h3>   <p>Sets the owning Normalizer object.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td><a href="normalizerinterface.html" title="Symfony\Component\Serializer\Normalizer\NormalizerInterface">NormalizerInterface</a></td> <td>$normalizer</td> <td></td> </tr> </table>    </div><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2004&ndash;2017 Fabien Potencier<br>Licensed under the MIT License.<br>
    <a href="https://api.symfony.com/4.1/Symfony/Component/Serializer/Normalizer/NormalizerAwareInterface.html" class="_attribution-link">https://api.symfony.com/4.1/Symfony/Component/Serializer/Normalizer/NormalizerAwareInterface.html</a>
  </p>
</div>
