<h1> Forms </h1> <p> class <strong>Forms</strong> </p> <div class="description"> <p>Entry point of the Form component.</p> <p>Use this class to conveniently create new form factories:</p> <pre><code>use Symfony\Component\Form\Forms;

$formFactory = Forms::createFormFactory();

$form = $formFactory-&gt;createBuilder()
    -&gt;add('firstName', 'Symfony\Component\Form\Extension\Core\Type\TextType')
    -&gt;add('lastName', 'Symfony\Component\Form\Extension\Core\Type\TextType')
    -&gt;add('age', 'Symfony\Component\Form\Extension\Core\Type\IntegerType')
    -&gt;add('gender', 'Symfony\Component\Form\Extension\Core\Type\ChoiceType', array(
        'choices' =&gt; array('Male' =&gt; 'm', 'Female' =&gt; 'f'),
    ))
    -&gt;getForm();
</code></pre> <p>You can also add custom extensions to the form factory:</p> <pre><code>$formFactory = Forms::createFormFactoryBuilder()
    -&gt;addExtension(new AcmeExtension())
    -&gt;getFormFactory();
</code></pre> <p>If you create custom form types or type extensions, it is generally recommended to create your own extensions that lazily load these types and type extensions. In projects where performance does not matter that much, you can also pass them directly to the form factory:</p> <pre><code>$formFactory = Forms::createFormFactoryBuilder()
    -&gt;addType(new PersonType())
    -&gt;addType(new PhoneNumberType())
    -&gt;addTypeExtension(new FormTypeHelpTextExtension())
    -&gt;getFormFactory();
</code></pre> <p>Support for the Validator component is provided by ValidatorExtension. This extension needs a validator object to function properly:</p> <pre><code>use Symfony\Component\Validator\Validation;
use Symfony\Component\Form\Extension\Validator\ValidatorExtension;

$validator = Validation::createValidator();
$formFactory = Forms::createFormFactoryBuilder()
    -&gt;addExtension(new ValidatorExtension($validator))
    -&gt;getFormFactory();
</code></pre> <p>Support for the Templating component is provided by TemplatingExtension. This extension needs a PhpEngine object for rendering forms. As second argument you should pass the names of the default themes. Here is an example for using the default layout with "</p> <p>&lt;</p> <p>div&gt;" tags:</p> <pre><code>use Symfony\Component\Form\Extension\Templating\TemplatingExtension;

$formFactory = Forms::createFormFactoryBuilder()
    -&gt;addExtension(new TemplatingExtension($engine, null, array(
        'FrameworkBundle:Form',
    )))
    -&gt;getFormFactory();
</code></pre> <p>The next example shows how to include the "</p> <p>&lt;</p> <p>table&gt;" layout:</p> <pre><code>use Symfony\Component\Form\Extension\Templating\TemplatingExtension;

$formFactory = Forms::createFormFactoryBuilder()
    -&gt;addExtension(new TemplatingExtension($engine, null, array(
        'FrameworkBundle:Form',
        'FrameworkBundle:FormTable',
    )))
    -&gt;getFormFactory();
</code></pre> </div> <h2>Methods</h2> <table> <tr> <td> static <a href="formfactoryinterface.html" title="Symfony\Component\Form\FormFactoryInterface">FormFactoryInterface</a> </td> <td> <a href="#method_createFormFactory">createFormFactory</a>() <p>Creates a form factory with the default configuration.</p> </td> <td></td>
</tr>  <tr> <td> static <a href="formfactorybuilderinterface.html" title="Symfony\Component\Form\FormFactoryBuilderInterface">FormFactoryBuilderInterface</a> </td> <td> <a href="#method_createFormFactoryBuilder">createFormFactoryBuilder</a>() <p>Creates a form factory builder with the default configuration.</p> </td> <td></td>
</tr>  </table> <h2>Details</h2> <div id="method-details">  <h3 id="method_createFormFactory">          static            <a href="formfactoryinterface.html" title="Symfony\Component\Form\FormFactoryInterface">FormFactoryInterface</a>
    createFormFactory()
         </h3>   <p>Creates a form factory with the default configuration.</p>   <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td><a href="formfactoryinterface.html" title="Symfony\Component\Form\FormFactoryInterface">FormFactoryInterface</a></td> <td>The form factory</td> </tr> </table>     <h3 id="method_createFormFactoryBuilder">          static            <a href="formfactorybuilderinterface.html" title="Symfony\Component\Form\FormFactoryBuilderInterface">FormFactoryBuilderInterface</a>
    createFormFactoryBuilder()
         </h3>   <p>Creates a form factory builder with the default configuration.</p>   <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td><a href="formfactorybuilderinterface.html" title="Symfony\Component\Form\FormFactoryBuilderInterface">FormFactoryBuilderInterface</a></td> <td>The form factory builder</td> </tr> </table>    </div><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2004&ndash;2017 Fabien Potencier<br>Licensed under the MIT License.<br>
    <a href="https://api.symfony.com/4.1/Symfony/Component/Form/Forms.html" class="_attribution-link">https://api.symfony.com/4.1/Symfony/Component/Form/Forms.html</a>
  </p>
</div>
