<h1> MessageSubscriberInterface </h1> <p> interface <strong>MessageSubscriberInterface</strong> implements <a href="messagehandlerinterface.html" title="Symfony\Component\Messenger\Handler\MessageHandlerInterface">MessageHandlerInterface</a> </p> <div class="description"> <p>Handlers can implement this interface to handle multiple messages.</p> </div> <h2>Methods</h2> <table> <tr> <td> static iterable </td> <td> <a href="#method_getHandledMessages">getHandledMessages</a>() <p>Returns a list of messages to be handled.</p> </td> <td></td>
</tr>  </table> <h2>Details</h2> <div id="method-details">  <h3 id="method_getHandledMessages">          static            iterable
    getHandledMessages()
         </h3>   <p>Returns a list of messages to be handled.</p> <p>It returns a list of messages like in the following example:</p> <pre><code>return [MyMessage::class];
</code></pre> <p>It can also change the priority per classes.</p> <pre><code>return [
    [FirstMessage::class, 0],
    [SecondMessage::class, -10],
];
</code></pre> <p>It can also specify a method and/or a priority per message:</p> <pre><code>return [
    FirstMessage::class =&gt; 'firstMessageMethod',
    SecondMessage::class =&gt; ['secondMessageMethod', 20],
];
</code></pre> <p>The <code>__invoke</code> method of the handler will be called as usual with the message to handle.</p>   <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>iterable</td> <td></td> </tr> </table>    </div><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2004&ndash;2017 Fabien Potencier<br>Licensed under the MIT License.<br>
    <a href="https://api.symfony.com/4.1/Symfony/Component/Messenger/Handler/MessageSubscriberInterface.html" class="_attribution-link">https://api.symfony.com/4.1/Symfony/Component/Messenger/Handler/MessageSubscriberInterface.html</a>
  </p>
</div>
