<h1> FormatExceptionContext </h1> <p> class <strong>FormatExceptionContext</strong> </p> <h2>Methods</h2> <table> <tr> <td> </td> <td> <a href="#method___construct">__construct</a>(string $data, string $path, int $lineno, int $cursor)  </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_getPath">getPath</a>()  </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_getLineno">getLineno</a>()  </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_getDetails">getDetails</a>()  </td> <td></td>
</tr>  </table> <h2>Details</h2> <div id="method-details">  <h3 id="method___construct">                      
    __construct(string $data, string $path, int $lineno, int $cursor)
         </h3>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>string</td> <td>$data</td> <td></td> </tr> <tr> <td>string</td> <td>$path</td> <td></td> </tr> <tr> <td>int</td> <td>$lineno</td> <td></td> </tr> <tr> <td>int</td> <td>$cursor</td> <td></td> </tr> </table>     <h3 id="method_getPath">                      
    getPath()
         </h3>       <h3 id="method_getLineno">                      
    getLineno()
         </h3>       <h3 id="method_getDetails">                      
    getDetails()
         </h3>      </div><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2004&ndash;2017 Fabien Potencier<br>Licensed under the MIT License.<br>
    <a href="https://api.symfony.com/4.1/Symfony/Component/Dotenv/Exception/FormatExceptionContext.html" class="_attribution-link">https://api.symfony.com/4.1/Symfony/Component/Dotenv/Exception/FormatExceptionContext.html</a>
  </p>
</div>
