<h1> DebugClassLoader </h1> <p> class <strong>DebugClassLoader</strong> </p> <div class="description"> <p>Autoloader checking if the class is really defined in the file found.</p> <p>The ClassLoader will wrap all registered autoloaders and will throw an exception if a file is found but does not declare the class.</p> </div> <h2>Methods</h2> <table> <tr> <td> </td> <td> <a href="#method___construct">__construct</a>(callable $classLoader)  </td> <td></td>
</tr>  <tr> <td> callable </td> <td> <a href="#method_getClassLoader">getClassLoader</a>() <p>Gets the wrapped class loader.</p> </td> <td></td>
</tr>  <tr> <td> static </td> <td> <a href="#method_enable">enable</a>() <p>Wraps all autoloaders.</p> </td> <td></td>
</tr>  <tr> <td> static </td> <td> <a href="#method_disable">disable</a>() <p>Disables the wrapping.</p> </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_loadClass">loadClass</a>(string $class) <p>Loads the given class or interface.</p> </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_checkAnnotations">checkAnnotations</a>(<a target="_blank" href="http://php.net/ReflectionClass">ReflectionClass</a> $refl, $class)  </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_checkCase">checkCase</a>(<a target="_blank" href="http://php.net/ReflectionClass">ReflectionClass</a> $refl, $file, $class)  </td> <td></td>
</tr>  </table> <h2>Details</h2> <div id="method-details">  <h3 id="method___construct">                      
    __construct(callable $classLoader)
         </h3>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>callable</td> <td>$classLoader</td> <td></td> </tr> </table>     <h3 id="method_getClassLoader">                      callable
    getClassLoader()
         </h3>   <p>Gets the wrapped class loader.</p>   <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>callable</td> <td>The wrapped class loader</td> </tr> </table>     <h3 id="method_enable">          static            
    enable()
         </h3>   <p>Wraps all autoloaders.</p>       <h3 id="method_disable">          static            
    disable()
         </h3>   <p>Disables the wrapping.</p>       <h3 id="method_loadClass">                      
    loadClass(string $class)
         </h3>   <p>Loads the given class or interface.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>string</td> <td>$class</td> <td>The name of the class</td> </tr> </table> <h4>Exceptions</h4> <table class="table table-condensed"> <tr> <td><a target="_blank" href="http://php.net/RuntimeException">RuntimeException</a></td> <td></td> </tr> </table>     <h3 id="method_checkAnnotations">                      
    checkAnnotations(<a target="_blank" href="http://php.net/ReflectionClass">ReflectionClass</a> $refl, $class)
         </h3>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td><a target="_blank" href="http://php.net/ReflectionClass">ReflectionClass</a></td> <td>$refl</td> <td></td> </tr> <tr> <td></td> <td>$class</td> <td></td> </tr> </table>     <h3 id="method_checkCase">                      
    checkCase(<a target="_blank" href="http://php.net/ReflectionClass">ReflectionClass</a> $refl, $file, $class)
         </h3>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td><a target="_blank" href="http://php.net/ReflectionClass">ReflectionClass</a></td> <td>$refl</td> <td></td> </tr> <tr> <td></td> <td>$file</td> <td></td> </tr> <tr> <td></td> <td>$class</td> <td></td> </tr> </table>    </div><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2004&ndash;2017 Fabien Potencier<br>Licensed under the MIT License.<br>
    <a href="https://api.symfony.com/4.1/Symfony/Component/Debug/DebugClassLoader.html" class="_attribution-link">https://api.symfony.com/4.1/Symfony/Component/Debug/DebugClassLoader.html</a>
  </p>
</div>
