<h1> ConstraintViolationAssertion </h1> <p> class <strong>ConstraintViolationAssertion</strong> </p> <h2>Methods</h2> <table> <tr> <td> </td> <td> <a href="#method___construct">__construct</a>(<a href="../context/executioncontextinterface.html" title="Symfony\Component\Validator\Context\ExecutionContextInterface">ExecutionContextInterface</a> $context, $message, <a href="../constraint.html" title="Symfony\Component\Validator\Constraint">Constraint</a> $constraint = null, array $assertions = array())  </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_atPath">atPath</a>($path)  </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_setParameter">setParameter</a>($key, $value)  </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_setParameters">setParameters</a>(array $parameters)  </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_setTranslationDomain">setTranslationDomain</a>($translationDomain)  </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_setInvalidValue">setInvalidValue</a>($invalidValue)  </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_setPlural">setPlural</a>($number)  </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_setCode">setCode</a>($code)  </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_setCause">setCause</a>($cause)  </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_buildNextViolation">buildNextViolation</a>($message)  </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_assertRaised">assertRaised</a>()  </td> <td></td>
</tr>  </table> <h2>Details</h2> <div id="method-details">  <h3 id="method___construct">                      
    __construct(<a href="../context/executioncontextinterface.html" title="Symfony\Component\Validator\Context\ExecutionContextInterface">ExecutionContextInterface</a> $context, $message, <a href="../constraint.html" title="Symfony\Component\Validator\Constraint">Constraint</a> $constraint = null, array $assertions = array())
         </h3>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td><a href="../context/executioncontextinterface.html" title="Symfony\Component\Validator\Context\ExecutionContextInterface">ExecutionContextInterface</a></td> <td>$context</td> <td></td> </tr> <tr> <td></td> <td>$message</td> <td></td> </tr> <tr> <td><a href="../constraint.html" title="Symfony\Component\Validator\Constraint">Constraint</a></td> <td>$constraint</td> <td></td> </tr> <tr> <td>array</td> <td>$assertions</td> <td></td> </tr> </table>     <h3 id="method_atPath">                      
    atPath($path)
         </h3>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td></td> <td>$path</td> <td></td> </tr> </table>     <h3 id="method_setParameter">                      
    setParameter($key, $value)
         </h3>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td></td> <td>$key</td> <td></td> </tr> <tr> <td></td> <td>$value</td> <td></td> </tr> </table>     <h3 id="method_setParameters">                      
    setParameters(array $parameters)
         </h3>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>array</td> <td>$parameters</td> <td></td> </tr> </table>     <h3 id="method_setTranslationDomain">                      
    setTranslationDomain($translationDomain)
         </h3>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td></td> <td>$translationDomain</td> <td></td> </tr> </table>     <h3 id="method_setInvalidValue">                      
    setInvalidValue($invalidValue)
         </h3>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td></td> <td>$invalidValue</td> <td></td> </tr> </table>     <h3 id="method_setPlural">                      
    setPlural($number)
         </h3>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td></td> <td>$number</td> <td></td> </tr> </table>     <h3 id="method_setCode">                      
    setCode($code)
         </h3>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td></td> <td>$code</td> <td></td> </tr> </table>     <h3 id="method_setCause">                      
    setCause($cause)
         </h3>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td></td> <td>$cause</td> <td></td> </tr> </table>     <h3 id="method_buildNextViolation">                      
    buildNextViolation($message)
         </h3>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td></td> <td>$message</td> <td></td> </tr> </table>     <h3 id="method_assertRaised">                      
    assertRaised()
         </h3>      </div><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2004&ndash;2017 Fabien Potencier<br>Licensed under the MIT License.<br>
    <a href="https://api.symfony.com/4.1/Symfony/Component/Validator/Test/ConstraintViolationAssertion.html" class="_attribution-link">https://api.symfony.com/4.1/Symfony/Component/Validator/Test/ConstraintViolationAssertion.html</a>
  </p>
</div>
