<article><h1>Expressions</h1>
<p>Lit templates can include dynamic values called expressions. An expression can be any JavaScript expression. The expression is evaluated when the template is evaluated, and the result of the expression is included when the template renders. In a Lit component, this means whenever the <code>render</code> method is called.</p>
<p>Expressions can only be placed in specific locations in the template, and how an expression is interpreted depends on where it appears. Expressions inside the element tag itself affect the element. Expressions inside the element's content, where child nodes go, render child nodes or text.</p>
<p>Valid values for expressions differ based on where the expression occurs. Generally all expressions accept primitive values like strings and numbers, and some expressions support additional value types. In addition, all expressions can accept <em>directives</em>, which are special functions that customize the way an expression is processed and rendered. See <a href="../custom-directives/index.html">Custom directives</a> for more information.</p>
<p>Here's a quick reference followed by more detailed information about each expression type.</p>
<table class="wide-table">
<thead><tr>
<th class="no-wrap-cell">Type</th>
<th class="wide-cell">Example</th>
</tr></thead>
<tbody>
<tr>
<td class="no-wrap-cell"><p><a href="#child-expressions">Child nodes</a></p></td>
<td><pre data-language="js">html`
&lt;h1&gt;Hello ${name}&lt;/h1&gt;
&lt;ul&gt;
  ${listItems}
&lt;/ul&gt;`</pre></td>
</tr>
<tr>
<td class="no-wrap-cell"><p><a href="#attribute-expressions">Attributes</a></p></td>
<td><pre data-language="js">html`&lt;div class=${highlightClass}&gt;&lt;/div&gt;`</pre></td>
</tr>
<tr>
<td class="no-wrap-cell"><p><a href="#boolean-attribute-expressions">Boolean Attributes</a></p></td>
<td><pre data-language="js">html`&lt;div ?hidden=${!show}&gt;&lt;/div&gt;`</pre></td>
</tr>
<tr>
<td class="no-wrap-cell"><p><a href="#property-expressions">Properties</a></p></td>
<td><pre data-language="js">html`&lt;input .value=${value}&gt;`</pre></td>
</tr>
<tr>
<td class="no-wrap-cell"><p><a href="#event-listener-expressions">Event listeners</a></p></td>
<td><pre data-language="js">html`&lt;button @click=${this._clickHandler}&gt;Go&lt;/button&gt;`</pre></td>
</tr>
<tr>
<td class="no-wrap-cell"><p><a href="#element-expressions">Element directives</a></p></td>
<td><pre data-language="js">html`&lt;input ${ref(inputRef)}&gt;`</pre></td>
</tr>
</tbody>
</table>
<p>This basic example shows a variety of different kinds of expressions.</p>

<p>The following sections describe each kind of expression in more detail. For more information about the structure of templates, see <a href="#well-formed-html">Well-formed HTML</a> and <a href="#expression-locations">Valid expression locations</a>.</p>
<div class="heading h2"><h2 id="child-expressions">Child expressions</h2></div>
<p>An expression that occurs between the start and end tags of an element can add child nodes to the element. For example:</p>
<pre data-language="js">html`&lt;p&gt;Hello, ${name}&lt;/p&gt;`</pre>
<p>Or:</p>
<pre data-language="js">html`&lt;main&gt;${bodyText}&lt;/main&gt;`</pre>
<p>Expressions in the child position can take many kinds of values:</p>
<ul>
<li>Primitive values likes strings, numbers, and booleans.</li>
<li>
<code>TemplateResult</code> objects created with the <a href="../../api/templates/index.html#html"><code>html</code></a> function (or the <a href="../../api/templates/index.html#svg"><code>svg</code></a> function, if the expression is inside an <code>&lt;svg&gt;</code> element).</li>
<li>DOM nodes.</li>
<li>The sentinel values <a href="../conditionals/index.html#conditionally-rendering-nothing"><code>nothing</code></a> and <a href="../custom-directives/index.html#signaling-no-change"><code>noChange</code></a>.</li>
<li>Arrays or iterables of any of the supported types.</li>
</ul>
<div class="heading h3"><h3 id="primitive-values">Primitive values</h3></div>
<p>Lit can render almost all <a href="https://developer.mozilla.org/en-US/docs/Glossary/Primitive/">primitive values</a> and converts them to strings when interpolated into text content.</p>
<p>Numbers values like <code>5</code> will render the string <code>'5'</code>. Bigints are treated similarly.</p>
<p>A boolean value <code>true</code> will render <code>'true'</code>, and <code>false</code> will render <code>'false'</code>, but rendering a boolean like this is uncommon. Instead booleans are typically used in conditionals to render other appropriate values. For more on conditionals, see <a href="../conditionals/index.html">Conditionals</a>.</p>
<p>The empty string <code>''</code>, <code>null</code>, and <code>undefined</code> are specially treated and render nothing. See <a href="#removing-child">Removing child content</a> for more information.</p>
<p>Symbol values cannot be converted to strings and throw when placed in child expressions.</p>
<div class="heading h3"><h3 id="sentinel-values">Sentinel values</h3></div>
<p>Lit supplies a couple of special sentinel values that can be used in child expressions.</p>
<p>The <code>noChange</code> sentinel value does not change the expression's existing value. It is typically used in custom directives. See <a href="../custom-directives/index.html#signaling-no-change">Signaling no change</a> for more information.</p>
<p>The <code>nothing</code> sentinel renders nothing. See <a href="#removing-child">Removing child content</a> for more information.</p>
<div class="heading h3"><h3 id="templates">Templates</h3></div>
<p>Since an expression in the child position can return a <code>TemplateResult</code>, you can nest and compose templates:</p>
<pre data-language="js">const nav = html`&lt;nav&gt;...&lt;/nav&gt;`;
const page = html`
  ${nav}
  &lt;main&gt;...&lt;/main&gt;
`;</pre>
<p>This means you can use plain JavaScript to create conditional templates, repeating templates, and more.</p>
<pre data-language="js">html`
  ${this.user.isloggedIn
      ? html`Welcome ${this.user.name}`
      : html`Please log in`
  }
`;</pre>
<p>For more on conditionals, see <a href="../conditionals/index.html">Conditionals</a>.</p>
<p>For more on using JavaScript to create repeating templates, see <a href="../lists/index.html">Lists</a>.</p>
<div class="heading h3"><h3 id="dom-nodes">DOM nodes</h3></div>
<p>Any DOM node can be passed to a child expression. Typically DOM nodes should be rendered by specifying a template using <code>html</code>, but a DOM node can be directly rendered like this when needed. The node is attached to the DOM tree at that point, and so removed from any current parent:</p>
<pre data-language="js">const div = document.createElement('div');
const page = html`
  ${div}
  &lt;p&gt;This is some text&lt;/p&gt;
`;</pre>
<div class="heading h3"><h3 id="arrays-or-iterables-of-any-of-the-supported-types">Arrays or iterables of any of the supported types</h3></div>
<p>An expression can also return an array or iterable of any of the supported types, in any combination. You can use this feature along with standard JavaScript like the Array <code>map</code> method to create repeating templates and lists. For examples, see <a href="../lists/index.html">Lists</a>.</p>
<div class="heading h3"><h3 id="removing-child">Removing child content</h3></div>
<p>The values <code>null</code>, <code>undefined</code>, the empty string <code>''</code>, and Lit's <a href="../../api/templates/index.html#nothing">nothing</a> sentinel value remove any previously rendered content and render no node.</p>
<p>Setting or removing child content is often done based on a condition. See <a href="../conditionals/index.html#conditionally-rendering-nothing">Conditionally rendering nothing</a> for more information.</p>
<p>Rendering no node can be important when an expression is a child of an element with Shadow DOM that includes a <code>slot</code> with fallback content. Rendering no node ensures the fallback content is rendered. See <a href="../../components/shadow-dom/index.html#fallback">fallback content</a> for more information.</p>
<div class="heading h2"><h2 id="attribute-expressions">Attribute expressions</h2></div>
<p>In addition to using expressions to add child nodes, you can use them to set an elements's attributes and properties, too.</p>
<p>By default, an expression in the value of an attribute sets the attribute:</p>
<pre data-language="js">html`&lt;div class=${this.textClass}&gt;Stylish text.&lt;/div&gt;`;</pre>
<p>Since attribute values are always strings, the expression should return a value that can be converted into a string.</p>
<p>If the expression makes up the entire attribute value, you can leave off the quotes. If the expression makes up only part of the attribute value, you need to quote the entire value:</p>
<pre data-language="js">html`&lt;img src="/images/${this.image}"&gt;`;</pre>
<p>Note, some primitive values are handled specially in attributes. Boolean values are converted to strings so, for example, <code>false</code> renders <code>'false'</code>. Both <code>undefined</code> and <code>null</code> render to an attribute as an empty string.</p>
<div class="heading h3"><h3 id="boolean-attribute-expressions">Boolean attributes</h3></div>
<p>To set a boolean attribute, use the <code>?</code> prefix with the attribute name. The attribute is added if the expression evaluates to a truthy value, removed if it evaluates to a falsy value:</p>
<pre data-language="js">html`&lt;div ?hidden=${!this.showAdditional}&gt;This text may be hidden.&lt;/div&gt;`;</pre>
<div class="heading h3"><h3 id="removing-attribute">Removing an attribute</h3></div>
<p>Sometimes you want to set an attribute only under certain conditions, and otherwise remove the attribute. For common "boolean attributes" like <code>disabled</code> and <code>hidden</code> where you want to set the attribute to an empty string for a truthy value and remove it otherwise, use a <a href="#boolean-attribute-expressions">boolean attribute</a>. Sometimes, however, you might require a different condition for adding or removing an attribute.</p>
<p>For example, consider:</p>
<pre data-language="js">html`&lt;img src="/images/${this.imagePath}/${this.imageFile}"&gt;`;</pre>
<p>If <code>this.imagePath</code> or <code>this.imageFile</code> is not defined, the <code>src</code> attribute should not be set or an invalid network request will occur.</p>
<p>Lit's <a href="../../api/templates/index.html#nothing">nothing</a> sentinel value addresses this by removing the attribute when any expression in the attribute value evaluates to <code>nothing</code>.</p>
<pre data-language="js">html`&lt;img src="/images/${this.imagePath ?? nothing}/${this.imageFile ?? nothing}"&gt;`;</pre>
<p>In this example <strong>both</strong> the <code>this.imagePath</code> and <code>this.imageFile</code> properties must be defined for the <code>src</code> attribute to be set. The <code>??</code> <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Nullish_coalescing_operator">nullish coalescing operator</a> returns the right-hand value if the left-hand value is <code>null</code> or <code>undefined</code>.</p>
<p>Lit also provides an <a href="../../api/directives/index.html#ifDefined">ifDefined</a> directive which is sugar for <code>value ?? nothing</code>.</p>
<pre data-language="js">html`&lt;img src="/images/${ifDefined(this.imagePath)}/${ifDefined(this.imageFile)}"&gt;`;</pre>
<p>You might also want to remove the attribute if the value is not truthy so that values of <code>false</code> or empty string <code>''</code> remove the attribute. For example, consider an element that has default value for <code>this.ariaLabel</code> of empty string <code>''</code>:</p>
<pre data-language="js">html`&lt;button aria-label="${this.ariaLabel || nothing}"&gt;&lt;/button&gt;`</pre>
<p>In this example the <code>aria-label</code> attribute is rendered only if <code>this.ariaLabel</code> is not an empty string.</p>
<p>Setting or removing an attribute is often done based on a condition. See <a href="../conditionals/index.html#conditionally-rendering-nothing">Conditionally rendering nothing</a> for more information.</p>
<div class="heading h2"><h2 id="property-expressions">Property expressions</h2></div>
<p>You can set a JavaScript property on an element using the <code>.</code> prefix and the property name:</p>
<pre data-language="js">html`&lt;input .value=${this.itemCount}&gt;`;</pre>
<p>The behavior of the code above is the same as directly setting the <code>value</code> property on the <code>input</code> element, e.g.:</p>
<pre data-language="js">inputEl.value = this.itemCount;</pre>
<p>You can use the property expression syntax to pass complex data down the tree to subcomponents. For example, if you have a <code>my-list</code> component with a <code>listItems</code> property, you could pass it an array of objects:</p>
<pre data-language="js">html`&lt;my-list .listItems=${this.items}&gt;&lt;/my-list&gt;`;</pre>
<p>Note that the property name in this example—<code>listItems</code>—is mixed case. Although HTML <em>attributes</em> are case-insensitive, Lit preserves the case for property names when it processes the template.</p>
<p>For more information about component properties, see <a href="../../components/properties/index.html">Reactive properties</a>.</p>
<div class="heading h2"><h2 id="event-listener-expressions">Event listener expressions</h2></div>
<p>Templates can also include declarative event listeners. Use the prefix <code>@</code> followed by the event name. The expression should evaluate to an event listener.</p>
<pre data-language="js">html`&lt;button @click=${this.clickHandler}&gt;Click Me!&lt;/button&gt;`;</pre>
<p>This is similar to calling <code>addEventListener('click', this.clickHandler)</code> on the button element.</p>
<p>The event listener can be either a plain function, or an object with a <code>handleEvent</code> method — the same as the <code>listener</code> argument to the standard <a href="https://developer.mozilla.org/en-US/docs/Web/API/EventTarget/addEventListener/"><code>addEventListener</code></a> method.</p>
<p>In a Lit component, the event listener is automatically bound to the component, so you can use the <code>this</code> value inside the handler to refer to the component instance.</p>
<pre data-language="js">clickHandler() {
  this.clickCount++;
}</pre>
<p>For more information about component events, see <a href="../../components/events/index.html">Events</a>.</p>
<div class="heading h2"><h2 id="element-expressions">Element expressions</h2></div>
<p>You can also add an expression that accesses an element instance, instead of a single property or attribute on an element:</p>
<pre data-language="js">html`&lt;div ${myDirective()}&gt;&lt;/div&gt;`</pre>
<p>Element expressions only work with <a href="../directives/index.html">directives</a>. Any other value type in an element expression is ignored.</p>
<p>One built-in directive that can be used in an element expression is the <code>ref</code> directive. It provides a reference to the rendered element.</p>
<pre data-language="js">html`&lt;button ${ref(this.myRef)}&gt;&lt;/button&gt;`;</pre>
<p>See <a href="../directives/index.html#ref">ref</a> for more information.</p>
<div class="heading h2"><h2 id="well-formed-html">Well-formed HTML</h2></div>
<p>Lit templates must be well-formed HTML. The templates are parsed by the browser's built-in HTML parser before any values are interpolated. Follow these rules for well-formed templates:</p>
<ul>
<li><p>Templates must be well-formed HTML when all expressions are replaced by empty values.</p></li>
<li><p>Templates can have multiple top-level elements and text.</p></li>
<li>
<p>Templates <em>should not contain</em> unclosed elements—they will be closed by the HTML parser.</p>
<pre data-language="js">// HTML parser closes this div after "Some text"
const template1 = html`&lt;div class="broken-div"&gt;Some text`;
// When joined, "more text" does not end up in .broken-div
const template2 = html`${template1} more text. &lt;/div&gt;`;</pre>
</li>
</ul>
<div class="alert alert-info"><p>Because the browser's built-in parser is very lenient, most cases of malformed templates are not detectable at runtime, so you won't see warnings—just templates that don't behave as you expect. We recommend using <a href="../../tools/development/index.html#linting">linting tools</a> and <a href="../../tools/development/index.html#ide-plugins">IDE plugins</a> to find issues in your templates during development.</p></div>
<div class="heading h2"><h2 id="expression-locations">Valid expression locations</h2></div>
<p>Expressions <strong><em>can only occur</em></strong> where you can place attribute values and child elements in HTML.</p>
<pre data-language="html">&lt;!-- attribute values --&gt;
&lt;div label=${label}&gt;&lt;/div&gt;
&lt;button ?disabled=${isDisabled}&gt;Click me!&lt;/button&gt;
&lt;input .value=${currentValue}&gt;
&lt;button @click=${this.handleClick()}&gt;

&lt;!-- child content --&gt;
&lt;div&gt;${textContent}&lt;/div&gt;</pre>
<p>Element expressions can occur inside the opening tag after the tag name:</p>
<pre data-language="html">&lt;div ${ref(elementReference)}&gt;&lt;/div&gt;</pre>
<div class="heading h3"><h3 id="invalid-locations">Invalid locations</h3></div>
<p>Expressions should generally not appear in the following locations:</p>
<ul>
<li>
<p>Where tag or attribute names would appear. Lit does not support dynamically changing values in this position and will error in development mode.</p>
<pre data-language="html">&lt;!-- ERROR --&gt;
&lt;${tagName}&gt;&lt;/${tagName}&gt;

&lt;!-- ERROR --&gt;
&lt;div ${attrName}=true&gt;&lt;/div&gt;</pre>
</li>
<li>
<p>Inside <code>&lt;template&gt;</code> element content (attribute expressions on the template element itself are allowed). Lit does not recurse into template content to dynamically update expressions and will error in development mode.</p>
<pre data-language="html">&lt;!-- ERROR --&gt;
&lt;template&gt;${content}&lt;/template&gt;

&lt;!-- OK --&gt;
&lt;template id="${attrValue}"&gt;static content ok&lt;/template&gt;</pre>
</li>
<li>
<p>Inside <code>&lt;textarea&gt;</code> element content (attribute expressions on the textarea element itself are allowed). Note that Lit can render content into textarea, however editing the textarea will break references to the DOM that Lit uses to dynamically update, and Lit will warn in development mode. Instead, bind to the <code>.value</code> property of textarea.</p>
<pre data-language="html">&lt;!-- BEWARE --&gt;
&lt;textarea&gt;${content}&lt;/textarea&gt;

&lt;!-- OK --&gt;
&lt;textarea .value=${content}&gt;&lt;/textarea&gt;

&lt;!-- OK --&gt;
&lt;textarea id="${attrValue}"&gt;static content ok&lt;/textarea&gt;</pre>
</li>
<li>
<p>Similarly, inside elements with the <code>contenteditable</code> attribute. Instead, bind to the <code>.innerText</code> property of the element.</p>
<pre data-language="html">&lt;!-- BEWARE --&gt;
&lt;div contenteditable&gt;${content}&lt;/div&gt;

&lt;!-- OK --&gt;
&lt;div contenteditable .innerText=${content}&gt;&lt;/div&gt;

&lt;!-- OK --&gt;
&lt;div contenteditable id="${attrValue}"&gt;static content ok&lt;/div&gt;</pre>
</li>
<li>
<p>Inside HTML comments. Lit will not update expressions in comments, and the expressions will instead be rendered with a Lit token string. However, this will not break subsequent expressions, so commenting out blocks of HTML during development that may contain expressions is safe.</p>
<pre data-language="html">&lt;!-- will not update: ${value} --&gt;</pre>
</li>
<li><p>Inside <code>&lt;style&gt;</code> elements when using the ShadyCSS polyfill. See <a href="../../components/styles/index.html#style-element">Expressions and style elements</a> for more details.</p></li>
</ul>
<p>Note that expressions in all the invalid cases above are valid when using <a href="#static-expressions">static expressions</a>, although these should not be used for performance-sensitive updates due to the inefficiencies involved (see below).</p>
<div class="heading h2"><h2 id="static-expressions">Static expressions</h2></div>
<p>Static expressions return special values that are interpolated into the template <em>before</em> the template is processed as HTML by Lit. Because they become part of the template's static HTML, they can be placed anywhere in the template - even where expressions would normally be disallowed, such as in attribute and tag names.</p>
<p>To use static expressions, you must import a special version of the <code>html</code> or <code>svg</code> template tags from Lit's <code>static-html</code> module:</p>
<pre data-language="ts">import {html, literal} from 'lit/static-html.js';</pre>
<p>The <code>static-html</code> module contains <code>html</code> and <code>svg</code> tag functions which support static expressions and should be used instead of the standard versions provided in the <code>lit</code> module. Use the <code>literal</code> tag function to create static expressions.</p>
<p>You can use static expressions for configuration options that are unlikely to change or for customizing parts of the template you cannot with normal expressions - see the section on <a href="#expression-locations">Valid expression locations</a> for details. For example, a <code>my-button</code> component might render a <code>&lt;button&gt;</code> tag, but a subclass might render an <code>&lt;a&gt;</code> tag, instead. This is a good place to use a static expression because the setting does not change frequently and customizing an HTML tag cannot be done with a normal expression.</p>
<litdev-switchable-sample><pre data-language="ts">import {LitElement} from 'lit';
import {customElement, property} from 'lit/decorators.js';
import {html, literal} from 'lit/static-html.js';

@customElement('my-button')
class MyButton extends LitElement {
  tag = literal`button`;
  activeAttribute = literal`active`;
  @property() caption = 'Hello static';
  @property({type: Boolean}) active = false;

  render() {
    return html`
      &lt;${this.tag} ${this.activeAttribute}=${this.active}&gt;
        &lt;p&gt;${this.caption}&lt;/p&gt;
      &lt;/${this.tag}&gt;`;
  }
}</pre>
<pre data-language="js">import {LitElement} from 'lit';
import {html, literal} from 'lit/static-html.js';

class MyButton extends LitElement {
  static properties = {
    caption: {},
    active: {type: Boolean},
  };

  tag = literal`button`;
  activeAttribute = literal`active`;

  constructor() {
    super();
    this.caption = 'Hello static';
    this.active = false;
  }

  render() {
    return html`
      &lt;${this.tag} ${this.activeAttribute}=${this.active}&gt;
        &lt;p&gt;${this.caption}&lt;/p&gt;
      &lt;/${this.tag}&gt;`;
  }
}
customElements.define('my-button', MyButton);</pre></litdev-switchable-sample><litdev-switchable-sample><pre data-language="ts">@customElement('my-anchor')
class MyAnchor extends MyButton {
  tag = literal`a`;
}</pre>
<pre data-language="js">class MyAnchor extends MyButton {
  tag = literal`a`;
}
customElements.define('my-anchor', MyAnchor);</pre></litdev-switchable-sample><div class="alert alert-warning"><p><strong>Changing the value of static expressions is expensive.</strong> Expressions using <code>literal</code> values should not change frequently, as they cause a new template to be re-parsed and each variation is held in memory.</p></div>
<p>In the example above, if the template re-renders and <code>this.caption</code> or <code>this.active</code> change, Lit updates the template efficiently, only changing the affected expressions. However, if <code>this.tag</code> or <code>this.activeAttribute</code> change, since they are static values tagged with <code>literal</code>, an entirely new template is created; the update is inefficient since the DOM is completely re-rendered. In addition, changing <code>literal</code> values passed to expressions increases memory use since each unique template is cached in memory to improve re-render performance.</p>
<p>For these reasons, it's a good idea keep changes to expressions using <code>literal</code> to a minimum and avoid using reactive properties to change <code>literal</code> values, since reactive properties are intended to change.</p>
<div class="heading h3"><h3 id="template-structure">Template structure</h3></div>
<p>After static values have been interpolated, the template must be well-formed like normal Lit templates, otherwise the dynamic expressions in the template might not function properly. See the <a href="#well-formed-html">Well-formed HTML</a> section for more information.</p>
<div class="heading h3"><h3 id="non-literal-statics">Non-literal statics</h3></div>
<p>In rare cases, you may need to interpolate static HTML into a template that is not defined in your script, and thus cannot be tagged with the <code>literal</code> function. For these cases, the <code>unsafeStatic()</code> function can be used to create static HTML based on strings from non-script sources.</p>
<pre data-language="ts">import {html, unsafeStatic} from 'lit/static-html.js';</pre>
<div class="alert alert-warning"><p><strong>Only for trusted content.</strong> Note the use of <em>unsafe</em> in <code>unsafeStatic()</code>. The string passed to <code>unsafeStatic()</code> must be developer-controlled and not include untrusted content, because it will be parsed directly as HTML with no sanitization. Examples of untrusted content include query string parameters and values from user inputs. Untrusted content rendered with this directive could lead to <a href="https://en.wikipedia.org/wiki/Cross-site_scripting">cross-site scripting (XSS)</a> vulnerabilities.</p></div>
<litdev-switchable-sample><pre data-language="ts">@customElement('my-button')
class MyButton extends LitElement {
  @property() caption = 'Hello static';
  @property({type: Boolean}) active = false;

  render() {
    // These strings MUST be trusted, otherwise this is an XSS vulnerability
    const tag = getTagName();
    const activeAttribute = getActiveAttribute();
    // html should be imported from `lit/static-html.js`
    return html`
      &lt;${unsafeStatic(tag)} ${unsafeStatic(activeAttribute)}=${this.active}&gt;
        &lt;p&gt;${this.caption}&lt;/p&gt;
      &lt;/${unsafeStatic(tag)}&gt;`;
  }
}</pre>
<pre data-language="js">class MyButton extends LitElement {
  static properties = {
    caption: {},
    active: {type: Boolean},
  };

  constructor() {
    super();
    this.caption = 'Hello static';
    this.active = false;
  }

  render() {
    // These strings MUST be trusted, otherwise this is an XSS vulnerability
    const tag = getTagName();
    const activeAttribute = getActiveAttribute();
    // html should be imported from `lit/static-html.js`
    return html`
      &lt;${unsafeStatic(tag)} ${unsafeStatic(activeAttribute)}=${this.active}&gt;
        &lt;p&gt;${this.caption}&lt;/p&gt;
      &lt;/${unsafeStatic(tag)}&gt;`;
  }
}
customElements.define('my-button', MyButton);</pre></litdev-switchable-sample><p>Note that the behavior of using <code>unsafeStatic</code> carries the same caveats as <code>literal</code>: because changing values causes a new template to be parsed and cached in memory, they should not change frequently.</p>
<p id="edit-page-link"><a href="https://github.com/lit/lit.dev/edit/main/packages/lit-dev-content/./site/docs/v3/templates/expressions.md">Edit this page<lazy-svg loading="visible" svg-aria-hidden href="/images/icons/edit-square.svg.html#icon"></lazy-svg></a></p></article><div class="_attribution">
  <p class="_attribution-p">
    &copy; Google LLC<br>Licensed under the Creative Commons Attribution 3.0 Unported License.<br>
    <a href="https://lit.dev/docs/templates/expressions/" class="_attribution-link">https://lit.dev/docs/templates/expressions/</a>
  </p>
</div>
