<article><h1>Built-in directives</h1>
<p>Directives are functions that can extend Lit by customizing the way an expression renders. Lit includes a number of built-in directives to help with a variety of rendering needs:</p>
<table class="directory">
<tr>
<th>Directive</th>
<th>Summary</th>
</tr>
<tr class="subheading"><td colspan="2"><p>Styling</p></td></tr>
<tr>
<td><p><a href="#classmap"><code>classMap</code></a></p></td>
<td><p>Assigns a list of classes to an element based on an object.</p></td>

</tr>
<tr>
<td><p><a href="#stylemap"><code>styleMap</code></a></p></td>
<td><p>Sets a list of style properties to an element based on an object.</p></td>

</tr>
<tr class="subheading"><td colspan="2"><p>Loops and Conditionals</p></td></tr>
<tr>
<td><p><a href="#when"><code>when</code></a></p></td>
<td>Renders one of two templates based on a condition.</td>
</tr>
<tr>
<td><p><a href="#choose"><code>choose</code></a></p></td>
<td>Renders one of many templates based on a key value.</td>
</tr>
<tr>
<td><p><a href="#map"><code>map</code></a></p></td>
<td>Transforms an iterable with a function.</td>
</tr>
<tr>
<td><p><a href="#repeat"><code>repeat</code></a></p></td>
<td>Renders values from an iterable into the DOM, with optional keying to enable data diffing and DOM stability.</td>
</tr>
<tr>
<td><p><a href="#join"><code>join</code></a></p></td>
<td>Interleave values from an iterable with a joiner value.</td>
</tr>
<tr>
<td><p><a href="#range"><code>range</code></a></p></td>
<td>Creates an iterable of numbers in a sequence, useful for iterating a specific number of times.</td>
</tr>
<tr>
<td><p><a href="#ifdefined"><code>ifDefined</code></a></p></td>
<td>Sets an attribute if the value is defined and removes the attribute if undefined.</td>
</tr>
<tr class="subheading"><td colspan="2"><p>Caching and change detection</p></td></tr>
<tr>
<td><p><a href="#cache"><code>cache</code></a></p></td>
<td>Caches rendered DOM when changing templates rather than discarding the DOM.</td>
</tr>
<tr>
<td><p><a href="#keyed"><code>keyed</code></a></p></td>
<td>Associates a renderable value with a unique key, forcing the DOM to re-render if the key changes.</td>
</tr>
<tr>
<td><p><a href="#guard"><code>guard</code></a></p></td>
<td>Only re-evaluates the template when one of its dependencies changes.</td>
</tr>
<tr>
<td><p><a href="#live"><code>live</code></a></p></td>
<td>Sets an attribute or property if it differs from the live DOM value rather than the last-rendered value.</td>
</tr>
<tr class="subheading"><td colspan="2"><p>Referencing rendered DOM</p></td></tr>
<tr>
<td><p><a href="#ref"><code>ref</code></a></p></td>
<td>Gets a reference to an element rendered in the template.</td>
</tr>
<tr class="subheading"><td colspan="2"><p>Rendering special values</p></td></tr>
<tr>
<td><p><a href="#templatecontent"><code>templateContent</code></a></p></td>
<td><p>Renders the content of a <code>&lt;template&gt;</code> element.</p></td>
</tr>
<tr>
<td><p><a href="#unsafehtml"><code>unsafeHTML</code></a></p></td>
<td>Renders a string as HTML rather than text.</td>
</tr>
<tr>
<td><p><a href="#unsafesvg"><code>unsafeSVG</code></a></p></td>
<td>Renders a string as SVG rather than text.</td>
</tr>
<tr class="subheading"><td colspan="2"><p>Asynchronous rendering</p></td></tr>
<tr>
<td><p><a href="#until"><code>until</code></a></p></td>
<td>Renders placeholder content until one or more promises resolve.</td>
</tr>
<tr>
<td><p><a href="#asyncappend"><code>asyncAppend</code></a></p></td>
<td><p>Appends values from an <code>AsyncIterable</code> into the DOM as they are yielded.</p></td>
</tr>
<tr>
<td><p><a href="#asyncreplace"><code>asyncReplace</code></a></p></td>
<td><p>Renders the latest value from an <code>AsyncIterable</code> into the DOM as it is yielded.</p></td>
</tr>
</table>
<div class="alert alert-info"><p><strong>Only bundle what you use.</strong> These are called "built-in" directives because they're part of the Lit package. But each directive is a separate module, so your app only bundles the directives you import.</p></div>
<p>You can also build your own directives. For more information, see <a href="../custom-directives/index.html">Custom directives</a>.</p>
<div class="heading h2"><h2 id="styling">Styling</h2></div>
<div class="heading h3"><h3 id="classmap">classMap</h3></div>
<p>Sets a list of classes to an element based on an object.</p>
<table>
<thead><tr>
<th></th>
<th></th>
</tr></thead>
<tbody>
<tr>
<td class="no-wrap-cell vcenter-cell">Import</td>
<td class="wide-cell"><pre data-language="js">import {classMap} from 'lit/directives/class-map.js';</pre></td>
</tr>
<tr>
<td class="no-wrap-cell vcenter-cell">Signature</td>
<td class="wide-cell"><pre data-language="ts">classMap(classInfo: {[name: string]: string | boolean | number})</pre></td>
</tr>
<tr>
<td class="no-wrap-cell vcenter-cell">Usable location</td>
<td class="wide-cell"><p><code>class</code> attribute expression (must be the only expression in the <code>class</code> attribute)</p></td>
</tr>
</tbody>
</table>
<p>The <code>classMap</code> directive uses the <code>element.classList</code> API to efficiently add and remove classes to an element based on an object passed by the user. Each key in the object is treated as a class name, and if the value associated with the key is truthy, that class is added to the element. On subsequent renders, any previously set classes that are falsy or no longer in the object are removed.</p>
<litdev-switchable-sample><pre data-language="ts">@customElement('my-element')
class MyElement extends LitElement {

  @property({type: Boolean})
  enabled = false;

  render() {
    const classes = { enabled: this.enabled, hidden: false };
    return html`&lt;div class=${classMap(classes)}&gt;Classy text&lt;/div&gt;`;
  }
}</pre>
<pre data-language="js">class MyElement extends LitElement {
  static properties = {
    enabled: {type: Boolean},
  };

  constructor() {
    super();
    this.enabled = false;
  }

  render() {
    const classes = { enabled: this.enabled, hidden: false };
    return html`&lt;div class=${classMap(classes)}&gt;Classy text&lt;/div&gt;`;
  }
}
customElements.define('my-element', MyElement);</pre></litdev-switchable-sample><p>The <code>classMap</code> must be the only expression in the <code>class</code> attribute, but it can be combined with static values:</p>
<pre data-language="ts">html`&lt;div class="my-widget ${classMap(dynamicClasses)}"&gt;Static and dynamic&lt;/div&gt;`;</pre>
<p>Explore <code>classMap</code> more in the <a href="https://lit.dev/playground/#sample=examples/directive-class-map/">playground</a>.</p>
<div class="heading h3"><h3 id="stylemap">styleMap</h3></div>
<p>Sets a list of style properties to an element based on an object.</p>
<table>
<thead><tr>
<th></th>
<th></th>
</tr></thead>
<tbody>
<tr>
<td class="no-wrap-cell vcenter-cell">Import</td>
<td class="wide-cell"><pre data-language="js">import {styleMap} from 'lit/directives/style-map.js';</pre></td>
</tr>
<tr>
<td class="no-wrap-cell vcenter-cell">Signature</td>
<td class="wide-cell"><pre data-language="ts">styleMap(styleInfo: {[name: string]: string | undefined | null})</pre></td>
</tr>
<tr>
<td class="no-wrap-cell vcenter-cell">Usable location</td>
<td class="wide-cell"><p><code>style</code> attribute expression (must be the only expression in the <code>style</code> attribute)</p></td>
</tr>
</tbody>
</table>
<p>The <code>styleMap</code> directive uses the <code>element.style</code> API to efficiently add and remove inline styles to an element based on an object passed by the user. Each key in the object is treated as a style property name, the value is treated as the value for that property. On subsequent renders, any previously set style properties that are undefined or <code>null</code> are removed (set to <code>null</code>).</p>
<litdev-switchable-sample><pre data-language="ts">@customElement('my-element')
class MyElement extends LitElement {

  @property({type: Boolean})
  enabled = false;

  render() {
    const styles = { backgroundColor: this.enabled ? 'blue' : 'gray', color: 'white' };
    return html`&lt;p style=${styleMap(styles)}&gt;Hello style!&lt;/p&gt;`;
  }
}</pre>
<pre data-language="js">class MyElement extends LitElement {
  static properties = {
    enabled: {type: Boolean},
  };

  constructor() {
    super();
    this.enabled = false;
  }

  render() {
    const styles = { backgroundColor: this.enabled ? 'blue' : 'gray', color: 'white' };
    return html`&lt;p style=${styleMap(styles)}&gt;Hello style!&lt;/p&gt;`;
  }
}
customElements.define('my-element', MyElement);</pre></litdev-switchable-sample><p>For CSS properties that contain dashes, you can either use the camel-case equivalent, or put the property name in quotes. For example, you can write the CSS property <code>font-family</code> as either <code>fontFamily</code> or <code>'font-family'</code>:</p>
<pre data-language="js">{ fontFamily: 'roboto' }
{ 'font-family': 'roboto' }</pre>
<p>Refer to CSS custom properties such as <code>--custom-color</code>, by placing the whole property name in quotes:</p>
<pre data-language="js">{ '--custom-color': 'steelblue' }</pre>
<p>The <code>styleMap</code> must be the only expression in the <code>style</code> attribute, but it can be combined with static values:</p>
<pre data-language="js">html`&lt;p style="color: white; ${styleMap(moreStyles)}"&gt;More styles!&lt;/p&gt;`;</pre>
<p>Explore <code>styleMap</code> more in the <a href="https://lit.dev/playground/#sample=examples/directive-style-map/">playground</a>.</p>
<div class="heading h2"><h2 id="loops-and-conditionals">Loops and conditionals</h2></div>
<div class="heading h3"><h3 id="when">when</h3></div>
<p>Renders one of two templates based on a condition.</p>
<table>
<thead><tr>
<th></th>
<th></th>
</tr></thead>
<tbody>
<tr>
<td class="no-wrap-cell vcenter-cell">Import</td>
<td class="wide-cell"><pre data-language="js">import {when} from 'lit/directives/when.js';</pre></td>
</tr>
<tr>
<td class="no-wrap-cell vcenter-cell">Signature</td>
<td class="wide-cell"><pre data-language="ts">when&lt;T, F&gt;(
  condition: boolean,
  trueCase: () =&gt; T,
  falseCase?: () =&gt; F
)</pre></td>
</tr>
<tr>
<td class="no-wrap-cell vcenter-cell">Usable location</td>
<td class="wide-cell"><p>Any</p></td>
</tr>
</tbody>
</table>
<p>When <code>condition</code> is true, returns the result of calling <code>trueCase()</code>, else returns the result of calling <code>falseCase()</code> if <code>falseCase</code> is defined.</p>
<p>This is a convenience wrapper around a ternary expression that makes it a little nicer to write an inline conditional without an else.</p>
<pre data-language="ts">class MyElement extends LitElement {
  render() {
    return html`
      ${when(this.user, () =&gt; html`User: ${this.user.username}`, () =&gt; html`Sign In...`)}
    `;
  }
}</pre>
<div class="heading h3"><h3 id="choose">choose</h3></div>
<p>Chooses and evaluates a template function from a list of cases based on matching the given <code>value</code> to a case.</p>
<table>
<thead><tr>
<th></th>
<th></th>
</tr></thead>
<tbody>
<tr>
<td class="no-wrap-cell vcenter-cell">Import</td>
<td class="wide-cell"><pre data-language="js">import {choose} from 'lit/directives/choose.js';</pre></td>
</tr>
<tr>
<td class="no-wrap-cell vcenter-cell">Signature</td>
<td class="wide-cell"><pre data-language="ts">choose&lt;T, V&gt;(
  value: T,
  cases: Array&lt;[T, () =&gt; V]&gt;,
  defaultCase?: () =&gt; V
)</pre></td>
</tr>
<tr>
<td class="no-wrap-cell vcenter-cell">Usable location</td>
<td class="wide-cell"><p>Any</p></td>
</tr>
</tbody>
</table>
<p>Cases are structured as <code>[caseValue, func]</code>. <code>value</code> is matched to <code>caseValue</code> by strict equality. The first match is selected. Case values can be of any type including primitives, objects, and symbols.</p>
<p>This is similar to a switch statement, but as an expression and without fallthrough.</p>
<pre data-language="ts">class MyElement extends LitElement {
  render() {
    return html`
      ${choose(this.section, [
        ['home', () =&gt; html`&lt;h1&gt;Home&lt;/h1&gt;`],
        ['about', () =&gt; html`&lt;h1&gt;About&lt;/h1&gt;`]
      ],
      () =&gt; html`&lt;h1&gt;Error&lt;/h1&gt;`)}
    `;
  }
}</pre>
<div class="heading h3"><h3 id="map">map</h3></div>
<p>Returns an iterable containing the result of calling <code>f(value)</code> on each value in <code>items</code>.</p>
<table>
<thead><tr>
<th></th>
<th></th>
</tr></thead>
<tbody>
<tr>
<td class="no-wrap-cell vcenter-cell">Import</td>
<td class="wide-cell"><pre data-language="js">import {map} from 'lit/directives/map.js';</pre></td>
</tr>
<tr>
<td class="no-wrap-cell vcenter-cell">Signature</td>
<td class="wide-cell"><pre data-language="ts">map&lt;T&gt;(
  items: Iterable&lt;T&gt; | undefined,
  f: (value: T, index: number) =&gt; unknown
)</pre></td>
</tr>
<tr>
<td class="no-wrap-cell vcenter-cell">Usable location</td>
<td class="wide-cell"><p>Any</p></td>
</tr>
</tbody>
</table>
<p><code>map()</code> is a simple wrapper around a <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/for...of">for/of loop</a> that makes working with iterables in expressions a bit easier. <code>map()</code> always updates any DOM created in place - it does not do any diffing or DOM movement. If you need that see <a href="#repeat">repeat</a>. <code>map()</code> is smaller and faster than <code>repeat()</code>, so if you don't need diffing and DOM stability, prefer <code>map()</code>.</p>
<pre data-language="ts">class MyElement extends LitElement {
  render() {
    return html`
      &lt;ul&gt;
        ${map(items, (i) =&gt; html`&lt;li&gt;${i}&lt;/li&gt;`)}
      &lt;/ul&gt;
    `;
  }
}</pre>
<div class="heading h3"><h3 id="repeat">repeat</h3></div>
<p>Renders values from an iterable into the DOM, with optional keying to enable data diffing and DOM stability.</p>
<table>
<thead><tr>
<th></th>
<th></th>
</tr></thead>
<tbody>
<tr>
<td class="no-wrap-cell vcenter-cell">Import</td>
<td class="wide-cell"><pre data-language="js">import {repeat} from 'lit/directives/repeat.js';</pre></td>
</tr>
<tr>
<td class="no-wrap-cell vcenter-cell">Signature</td>
<td class="wide-cell"><pre data-language="ts">repeat(items: Iterable&lt;T&gt;, keyfn: KeyFn&lt;T&gt;, template: ItemTemplate&lt;T&gt;)
repeat(items: Iterable&lt;T&gt;, template: ItemTemplate&lt;T&gt;)
type KeyFn&lt;T&gt; = (item: T, index: number) =&gt; unknown;
type ItemTemplate&lt;T&gt; = (item: T, index: number) =&gt; unknown;</pre></td>
</tr>
<tr>
<td class="no-wrap-cell vcenter-cell">Usable location</td>
<td class="wide-cell"><p>Child expression</p></td>
</tr>
</tbody>
</table>
<p>Repeats a series of values (usually <code>TemplateResults</code>) generated from an iterable, and updates those items efficiently when the iterable changes. When the <code>keyFn</code> is provided, key-to-DOM association is maintained between updates by moving generated DOM when required, and is generally the most efficient way to use <code>repeat</code> since it performs minimum unnecessary work for insertions and removals.</p>
<p>If you're not using a key function, you should consider using <a href="#map"><code>map()</code></a>.</p>
<litdev-switchable-sample><pre data-language="ts">@customElement('my-element')
class MyElement extends LitElement {

  @property()
  items: Array&lt;{id: number, name: string}&gt; = [];

  render() {
    return html`
      &lt;ul&gt;
        ${repeat(this.items, (item) =&gt; item.id, (item, index) =&gt; html`
          &lt;li&gt;${index}: ${item.name}&lt;/li&gt;`)}
      &lt;/ul&gt;
    `;
  }
}</pre>
<pre data-language="js">class MyElement extends LitElement {
  static properties = {
    items: {},
  };

  constructor() {
    super();
    this.items = [];
  }

  render() {
    return html`
      &lt;ul&gt;
        ${repeat(this.items, (item) =&gt; item.id, (item, index) =&gt; html`
          &lt;li&gt;${index}: ${item.name}&lt;/li&gt;`)}
      &lt;/ul&gt;
    `;
  }
}
customElements.define('my-element', MyElement);</pre></litdev-switchable-sample><p>If no <code>keyFn</code> is provided, <code>repeat</code> will perform similar to a simple map of items to values, and DOM will be reused against potentially different items.</p>
<p>See <a href="../lists/index.html#when-to-use-map-or-repeat">When to use map or repeat</a> for a discussion of when to use <code>repeat</code> and when to use standard JavaScript flow control.</p>
<p>Explore <code>repeat</code> more in the <a href="https://lit.dev/playground/#sample=examples/directive-repeat/">playground</a>.</p>
<div class="heading h3"><h3 id="join">join</h3></div>
<p>Returns an iterable containing the values in <code>items</code> interleaved with the <code>joiner</code> value.</p>
<table>
<thead><tr>
<th></th>
<th></th>
</tr></thead>
<tbody>
<tr>
<td class="no-wrap-cell vcenter-cell">Import</td>
<td class="wide-cell"><pre data-language="js">import {join} from 'lit/directives/join.js';</pre></td>
</tr>
<tr>
<td class="no-wrap-cell vcenter-cell">Signature</td>
<td class="wide-cell"><pre data-language="ts">join&lt;I, J&gt;(
  items: Iterable&lt;I&gt; | undefined,
  joiner: J
): Iterable&lt;I | J&gt;;

join&lt;I, J&gt;(
  items: Iterable&lt;I&gt; | undefined,
  joiner: (index: number) =&gt; J
): Iterable&lt;I | J&gt;;</pre></td>
</tr>
<tr>
<td class="no-wrap-cell vcenter-cell">Usable location</td>
<td class="wide-cell"><p>Any</p></td>
</tr>
</tbody>
</table>
<pre data-language="ts">
class MyElement extends LitElement {

  render() {
    return html`
      ${join(
        map(menuItems, (i) =&gt; html`&lt;a href=${i.href}&gt;${i.label}&lt;/a&gt;`),
        html`&lt;span class="separator"&gt;|&lt;/span&gt;`
      )}
    `;
  }
}</pre>
<div class="heading h3"><h3 id="range">range</h3></div>
<p>Returns an iterable of integers from <code>start</code> to <code>end</code> (exclusive) incrementing by <code>step</code>.</p>
<table>
<thead><tr>
<th></th>
<th></th>
</tr></thead>
<tbody>
<tr>
<td class="no-wrap-cell vcenter-cell">Import</td>
<td class="wide-cell"><pre data-language="js">import {range} from 'lit/directives/range.js';</pre></td>
</tr>
<tr>
<td class="no-wrap-cell vcenter-cell">Signature</td>
<td class="wide-cell"><pre data-language="ts">range(end: number): Iterable&lt;number&gt;;

range(
  start: number,
  end: number,
  step?: number
): Iterable&lt;number&gt;;
</pre></td>
</tr>
<tr>
<td class="no-wrap-cell vcenter-cell">Usable location</td>
<td class="wide-cell"><p>Any</p></td>
</tr>
</tbody>
</table>
<pre data-language="ts">
class MyElement extends LitElement {

  render() {
    return html`
      ${map(range(8), (i) =&gt; html`${i + 1}`)}
    `;
  }
}</pre>
<div class="heading h3"><h3 id="ifdefined">ifDefined</h3></div>
<p>Sets an attribute if the value is defined and removes the attribute if undefined.</p>
<table>
<thead><tr>
<th></th>
<th></th>
</tr></thead>
<tbody>
<tr>
<td class="no-wrap-cell vcenter-cell">Import</td>
<td class="wide-cell"><pre data-language="js">import {ifDefined} from 'lit/directives/if-defined.js';</pre></td>
</tr>
<tr>
<td class="no-wrap-cell vcenter-cell">Signature</td>
<td class="wide-cell"><pre data-language="ts">ifDefined(value: unknown)</pre></td>
</tr>
<tr>
<td class="no-wrap-cell vcenter-cell">Usable location</td>
<td class="wide-cell"><p>Attribute expression</p></td>
</tr>
</tbody>
</table>
<p>For AttributeParts, sets the attribute if the value is defined and removes the attribute if the value is undefined (<code>undefined</code> or <code>null</code>). For other part types, this directive is a no-op.</p>
<p>When more than one expression exists in a single attribute value, the attribute will be removed if <em>any</em> expression uses <code>ifDefined</code> and evaluates to <code>undefined</code>/<code>null</code>. This is especially useful for setting URL attributes, when the attribute should not be set if required parts of the URL are not defined, to prevent 404's.</p>
<litdev-switchable-sample><pre data-language="ts">@customElement('my-element')
class MyElement extends LitElement {

  @property()
  filename: string | undefined = undefined;

  @property()
  size: string | undefined = undefined;

  render() {
    // src attribute not rendered if either size or filename are undefined
    return html`&lt;img src="/images/${ifDefined(this.size)}/${ifDefined(this.filename)}"&gt;`;
  }
}</pre>
<pre data-language="js">class MyElement extends LitElement {
  static properties = {
    filename: {},
    size: {},
  };

  constructor() {
    super();
    this.filename = undefined;
    this.size = undefined;
  }

  render() {
    // src attribute not rendered if either size or filename are undefined
    return html`&lt;img src="/images/${ifDefined(this.size)}/${ifDefined(this.filename)}"&gt;`;
  }
}
customElements.define('my-element', MyEleent);</pre></litdev-switchable-sample><p>Explore <code>ifDefined</code> more in the <a href="https://lit.dev/playground/#sample=examples/directive-if-defined/">playground</a>.</p>
<div class="heading h2"><h2 id="caching-and-change-detection">Caching and change detection</h2></div>
<div class="heading h3"><h3 id="cache">cache</h3></div>
<p>Caches rendered DOM when changing templates rather than discarding the DOM. You can use this directive to optimize rendering performance when frequently switching between large templates.</p>
<table>
<thead><tr>
<th></th>
<th></th>
</tr></thead>
<tbody>
<tr>
<td class="no-wrap-cell vcenter-cell">Import</td>
<td class="wide-cell"><pre data-language="js">import {cache} from 'lit/directives/cache.js';</pre></td>
</tr>
<tr>
<td class="no-wrap-cell vcenter-cell">Signature</td>
<td class="wide-cell"><pre data-language="ts">cache(value: TemplateResult|unknown)</pre></td>
</tr>
<tr>
<td class="no-wrap-cell vcenter-cell">Usable location</td>
<td class="wide-cell"><p>Child expression</p></td>
</tr>
</tbody>
</table>
<p>When the value passed to <code>cache</code> changes between one or more <code>TemplateResult</code>s, the rendered DOM nodes for a given template are cached when they're not in use. When the template changes, the directive caches the <em>current</em> DOM nodes before switching to the new value, and restores them from the cache when switching back to a previously-rendered value, rather than creating the DOM nodes anew.</p>
<litdev-switchable-sample><pre data-language="ts">const detailView = (data) =&gt; html`&lt;div&gt;...&lt;/div&gt;`;
const summaryView = (data) =&gt; html`&lt;div&gt;...&lt;/div&gt;`;

@customElement('my-element')
class MyElement extends LitElement {

  @property()
  data = {showDetails: true, /*...*/ };

  render() {
    return html`${cache(this.data.showDetails
      ? detailView(this.data)
      : summaryView(this.data)
    )}`;
  }
}</pre>
<pre data-language="js">const detailView = (data) =&gt; html`&lt;div&gt;...&lt;/div&gt;`;
const summaryView = (data) =&gt; html`&lt;div&gt;...&lt;/div&gt;`;

class MyElement extends LitElement {
  static properties = {
    data: {},
  };

  constructor() {
    super();
    this.data = {showDetails: true, /*...*/ };
  }

  render() {
    return html`${cache(this.data.showDetails
      ? detailView(this.data)
      : summaryView(this.data)
    )}`;
  }
}
customElements.define('my-element', MyElement);</pre></litdev-switchable-sample><p>When Lit re-renders a template, it only updates the modified portions: it doesn't create or remove any more DOM than needed. But when you switch from one template to another, Lit removes the old DOM and renders a new DOM tree.</p>
<p>The <code>cache</code> directive caches the generated DOM for a given expression and input template. In the example above, it caches the DOM for both the <code>summaryView</code> and <code>detailView</code> templates. When you switch from one view to another, Lit swaps in the cached version of the new view and updates it with the latest data. This can improve rendering performance when these views are frequently switched.</p>
<p>Explore <code>cache</code> more in the <a href="https://lit.dev/playground/#sample=examples/directive-cache/">playground</a>.</p>
<div class="heading h3"><h3 id="keyed">keyed</h3></div>
<p>Associates a renderable value with a unique key. When the key changes, the previous DOM is removed and disposed before rendering the next value, even if the value—such as a template—is the same.</p>
<table>
<thead><tr>
<th></th>
<th></th>
</tr></thead>
<tbody>
<tr>
<td class="no-wrap-cell vcenter-cell">Import</td>
<td class="wide-cell"><pre data-language="js">import {keyed} from 'lit/directives/keyed.js';</pre></td>
</tr>
<tr>
<td class="no-wrap-cell vcenter-cell">Signature</td>
<td class="wide-cell"><pre data-language="ts">keyed(key: unknown, value: unknown)</pre></td>
</tr>
<tr>
<td class="no-wrap-cell vcenter-cell">Usable location</td>
<td class="wide-cell"><p>Any expression</p></td>
</tr>
</tbody>
</table>
<p><code>keyed</code> is useful when you're rendering stateful elements and you need to ensure that all state of the element is cleared when some critical data changes. It essentially opts-out of Lit's default DOM reuse strategy.</p>
<p><code>keyed</code> is also useful in some animation scenarios if you need to force a new element for "enter" or "exit" animations.</p>
<litdev-switchable-sample><pre data-language="ts">@customElement('my-element')
class MyElement extends LitElement {

  @property()
  userId: string = '';

  render() {
    return html`
      &lt;div&gt;
        ${keyed(this.userId, html`&lt;user-card .userId=${this.userId}&gt;&lt;/user-card&gt;`)}
      &lt;/div&gt;`;
  }
}</pre>
<pre data-language="js">class MyElement extends LitElement {
  static properties = {
    userId: {},
  };

  constructor() {
    super();
    this.userId = '';
  }

  render() {
    return html`
      &lt;div&gt;
        ${keyed(this.userId, html`&lt;user-card .userId=${this.userId}&gt;&lt;/user-card&gt;`)}
      &lt;/div&gt;`;
  }
}
customElements.define('my-element', MyElement);</pre></litdev-switchable-sample><div class="heading h3"><h3 id="guard">guard</h3></div>
<p>Only re-evaluates the template when one of its dependencies changes, to optimize rendering performance by preventing unnecessary work.</p>
<table>
<thead><tr>
<th></th>
<th></th>
</tr></thead>
<tbody>
<tr>
<td class="no-wrap-cell vcenter-cell">Import</td>
<td class="wide-cell"><pre data-language="js">import {guard} from 'lit/directives/guard.js';</pre></td>
</tr>
<tr>
<td class="no-wrap-cell vcenter-cell">Signature</td>
<td class="wide-cell"><pre data-language="ts">guard(dependencies: unknown[], valueFn: () =&gt; unknown)</pre></td>
</tr>
<tr>
<td class="no-wrap-cell vcenter-cell">Usable location</td>
<td class="wide-cell"><p>Any expression</p></td>
</tr>
</tbody>
</table>
<p>Renders the value returned by <code>valueFn</code>, and only re-evaluates <code>valueFn</code> when one of the dependencies changes identity.</p>
<p>Where:</p>
<ul>
<li>
<code>dependencies</code> is an array of values to monitor for changes.</li>
<li>
<code>valueFn</code> is a function that returns a renderable value.</li>
</ul>
<p><code>guard</code> is useful with immutable data patterns, by preventing expensive work until data updates.</p>
<litdev-switchable-sample><pre data-language="ts">@customElement('my-element')
class MyElement extends LitElement {

  @property()
  value: string = '';

  render() {
    return html`
      &lt;div&gt;
        ${guard([this.value], () =&gt; calculateSHA(this.value))}
      &lt;/div&gt;`;
  }
}</pre>
<pre data-language="js">class MyElement extends LitElement {
  static properties = {
    value: {},
  };

  constructor() {
    super();
    this.value = '';
  }

  render() {
    return html`
      &lt;div&gt;
        ${guard([this.value], () =&gt; calculateSHA(this.value))}
      &lt;/div&gt;`;
  }
}
customElements.define('my-element', MyElement);</pre></litdev-switchable-sample><p>In this case, the expensive <code>calculateSHA</code> function is only run when the <code>value</code> property changes.</p>
<p>Explore <code>guard</code> more in the <a href="https://lit.dev/playground/#sample=examples/directive-guard/">playground</a>.</p>
<div class="heading h3"><h3 id="live">live</h3></div>
<p>Sets an attribute or property if it differs from the live DOM value rather than the last-rendered value.</p>
<table>
<thead><tr>
<th></th>
<th></th>
</tr></thead>
<tbody>
<tr>
<td class="no-wrap-cell vcenter-cell">Import</td>
<td class="wide-cell"><pre data-language="js">import {live} from 'lit/directives/live.js';</pre></td>
</tr>
<tr>
<td class="no-wrap-cell vcenter-cell">Signature</td>
<td class="wide-cell"><pre data-language="ts">live(value: unknown)</pre></td>
</tr>
<tr>
<td class="no-wrap-cell vcenter-cell">Usable location</td>
<td class="wide-cell"><p>Attribute or property expression</p></td>
</tr>
</tbody>
</table>
<p>When determining whether to update the value, checks the expression value against the <em>live</em> DOM value, instead of Lit's default behavior of checking against the last set value.</p>
<p>This is useful for cases where the DOM value may change from outside of Lit. For example, when using an expression to set an <code>&lt;input&gt;</code> element's <code>value</code> property, a content editable element's text, or to a custom element that changes its own properties or attributes.</p>
<p>In these cases if the DOM value changes, but the value set through Lit expression hasn't, Lit won't know to update the DOM value and will leave it alone. If this is not what you want—if you want to overwrite the DOM value with the bound value no matter what—use the <code>live()</code> directive.</p>
<litdev-switchable-sample><pre data-language="ts">@customElement('my-element')
class MyElement extends LitElement {

  @property()
  data = {value: 'test'};

  render() {
    return html`&lt;input .value=${live(this.data.value)}&gt;`;
  }
}</pre>
<pre data-language="js">class MyElement extends LitElement {
  static properties = {
    data: {},
  };

  constructor() {
    super();
    this.data = {value: 'test'};
  }

  render() {
    return html`&lt;input .value=${live(this.data.value)}&gt;`;
  }
}
customElements.define('my-element', MyElement);</pre></litdev-switchable-sample><p><code>live()</code> performs a strict equality check against the live DOM value, and if the new value is equal to the live value, does nothing. This means that <code>live()</code> should not be used when the expression will cause a type conversion. If you use <code>live()</code> with an attribute expression, make sure that only strings are passed in, or the expression will update every render.</p>
<p>Explore <code>live</code> more in the <a href="https://lit.dev/playground/#sample=examples/directive-live/">playground</a>.</p>
<div class="heading h2"><h2 id="rendering-special-values">Rendering special values</h2></div>
<div class="heading h3"><h3 id="templatecontent">templateContent</h3></div>
<p>Renders the content of a <code>&lt;template&gt;</code> element.</p>
<table>
<thead><tr>
<th></th>
<th></th>
</tr></thead>
<tbody>
<tr>
<td class="no-wrap-cell vcenter-cell">Import</td>
<td class="wide-cell"><pre data-language="js">import {templateContent} from 'lit/directives/template-content.js';</pre></td>
</tr>
<tr>
<td class="no-wrap-cell vcenter-cell">Signature</td>
<td class="wide-cell"><pre data-language="ts">templateContent(templateElement: HTMLTemplateElement)</pre></td>
</tr>
<tr>
<td class="no-wrap-cell vcenter-cell">Usable location</td>
<td class="wide-cell"><p>Child expression</p></td>
</tr>
</tbody>
</table>
<p>Lit templates are encoded in Javascript, so that they can embed Javascript expressions that make them dynamic. If you have a static HTML <code>&lt;template&gt;</code> that you need to include in your Lit template, you can use the <code>templateContent</code> directive to clone the template content and include it in your Lit template. As long as the template element reference does not change between renders, subsequent renders will no-op.</p>
<div class="alert alert-warning"><p>Note, the template content should be developer-controlled and must not be created using an untrusted string. Examples of untrusted content include query string parameters and values from user inputs. Untrusted templates rendered with this directive could lead to <a href="https://en.wikipedia.org/wiki/Cross-site_scripting">cross-site scripting (XSS)</a> vulnerabilities.</p></div>
<litdev-switchable-sample><pre data-language="ts">const templateEl = document.querySelector('template#myContent') as HTMLTemplateElement;

@customElement('my-element')
class MyElement extends LitElement {

  render() {
    return  html`
      Here's some content from a template element:
      ${templateContent(templateEl)}`;
  }
}</pre>
<pre data-language="js">const templateEl = document.querySelector('template#myContent');

class MyElement extends LitElement {

  render() {
    return  html`
      Here's some content from a template element:
      ${templateContent(templateEl)}`;
  }
}
customElements.define('my-element', MyElement);</pre></litdev-switchable-sample><p>Explore <code>templateContent</code> more in the <a href="https://lit.dev/playground/#sample=examples/directive-template-content/">playground</a>.</p>
<div class="heading h3"><h3 id="unsafehtml">unsafeHTML</h3></div>
<p>Renders a string as HTML rather than text.</p>
<table>
<thead><tr>
<th></th>
<th></th>
</tr></thead>
<tbody>
<tr>
<td class="no-wrap-cell vcenter-cell">Import</td>
<td class="wide-cell"><pre data-language="js">import {unsafeHTML} from 'lit/directives/unsafe-html.js';</pre></td>
</tr>
<tr>
<td class="no-wrap-cell vcenter-cell">Signature</td>
<td class="wide-cell"><pre data-language="ts">unsafeHTML(value: string | typeof nothing | typeof noChange)</pre></td>
</tr>
<tr>
<td class="no-wrap-cell vcenter-cell">Usable location</td>
<td class="wide-cell"><p>Child expression</p></td>
</tr>
</tbody>
</table>
<p>A key feature of Lit's templating syntax is that only strings originating in template literals are parsed as HTML. Because template literals can only be authored in trusted script files, this acts as a natural safeguard against XSS attacks injecting untrusted HTML. However, there may be cases when HTML not originating in script files needs to be rendered in a Lit template, for example trusted HTML content fetched from a database. The <code>unsafeHTML</code> directive will parse such a string as HTML and render it in a Lit template.</p>
<div class="alert alert-warning">
<p>Note, the string passed to <code>unsafeHTML</code> must be developer-controlled and not include untrusted content. Examples of untrusted content include query string parameters and values from user inputs.</p>
<p>Untrusted content rendered with this directive could lead to <a href="https://en.wikipedia.org/wiki/Cross-site_scripting">cross-site scripting (XSS)</a>, CSS injection, data exfiltration, etc. vulnerabilities. <code>unsafeHTML</code> uses <code>innerHTML</code> to parse the HTML string, so the security implications are the same as <code>innerHTML</code>, <a href="https://developer.mozilla.org/en-US/docs/Web/API/Element/innerHTML/#security_considerations">as documented on MDN</a>.</p>
</div>
<litdev-switchable-sample><pre data-language="ts">const markup = '&lt;h3&gt;Some HTML to render.&lt;/h3&gt;';

@customElement('my-element')
class MyElement extends LitElement {

  render() {
    return html`
      Look out, potentially unsafe HTML ahead:
      ${unsafeHTML(markup)}
    `;
  }
}</pre>
<pre data-language="js">const markup = '&lt;h3&gt;Some HTML to render.&lt;/h3&gt;';

class MyElement extends LitElement {

  render() {
    return html`
      Look out, potentially unsafe HTML ahead:
      ${unsafeHTML(markup)}
    `;
  }
}
customElements.define('my-element', MyElement);</pre></litdev-switchable-sample><p>Explore <code>unsafeHTML</code> more in the <a href="https://lit.dev/playground/#sample=examples/directive-unsafe-html/">playground</a>.</p>
<div class="heading h3"><h3 id="unsafesvg">unsafeSVG</h3></div>
<p>Renders a string as SVG rather than text.</p>
<table>
<thead><tr>
<th></th>
<th></th>
</tr></thead>
<tbody>
<tr>
<td class="no-wrap-cell vcenter-cell">Import</td>
<td class="wide-cell"><pre data-language="js">import {unsafeSVG} from 'lit/directives/unsafe-svg.js';</pre></td>
</tr>
<tr>
<td class="no-wrap-cell vcenter-cell">Signature</td>
<td class="wide-cell"><pre data-language="ts">unsafeSVG(value: string | typeof nothing | typeof noChange)</pre></td>
</tr>
<tr>
<td class="no-wrap-cell vcenter-cell">Usable location</td>
<td class="wide-cell"><p>Child expression</p></td>
</tr>
</tbody>
</table>
<p>Similar to with <a href="#unsafeHTML"><code>unsafeHTML</code></a>, there may be cases when SVG content not originating in script files needs to be rendered in a Lit template, for example trusted SVG content fetched from a database. The <code>unsafeSVG</code> directive will parse such a string as SVG and render it in a Lit template.</p>
<div class="alert alert-warning"><p>Note, the string passed to <code>unsafeSVG</code> must be developer-controlled and not include untrusted content. Examples of untrusted content include query string parameters and values from user inputs. Untrusted content rendered with this directive could lead to <a href="https://en.wikipedia.org/wiki/Cross-site_scripting">cross-site scripting (XSS)</a> vulnerabilities.</p></div>
<litdev-switchable-sample><pre data-language="ts">const svg = '&lt;circle cx="50" cy="50" r="40" fill="red" /&gt;';

@customElement('my-element')
class MyElement extends LitElement {

  render() {
    return html`
      Look out, potentially unsafe SVG ahead:
      &lt;svg width="40" height="40" viewBox="0 0 100 100"
        xmlns="http://www.w3.org/2000/svg" version="1.1"&gt;
        ${unsafeSVG(svg)}
      &lt;/svg&gt; `;
  }
}</pre>
<pre data-language="js">const svg = '&lt;circle cx="50" cy="50" r="40" fill="red" /&gt;';

class MyElement extends LitElement {

  render() {
    return html`
      Look out, potentially unsafe SVG ahead:
      &lt;svg width="40" height="40" viewBox="0 0 100 100"
        xmlns="http://www.w3.org/2000/svg" version="1.1"&gt;
        ${unsafeSVG(svg)}
      &lt;/svg&gt; `;
  }
}
customElements.define('my-element', MyElement);</pre></litdev-switchable-sample><p>Explore <code>unsafeSVG</code> more in the <a href="https://lit.dev/playground/#sample=examples/directive-unsafe-svg/">playground</a>.</p>
<div class="heading h2"><h2 id="referencing-rendered-dom">Referencing rendered DOM</h2></div>
<div class="heading h3"><h3 id="ref">ref</h3></div>
<p>Retrieves a reference to an element rendered into the DOM.</p>
<table>
<thead><tr>
<th></th>
<th></th>
</tr></thead>
<tbody>
<tr>
<td class="no-wrap-cell vcenter-cell">Import</td>
<td class="wide-cell"><pre data-language="js">import {ref} from 'lit/directives/ref.js';</pre></td>
</tr>
<tr>
<td class="no-wrap-cell vcenter-cell">Signature</td>
<td class="wide-cell"><pre data-language="ts">ref(refOrCallback: RefOrCallback)</pre></td>
</tr>
<tr>
<td class="no-wrap-cell vcenter-cell">Usable location</td>
<td class="wide-cell"><p>Element expression</p></td>
</tr>
</tbody>
</table>
<p>Although most DOM manipulation in Lit can be achieved declaratively using templates, advanced situations may required getting a reference to an element rendered in the template and manipulating it imperatively. Common examples of when this may be useful include focusing a form control or calling an imperative DOM manipulation library on a container element.</p>
<p>When placed on an element in the template, the <code>ref</code> directive will retrieve a reference to that element once rendered. The element reference may be retrieved in one of two ways: either by passing a <code>Ref</code> object or by passing a callback.</p>
<p>A <code>Ref</code> object acts as a container for a reference to the element, and can be created using the <code>createRef</code> helper method found in the <code>ref</code> module. After rendering, the <code>Ref</code>'s <code>value</code> property will be set to the element, where it can be accessed in post-render lifecycle like <code>updated</code>.</p>
<litdev-switchable-sample><pre data-language="ts">@customElement('my-element')
class MyElement extends LitElement {

  inputRef: Ref&lt;HTMLInputElement&gt; = createRef();

  render() {
    // Passing ref directive a Ref object that will hold the element in .value
    return html`&lt;input ${ref(this.inputRef)}&gt;`;
  }

  firstUpdated() {
    const input = this.inputRef.value!;
    input.focus();
  }
}</pre>
<pre data-language="js">class MyElement extends LitElement {

  inputRef = createRef();

  render() {
    // Passing ref directive a Ref object that will hold the element in .value
    return html`&lt;input ${ref(this.inputRef)}&gt;`;
  }

  firstUpdated() {
    const input = this.inputRef.value!;
    input.focus();
  }
}
customElements.define('my-element', MyElement);</pre></litdev-switchable-sample><p>A ref callback can also be passed to the <code>ref</code> directive. The callback will be called each time the referenced element changes. If a ref callback is rendered to a different element position or is removed in a subsequent render, it will first be called with <code>undefined</code>, followed by another call with the new element it was rendered to (if any). Note that in a <code>LitElement</code>, the callback will be called bound to the host element automatically.</p>
<litdev-switchable-sample><pre data-language="ts">@customElement('my-element')
class MyElement extends LitElement {

  render() {
    // Passing ref directive a change callback
    return html`&lt;input ${ref(this.inputChanged)}&gt;`;
  }

  inputChanged(input?: HTMLInputElement) {
    input?.focus();
  }
}</pre>
<pre data-language="js">class MyElement extends LitElement {

  render() {
    // Passing ref directive a change callback
    return html`&lt;input ${ref(this.inputChanged)}&gt;`;
  }

  inputChanged(input) {
    input?.focus();
  }
}
customElements.define('my-element', MyElement);</pre></litdev-switchable-sample><p>Explore <code>ref</code> more in the <a href="https://lit.dev/playground/#sample=examples/directive-ref/">playground</a>.</p>
<div class="heading h2"><h2 id="asynchronous-rendering">Asynchronous rendering</h2></div>
<div class="heading h3"><h3 id="until">until</h3></div>
<p>Renders placeholder content until one or more promises resolve.</p>
<table>
<thead><tr>
<th></th>
<th></th>
</tr></thead>
<tbody>
<tr>
<td class="no-wrap-cell vcenter-cell">Import</td>
<td class="wide-cell"><pre data-language="js">import {until} from 'lit/directives/until.js';</pre></td>
</tr>
<tr>
<td class="no-wrap-cell vcenter-cell">Signature</td>
<td class="wide-cell"><pre data-language="ts">until(...values: unknown[])</pre></td>
</tr>
<tr>
<td class="no-wrap-cell vcenter-cell">Usable location</td>
<td class="wide-cell"><p>Any expression</p></td>
</tr>
</tbody>
</table>
<p>Takes a series of values, including Promises. Values are rendered in priority order, with the first argument having the highest priority and the last argument having the lowest priority. If a value is a Promise, a lower-priority value will be rendered until it resolves.</p>
<p>The priority of values can be used to create placeholder content for async data. For example, a Promise with pending content can be the first (highest-priority) argument, and a non-promise loading indicator template can be used as the second (lower-priority) argument. The loading indicator renders immediately, and the primary content will render when the Promise resolves.</p>
<litdev-switchable-sample><pre data-language="ts">@customElement('my-element')
class MyElement extends LitElement {

  @state()
  private content = fetch('./content.txt').then(r =&gt; r.text());

  render() {
    return html`${until(this.content, html`&lt;span&gt;Loading...&lt;/span&gt;`)}`;
  }
}</pre>
<pre data-language="js">class MyElement extends LitElement {
  static properties = {
    content: {state: true},
  };

  constructor() {
    super();
    this.content = fetch('./content.txt').then(r =&gt; r.text());
  }

  render() {
    return html`${until(this.content, html`&lt;span&gt;Loading...&lt;/span&gt;`)}`;
  }
}
customElements.define('my-element', MyElement);</pre></litdev-switchable-sample><p>Explore <code>until</code> more in the <a href="https://lit.dev/playground/#sample=examples/directive-until/">playground</a>.</p>
<div class="heading h3"><h3 id="asyncappend">asyncAppend</h3></div>
<p>Appends values from an <code>AsyncIterable</code> into the DOM as they are yielded.</p>
<table>
<thead><tr>
<th></th>
<th></th>
</tr></thead>
<tbody>
<tr>
<td class="no-wrap-cell vcenter-cell">Import</td>
<td class="wide-cell"><pre data-language="js">import {asyncAppend} from 'lit/directives/async-append.js';</pre></td>
</tr>
<tr>
<td class="no-wrap-cell vcenter-cell">Signature</td>
<td class="wide-cell"><pre data-language="ts">asyncAppend(
  iterable: AsyncIterable&lt;I&gt;,
  mapper?: (item: I, index?: number) =&gt; unknown
)</pre></td>
</tr>
<tr>
<td class="no-wrap-cell vcenter-cell">Usable location</td>
<td class="wide-cell"><p>Child expression</p></td>
</tr>
</tbody>
</table>
<p><code>asyncAppend</code> renders the values of an <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/for-await...of">async iterable</a>, appending each new value after the previous. Note that async generators also implement the async iterable protocol, and thus can be consumed by <code>asyncAppend</code>.</p>
<litdev-switchable-sample><pre data-language="ts">async function *tossCoins(count: number) {
  for (let i=0; i&lt;count; i++) {
    yield Math.random() &gt; 0.5 ? 'Heads' : 'Tails';
    await new Promise((r) =&gt; setTimeout(r, 1000));
  }
}

@customElement('my-element')
class MyElement extends LitElement {

  @state()
  private tosses = tossCoins(10);

  render() {
    return html`
      &lt;ul&gt;${asyncAppend(this.tosses, (v: string) =&gt; html`&lt;li&gt;${v}&lt;/li&gt;`)}&lt;/ul&gt;`;
  }
}</pre>
<pre data-language="js">async function *tossCoins(count) {
  for (let i=0; i&lt;count; i++) {
    yield Math.random() &gt; 0.5 ? 'Heads' : 'Tails';
    await new Promise((r) =&gt; setTimeout(r, 1000));
  }
}

class MyElement extends LitElement {
  static properties = {
    tosses: {state: true},
  };

  constructor() {
    super();
    this.tosses = tossCoins(10);
  }

  render() {
    return html`
      &lt;ul&gt;${asyncAppend(this.tosses, (v) =&gt; html`&lt;li&gt;${v}&lt;/li&gt;`)}&lt;/ul&gt;`;
  }
}
customElements.define('my-element', MyElement);</pre></litdev-switchable-sample><p>Explore <code>asyncAppend</code> more in the <a href="https://lit.dev/playground/#sample=examples/directive-async-append/">playground</a>.</p>
<div class="heading h3"><h3 id="asyncreplace">asyncReplace</h3></div>
<p>Renders the latest value from an <code>AsyncIterable</code> into the DOM as it is yielded.</p>
<table>
<thead><tr>
<th></th>
<th></th>
</tr></thead>
<tbody>
<tr>
<td class="no-wrap-cell vcenter-cell">Import</td>
<td class="wide-cell"><pre data-language="js">import {asyncReplace} from 'lit/directives/async-replace.js';</pre></td>
</tr>
<tr>
<td class="no-wrap-cell vcenter-cell">Signature</td>
<td class="wide-cell"><pre data-language="ts">asyncReplace(
  iterable: AsyncIterable&lt;I&gt;,
  mapper?: (item: I, index?: number) =&gt; unknown
)</pre></td>
</tr>
<tr>
<td class="no-wrap-cell vcenter-cell">Usable location</td>
<td class="wide-cell"><p>Any expression</p></td>
</tr>
</tbody>
</table>
<p>Similar to <a href="#asyncappend"><code>asyncAppend</code></a>, <code>asyncReplace</code> renders the values of an <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/for-await...of">async iterable</a>, replacing the previous value with each new value.</p>
<litdev-switchable-sample><pre data-language="ts">async function *countDown(count: number) {
  while (count &gt; 0) {
    yield count--;
    await new Promise((r) =&gt; setTimeout(r, 1000));
  }
}

@customElement('my-element')
class MyElement extends LitElement {

  @state()
  private timer = countDown(10);

  render() {
    return html`Timer: &lt;span&gt;${asyncReplace(this.timer)}&lt;/span&gt;.`;
  }
}</pre>
<pre data-language="js">async function *countDown(count) {
  while (count &gt; 0) {
    yield count--;
    await new Promise((r) =&gt; setTimeout(r, 1000));
  }
}

class MyElement extends LitElement {
  static properties = {
    timer: {state: true},
  };

  constructor() {
    super();
    this.timer = countDown(10);
  }

  render() {
    return html`Timer: &lt;span&gt;${asyncReplace(this.timer)}&lt;/span&gt;.`;
  }
}
customElements.define('my-element', MyElement);</pre></litdev-switchable-sample><p>Explore <code>asyncReplace</code> more in the <a href="https://lit.dev/playground/#sample=examples/directive-async-replace/">playground</a>.</p>
<p id="edit-page-link"><a href="https://github.com/lit/lit.dev/edit/main/packages/lit-dev-content/./site/docs/v3/templates/directives.md">Edit this page<lazy-svg loading="visible" svg-aria-hidden href="/images/icons/edit-square.svg.html#icon"></lazy-svg></a></p></article><div class="_attribution">
  <p class="_attribution-p">
    &copy; Google LLC<br>Licensed under the Creative Commons Attribution 3.0 Unported License.<br>
    <a href="https://lit.dev/docs/templates/directives/" class="_attribution-link">https://lit.dev/docs/templates/directives/</a>
  </p>
</div>
