<h1> FlattenException </h1> <p> class <strong>FlattenException</strong> </p> <div class="description"> <p>FlattenException wraps a PHP Error or Exception to be able to serialize it.</p> <p>Basically, this class removes all objects from the trace.</p> </div> <h2>Methods</h2> <table> <tr> <td> static </td> <td> <a href="#method_create">create</a>(<a target="_blank" href="http://php.net/Exception">Exception</a> $exception, $statusCode = null, array $headers = array())  </td> <td></td>
</tr>  <tr> <td> static <a href="flattenexception.html" title="Symfony\Component\Debug\Exception\FlattenException">FlattenException</a> </td> <td> <a href="#method_createFromThrowable">createFromThrowable</a>(<a target="_blank" href="http://php.net/Throwable">Throwable</a> $exception, int|null $statusCode = null, array $headers = array())  </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_toArray">toArray</a>()  </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_getStatusCode">getStatusCode</a>()  </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_setStatusCode">setStatusCode</a>($code)  </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_getHeaders">getHeaders</a>()  </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_setHeaders">setHeaders</a>(array $headers)  </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_getClass">getClass</a>()  </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_setClass">setClass</a>($class)  </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_getFile">getFile</a>()  </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_setFile">setFile</a>($file)  </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_getLine">getLine</a>()  </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_setLine">setLine</a>($line)  </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_getMessage">getMessage</a>()  </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_setMessage">setMessage</a>($message)  </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_getCode">getCode</a>()  </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_setCode">setCode</a>($code)  </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_getPrevious">getPrevious</a>()  </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_setPrevious">setPrevious</a>(<a href="flattenexception.html" title="Symfony\Component\Debug\Exception\FlattenException">FlattenException</a> $previous)  </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_getAllPrevious">getAllPrevious</a>()  </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_getTrace">getTrace</a>()  </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_setTraceFromException">setTraceFromException</a>(<a target="_blank" href="http://php.net/Exception">Exception</a> $exception) <small><sup><span class="label label-danger">deprecated</span></sup></small>  </td> <td></td>
</tr>  <tr> <td> void </td> <td> <a href="#method_setTraceFromThrowable">setTraceFromThrowable</a>(<a target="_blank" href="http://php.net/Throwable">Throwable</a> $throwable)  </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_setTrace">setTrace</a>($trace, $file, $line)  </td> <td></td>
</tr>  </table> <h2>Details</h2> <div id="method-details">  <h3 id="method_create">          static            
    create(<a target="_blank" href="http://php.net/Exception">Exception</a> $exception, $statusCode = null, array $headers = array())
         </h3>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td><a target="_blank" href="http://php.net/Exception">Exception</a></td> <td>$exception</td> <td></td> </tr> <tr> <td></td> <td>$statusCode</td> <td></td> </tr> <tr> <td>array</td> <td>$headers</td> <td></td> </tr> </table>     <h3 id="method_createFromThrowable">          static            <a href="flattenexception.html" title="Symfony\Component\Debug\Exception\FlattenException">FlattenException</a>
    createFromThrowable(<a target="_blank" href="http://php.net/Throwable">Throwable</a> $exception, int|null $statusCode = null, array $headers = array())
         </h3>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td><a target="_blank" href="http://php.net/Throwable">Throwable</a></td> <td>$exception</td> <td></td> </tr> <tr> <td>int|null</td> <td>$statusCode</td> <td></td> </tr> <tr> <td>array</td> <td>$headers</td> <td></td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td><a href="flattenexception.html" title="Symfony\Component\Debug\Exception\FlattenException">FlattenException</a></td> <td></td> </tr> </table>     <h3 id="method_toArray">                      
    toArray()
         </h3>       <h3 id="method_getStatusCode">                      
    getStatusCode()
         </h3>       <h3 id="method_setStatusCode">                      
    setStatusCode($code)
         </h3>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td></td> <td>$code</td> <td></td> </tr> </table>     <h3 id="method_getHeaders">                      
    getHeaders()
         </h3>       <h3 id="method_setHeaders">                      
    setHeaders(array $headers)
         </h3>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>array</td> <td>$headers</td> <td></td> </tr> </table>     <h3 id="method_getClass">                      
    getClass()
         </h3>       <h3 id="method_setClass">                      
    setClass($class)
         </h3>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td></td> <td>$class</td> <td></td> </tr> </table>     <h3 id="method_getFile">                      
    getFile()
         </h3>       <h3 id="method_setFile">                      
    setFile($file)
         </h3>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td></td> <td>$file</td> <td></td> </tr> </table>     <h3 id="method_getLine">                      
    getLine()
         </h3>       <h3 id="method_setLine">                      
    setLine($line)
         </h3>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td></td> <td>$line</td> <td></td> </tr> </table>     <h3 id="method_getMessage">                      
    getMessage()
         </h3>       <h3 id="method_setMessage">                      
    setMessage($message)
         </h3>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td></td> <td>$message</td> <td></td> </tr> </table>     <h3 id="method_getCode">                      
    getCode()
         </h3>       <h3 id="method_setCode">                      
    setCode($code)
         </h3>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td></td> <td>$code</td> <td></td> </tr> </table>     <h3 id="method_getPrevious">                      
    getPrevious()
         </h3>       <h3 id="method_setPrevious">                      
    setPrevious(<a href="flattenexception.html" title="Symfony\Component\Debug\Exception\FlattenException">FlattenException</a> $previous)
         </h3>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td><a href="flattenexception.html" title="Symfony\Component\Debug\Exception\FlattenException">FlattenException</a></td> <td>$previous</td> <td></td> </tr> </table>     <h3 id="method_getAllPrevious">                      
    getAllPrevious()
         </h3>       <h3 id="method_getTrace">                      
    getTrace()
         </h3>       <h3 id="method_setTraceFromException">                      
    setTraceFromException(<a target="_blank" href="http://php.net/Exception">Exception</a> $exception)
        <small><sup><span class="label label-danger">deprecated</span></sup></small> </h3>  <p> <small><sup><span class="label label-danger">deprecated</span></sup></small> </p>
<tr> <td>since</td> <td>4.1, use {@see setTraceFromThrowable()} instead.</td> </tr>  <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td><a target="_blank" href="http://php.net/Exception">Exception</a></td> <td>$exception</td> <td></td> </tr> </table>     <h3 id="method_setTraceFromThrowable">                      void
    setTraceFromThrowable(<a target="_blank" href="http://php.net/Throwable">Throwable</a> $throwable)
         </h3>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td><a target="_blank" href="http://php.net/Throwable">Throwable</a></td> <td>$throwable</td> <td></td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>void</td> <td></td> </tr> </table>     <h3 id="method_setTrace">                      
    setTrace($trace, $file, $line)
         </h3>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td></td> <td>$trace</td> <td></td> </tr> <tr> <td></td> <td>$file</td> <td></td> </tr> <tr> <td></td> <td>$line</td> <td></td> </tr> </table>    </div><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2004&ndash;2017 Fabien Potencier<br>Licensed under the MIT License.<br>
    <a href="https://api.symfony.com/4.1/Symfony/Component/Debug/Exception/FlattenException.html" class="_attribution-link">https://api.symfony.com/4.1/Symfony/Component/Debug/Exception/FlattenException.html</a>
  </p>
</div>
