<h1 id="module-ActionView::Layouts::ClassMethods" class="module"> module ActionView::Layouts::ClassMethods </h1>  <section id="5Buntitled-5D" class="documentation-section"> <section id="public-instance-5Buntitled-5D-method-details" class="method-section"> <header> <h3>Public Instance Methods</h3> </header> <div class="method-detail "> <div class="method-header"> <div class="method-heading" id="method-i-layout"> <span class="method-name">layout</span><span class="method-args">(layout, conditions = {})</span> <a class="method-click-advice">Show source</a> </div> </div> <div class="method-description">
<div class="method-source-code" id="layout-source"> <pre class="ruby" data-language="ruby"># File actionview/lib/action_view/layouts.rb, line 271
def layout(layout, conditions = {})
  include LayoutConditions unless conditions.empty?

  conditions.each { |k, v| conditions[k] = Array(v).map(&amp;:to_s) }
  self._layout_conditions = conditions

  self._layout = layout
  _write_layout_method
end</pre> </div> <p>Specify the layout to use for this class.</p> <p>If the specified layout is a:</p> <dl class="rdoc-list note-list">
<dt>
<a href="../../string.html"><code>String</code></a> </dt>
<dd> <p>the <a href="../../string.html"><code>String</code></a> is the template name</p> </dd>
<dt>
<span><code>Symbol</code></span> </dt>
<dd> <p>call the method specified by the symbol</p> </dd>
<dt>Proc </dt>
<dd> <p>call the passed Proc</p> </dd>
<dt>false </dt>
<dd> <p>There is no layout</p> </dd>
<dt>true </dt>
<dd> <p>raise an ArgumentError</p> </dd>
<dt>nil </dt>
<dd> <p>Force default layout behavior with inheritance</p> </dd>
</dl> <p>Return value of <code>Proc</code> and <code>Symbol</code> arguments should be <code>String</code>, <code>false</code>, <code>true</code>, or <code>nil</code> with the same meaning as described above.</p> <h4 id="method-i-layout-label-Parameters">Parameters</h4> <ul><li> <p><code>layout</code> - The layout to use.</p> </li></ul> <h4 id="method-i-layout-label-Options+-28conditions-29">Options (conditions)</h4> <ul>
<li> <p><code>:only</code> - A list of actions to apply this layout to.</p> </li>
<li> <p><code>:except</code> - Apply this layout to all actions but this one.</p> </li>
</ul>  </div> </div> </section> </section><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2004&ndash;2021 David Heinemeier Hansson<br>Licensed under the MIT License.<br>
    
  </p>
</div>
