<h1> Loader </h1> <p>abstract class <strong>Loader</strong> implements <a href="loaderinterface.html" title="Symfony\Component\Templating\Loader\LoaderInterface">LoaderInterface</a> </p> <div class="description"> <p>Loader is the base class for all template loader classes.</p> </div> <h2>Properties</h2> <table class="table table-condensed"> <tr> <td class="type" id="property_logger"> protected LoggerInterface|null </td> <td>$logger</td> <td class="last"></td> <td></td> </tr> </table> <h2>Methods</h2> <table> <tr> <td> </td> <td> <a href="#method_setLogger">setLogger</a>(LoggerInterface $logger) <p>Sets the debug logger to use for this loader.</p> </td> <td></td>
</tr>  </table> <h2>Details</h2> <div id="method-details">  <h3 id="method_setLogger">                      
    setLogger(LoggerInterface $logger)
         </h3>   <p>Sets the debug logger to use for this loader.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>LoggerInterface</td> <td>$logger</td> <td></td> </tr> </table>    </div><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2004&ndash;2017 Fabien Potencier<br>Licensed under the MIT License.<br>
    <a href="https://api.symfony.com/4.1/Symfony/Component/Templating/Loader/Loader.html" class="_attribution-link">https://api.symfony.com/4.1/Symfony/Component/Templating/Loader/Loader.html</a>
  </p>
</div>
