<h1> FileResource </h1> <p> class <strong>FileResource</strong> implements <a href="selfcheckingresourceinterface.html" title="Symfony\Component\Config\Resource\SelfCheckingResourceInterface">SelfCheckingResourceInterface</a>, <a target="_blank" href="http://php.net/Serializable">Serializable</a> </p> <div class="description"> <p>FileResource represents a resource stored on the filesystem.</p> <p>The resource can be a file or a directory.</p> </div> <h2>Methods</h2> <table> <tr> <td> </td> <td> <a href="#method___construct">__construct</a>(string $resource)  </td> <td></td>
</tr>  <tr> <td> string </td> <td> <a href="#method___toString">__toString</a>() <p>Returns a string representation of the Resource.</p> </td> <td></td>
</tr>  <tr> <td> string </td> <td> <a href="#method_getResource">getResource</a>()  </td> <td></td>
</tr>  <tr> <td> bool </td> <td> <a href="#method_isFresh">isFresh</a>(int $timestamp) <p>Returns true if the resource has not been updated since the given timestamp.</p> </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_serialize">serialize</a>()  </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_unserialize">unserialize</a>($serialized)  </td> <td></td>
</tr>  </table> <h2>Details</h2> <div id="method-details">  <h3 id="method___construct">                      
    __construct(string $resource)
         </h3>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>string</td> <td>$resource</td> <td>The file path to the resource</td> </tr> </table> <h4>Exceptions</h4> <table class="table table-condensed"> <tr> <td><a target="_blank" href="http://php.net/InvalidArgumentException">InvalidArgumentException</a></td> <td></td> </tr> </table>     <h3 id="method___toString">                      string
    __toString()
         </h3>   <p>Returns a string representation of the Resource.</p> <p>This method is necessary to allow for resource de-duplication, for example by means of array_unique(). The string returned need not have a particular meaning, but has to be identical for different ResourceInterface instances referring to the same resource; and it should be unlikely to collide with that of other, unrelated resource instances.</p>   <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>string</td> <td>A string representation unique to the underlying Resource</td> </tr> </table>     <h3 id="method_getResource">                      string
    getResource()
         </h3>   <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>string</td> <td>The canonicalized, absolute path to the resource</td> </tr> </table>     <h3 id="method_isFresh">                      bool
    isFresh(int $timestamp)
         </h3>   <p>Returns true if the resource has not been updated since the given timestamp.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>int</td> <td>$timestamp</td> <td>The last time the resource was loaded</td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>bool</td> <td>True if the resource has not been updated, false otherwise</td> </tr> </table>     <h3 id="method_serialize">                      
    serialize()
         </h3>       <h3 id="method_unserialize">                      
    unserialize($serialized)
         </h3>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td></td> <td>$serialized</td> <td></td> </tr> </table>    </div><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2004&ndash;2017 Fabien Potencier<br>Licensed under the MIT License.<br>
    <a href="https://api.symfony.com/4.1/Symfony/Component/Config/Resource/FileResource.html" class="_attribution-link">https://api.symfony.com/4.1/Symfony/Component/Config/Resource/FileResource.html</a>
  </p>
</div>
