<h1> ServiceReferenceGraphNode </h1> <p> class <strong>ServiceReferenceGraphNode</strong> </p> <div class="description"> <p>Represents a node in your service graph.</p> <p>Value is typically a definition, or an alias.</p> </div> <h2>Methods</h2> <table> <tr> <td> </td> <td> <a href="#method___construct">__construct</a>(string $id, mixed $value)  </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_addInEdge">addInEdge</a>(<a href="servicereferencegraphedge.html" title="Symfony\Component\DependencyInjection\Compiler\ServiceReferenceGraphEdge">ServiceReferenceGraphEdge</a> $edge)  </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_addOutEdge">addOutEdge</a>(<a href="servicereferencegraphedge.html" title="Symfony\Component\DependencyInjection\Compiler\ServiceReferenceGraphEdge">ServiceReferenceGraphEdge</a> $edge)  </td> <td></td>
</tr>  <tr> <td> bool </td> <td> <a href="#method_isAlias">isAlias</a>() <p>Checks if the value of this node is an Alias.</p> </td> <td></td>
</tr>  <tr> <td> bool </td> <td> <a href="#method_isDefinition">isDefinition</a>() <p>Checks if the value of this node is a Definition.</p> </td> <td></td>
</tr>  <tr> <td> string </td> <td> <a href="#method_getId">getId</a>() <p>Returns the identifier.</p> </td> <td></td>
</tr>  <tr> <td> array </td> <td> <a href="#method_getInEdges">getInEdges</a>() <p>Returns the in edges.</p> </td> <td></td>
</tr>  <tr> <td> array </td> <td> <a href="#method_getOutEdges">getOutEdges</a>() <p>Returns the out edges.</p> </td> <td></td>
</tr>  <tr> <td> mixed </td> <td> <a href="#method_getValue">getValue</a>() <p>Returns the value of this Node.</p> </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_clear">clear</a>() <p>Clears all edges.</p> </td> <td></td>
</tr>  </table> <h2>Details</h2> <div id="method-details">  <h3 id="method___construct">                      
    __construct(string $id, mixed $value)
         </h3>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>string</td> <td>$id</td> <td>The node identifier</td> </tr> <tr> <td>mixed</td> <td>$value</td> <td>The node value</td> </tr> </table>     <h3 id="method_addInEdge">                      
    addInEdge(<a href="servicereferencegraphedge.html" title="Symfony\Component\DependencyInjection\Compiler\ServiceReferenceGraphEdge">ServiceReferenceGraphEdge</a> $edge)
         </h3>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td><a href="servicereferencegraphedge.html" title="Symfony\Component\DependencyInjection\Compiler\ServiceReferenceGraphEdge">ServiceReferenceGraphEdge</a></td> <td>$edge</td> <td></td> </tr> </table>     <h3 id="method_addOutEdge">                      
    addOutEdge(<a href="servicereferencegraphedge.html" title="Symfony\Component\DependencyInjection\Compiler\ServiceReferenceGraphEdge">ServiceReferenceGraphEdge</a> $edge)
         </h3>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td><a href="servicereferencegraphedge.html" title="Symfony\Component\DependencyInjection\Compiler\ServiceReferenceGraphEdge">ServiceReferenceGraphEdge</a></td> <td>$edge</td> <td></td> </tr> </table>     <h3 id="method_isAlias">                      bool
    isAlias()
         </h3>   <p>Checks if the value of this node is an Alias.</p>   <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>bool</td> <td>True if the value is an Alias instance</td> </tr> </table>     <h3 id="method_isDefinition">                      bool
    isDefinition()
         </h3>   <p>Checks if the value of this node is a Definition.</p>   <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>bool</td> <td>True if the value is a Definition instance</td> </tr> </table>     <h3 id="method_getId">                      string
    getId()
         </h3>   <p>Returns the identifier.</p>   <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>string</td> <td></td> </tr> </table>     <h3 id="method_getInEdges">                      array
    getInEdges()
         </h3>   <p>Returns the in edges.</p>   <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>array</td> <td>The in ServiceReferenceGraphEdge array</td> </tr> </table>     <h3 id="method_getOutEdges">                      array
    getOutEdges()
         </h3>   <p>Returns the out edges.</p>   <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>array</td> <td>The out ServiceReferenceGraphEdge array</td> </tr> </table>     <h3 id="method_getValue">                      mixed
    getValue()
         </h3>   <p>Returns the value of this Node.</p>   <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>mixed</td> <td>The value</td> </tr> </table>     <h3 id="method_clear">                      
    clear()
         </h3>   <p>Clears all edges.</p>      </div><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2004&ndash;2017 Fabien Potencier<br>Licensed under the MIT License.<br>
    <a href="https://api.symfony.com/4.1/Symfony/Component/DependencyInjection/Compiler/ServiceReferenceGraphNode.html" class="_attribution-link">https://api.symfony.com/4.1/Symfony/Component/DependencyInjection/Compiler/ServiceReferenceGraphNode.html</a>
  </p>
</div>
