<h1> ExpressionLanguageProvider </h1> <p> class <strong>ExpressionLanguageProvider</strong> implements <a href="../expressionlanguage/expressionfunctionproviderinterface.html" title="Symfony\Component\ExpressionLanguage\ExpressionFunctionProviderInterface">ExpressionFunctionProviderInterface</a> </p> <div class="description"> <p>Define some ExpressionLanguage functions.</p> <p>To get a service, use service('request'). To get a parameter, use parameter('kernel.debug').</p> </div> <h2>Methods</h2> <table> <tr> <td> </td> <td> <a href="#method___construct">__construct</a>(callable $serviceCompiler = null)  </td> <td></td>
</tr>  <tr> <td> <a href="../expressionlanguage/expressionfunction.html" title="Symfony\Component\ExpressionLanguage\ExpressionFunction">ExpressionFunction</a>[] </td> <td> <a href="#method_getFunctions">getFunctions</a>()  </td> <td></td>
</tr>  </table> <h2>Details</h2> <div id="method-details">  <h3 id="method___construct">                      
    __construct(callable $serviceCompiler = null)
         </h3>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>callable</td> <td>$serviceCompiler</td> <td></td> </tr> </table>     <h3 id="method_getFunctions">                      <a href="../expressionlanguage/expressionfunction.html" title="Symfony\Component\ExpressionLanguage\ExpressionFunction">ExpressionFunction</a>[]
    getFunctions()
         </h3>   <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>
<a href="../expressionlanguage/expressionfunction.html" title="Symfony\Component\ExpressionLanguage\ExpressionFunction">ExpressionFunction</a>[]</td> <td>An array of Function instances</td> </tr> </table>    </div><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2004&ndash;2017 Fabien Potencier<br>Licensed under the MIT License.<br>
    <a href="https://api.symfony.com/4.1/Symfony/Component/DependencyInjection/ExpressionLanguageProvider.html" class="_attribution-link">https://api.symfony.com/4.1/Symfony/Component/DependencyInjection/ExpressionLanguageProvider.html</a>
  </p>
</div>
