Source: devdocs
Section: doc
Priority: optional
Maintainer: Dimitry Ishenko <dimitry.ishenko@gmail.com>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 12),
 cmake,
Standards-Version: 4.6.2
Homepage: https://devdocs.io
Vcs-Browser: https://github.com/dimitry-ishenko-cpp/devdocs
Vcs-Git: https://github.com/dimitry-ishenko-cpp/devdocs.git

Package: devdocs
Architecture: all
Depends: ${misc:Depends},
 python3
Description: View devdocs offline in a terminal
