<h1>   <span translate="no">Phoenix.LiveView.Component</span>  </h1> <section id="moduledoc"> <p>The struct returned by components in .heex templates.</p>
<p>This component is never meant to be output directly into the template. It should always be handled by the diffing algorithm.</p> </section> <section id="summary" class="details-list"> <h1 class="section-heading">  Summary </h1> <h2> Types </h2>
<dl class="summary-types summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#t:t/0" translate="no">t()</a> </dt> </div> </dl> </section> <section id="types" class="details-list"> <h1 class="section-heading">  Types </h1> <div class="types-list"> <section class="detail"> <h3 class="detail-header" id="t:t/0">t()<a href="https://github.com/phoenixframework/phoenix_live_view/blob/v0.17.11/lib/phoenix_live_view/engine.ex#L12" class="source">Source</a>
</h3> <section class="docstring"> <div class="specs"> <pre translate="no" data-language="elixir">@type t() :: %Phoenix.LiveView.Component{
  assigns: map(),
  component: module(),
  id: binary()
}</pre> </div> </section> </section> </div> </section><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2018 Chris McCord<br>Licensed under the MIT License.<br>
    <a href="https://hexdocs.pm/phoenix_live_view/Phoenix.LiveView.Component.html" class="_attribution-link">https://hexdocs.pm/phoenix_live_view/Phoenix.LiveView.Component.html</a>
  </p>
</div>
