<article><h1>Styles</h1>
<p>Your component's template is rendered to its shadow root. The styles you add to your component are automatically <em>scoped</em> to the shadow root and only affect elements in the component's shadow root.</p>
<p>Shadow DOM provides strong encapsulation for styling. If Lit did not use Shadow DOM, you would have to be extremely careful not to accidentally style elements outside of your component, either ancestors or children of your component. This might involve writing long, cumbersome to use class names. By using Shadow DOM, Lit ensures whatever selector you write only apply to elements in your Lit component's shadow root.</p>
<div class="heading h2"><h2 id="add-styles">Adding styles to your component</h2></div>
<p>You define scoped styles in the static <code>styles</code> class field using the tagged template literal <code>css</code> function. Defining styles this way results in the most optimal performance:</p>

<p>The styles you add to your component are <em>scoped</em> using shadow DOM. For a quick overview, see <a href="#shadow-dom">Shadow DOM</a>.</p>
<p>The value of the static <code>styles</code> class field can be:</p>
<ul>
<li>
<p>A single tagged template literal.</p>
<pre data-language="js">static styles = css`...`;</pre>
</li>
<li>
<p>An array of tagged template literals.</p>
<pre data-language="js">static styles = [ css`...`, css`...`];</pre>
</li>
</ul>
<p>The static <code>styles</code> class field is <em>almost always</em> the best way to add styles to your component, but there are some use cases you can't handle this way—for example, customizing styles per instance. For alternate ways to add styles, see <a href="#styles-in-the-template">Defining scoped styles in the template</a>.</p>
<div class="heading h3"><h3 id="expressions">Using expressions in static styles</h3></div>
<p>Static styles apply to all instances of a component. Any expressions in CSS are evaluated <strong>once</strong>, then reused for all instances.</p>
<p>For tree-based or per-instance style customization, use CSS custom properties to allow elements to be <a href="#theming">themed</a>.</p>
<p>To prevent Lit components from evaluating potentially malicious code, the <code>css</code> tag only allows nested expressions that are themselves <code>css</code> tagged strings or numbers.</p>
<pre data-language="js">const mainColor = css`red`;
...
static styles = css`
  div { color: ${mainColor} }
`;</pre>
<p>This restriction exists to protect applications from security vulnerabilities whereby malicious styles, or even malicious code, can be injected from untrusted sources such as URL parameters or database values.</p>
<p>If you must use an expression in a <code>css</code> literal that is not itself a <code>css</code> literal, <strong>and</strong> you are confident that the expression is from a fully trusted source such as a constant defined in your own code, then you can wrap the expression with the <code>unsafeCSS</code> function:</p>
<pre data-language="js">const mainColor = 'red';
...
static styles = css`
  div { color: ${unsafeCSS(mainColor)} }
`;</pre>
<div class="alert alert-info"><p><strong>Only use the <code>unsafeCSS</code> tag with trusted input.</strong> Injecting unsanitized CSS is a security risk. For example, malicious CSS can "phone home" by adding an image URL that points to a third-party server.</p></div>
<div class="heading h3"><h3 id="inheriting-styles-from-a-superclass">Inheriting styles from a superclass</h3></div>
<p>Using an array of tagged template literals, a component can inherit the styles from a superclass, and add its own styles:</p>

<p>You can also use <code>super.styles</code> to reference the superclass's styles property in JavaScript. If you're using TypeScript, we recommend avoiding <code>super.styles</code> since the compiler doesn't always convert it correctly. Explicitly referencing the superclass, as shown in the example, avoids this issue.</p>
<p>When writing components intended to be subclassed in TypeScript, the <code>static styles</code> field should be explicitly typed as <code>CSSResultGroup</code> to allow flexibility for users to override <code>styles</code> with an array:</p>
<pre data-language="ts">// Prevent typescript from narrowing the type of `styles` to `CSSResult`
// so that subclassers can assign e.g. `[SuperElement.styles, css`...`]`;
static styles: CSSResultGroup = css`...`;</pre>
<div class="heading h3"><h3 id="sharing-styles">Sharing styles</h3></div>
<p>You can share styles between components by creating a module that exports tagged styles:</p>
<pre data-language="js">export const buttonStyles = css`
  .blue-button {
    color: white;
    background-color: blue;
  }
  .blue-button:disabled {
    background-color: grey;
  }`;</pre>
<p>Your element can then import the styles and add them to its static <code>styles</code> class field:</p>
<pre data-language="js">import { buttonStyles } from './button-styles.js';

class MyElement extends LitElement {
  static styles = [
    buttonStyles,
    css`
      :host { display: block;
        border: 1px solid black;
      }`
  ];
}</pre>
<div class="heading h3"><h3 id="using-unicode-escapes-in-styles">Using unicode escapes in styles</h3></div>
<p>CSS's unicode escape sequence is a backslash followed by four or six hex digits: for example, <code>\2022</code> for a bullet character. This similar to the format of JavaScript's deprecated <em>octal</em> escape sequences, so using these sequences in a <code>css</code> tagged template literal causes an error.</p>
<p>There are two work-arounds for adding a unicode escape to your styles:</p>
<ul>
<li>Add a second backslash (for example, <code>\\2022</code>).</li>
<li>Use the JavaScript escape sequence, starting with <code>\u</code> (for example, <code>\u2022</code>).</li>
</ul>
<pre data-language="js">static styles = css`
  div::before {
    content: '\u2022';
  }</pre>
<div class="heading h2"><h2 id="shadow-dom">Shadow DOM styling overview</h2></div>
<p>This section gives a brief overview of shadow DOM styling.</p>
<p>Styles you add to a component can affect:</p>
<ul>
<li>
<a href="#shadowroot">The shadow tree</a> (your component's rendered template).</li>
<li>
<a href="#host">The component itself</a>.</li>
<li>
<a href="#slotted">The component's children</a>.</li>
</ul>
<div class="heading h3"><h3 id="shadowroot">Styling the shadow tree</h3></div>
<p>Lit templates are rendered into a shadow tree by default. Styles scoped to an element's shadow tree don't affect the main document or other shadow trees. Similarly, with the exception of <a href="#inheritance">inherited CSS properties</a>, document-level styles don't affect the contents of a shadow tree.</p>
<p>When you use standard CSS selectors, they only match elements in your component's shadow tree. This means you can often use very simple selectors since you don't have to worry about them accidentally styling other parts of the page; for example: <code>input</code>, <code>*</code>, or <code>#my-element</code>.</p>
<div class="heading h3"><h3 id="host">Styling the component itself</h3></div>
<p>You can style the component itself using special <code>:host</code> selectors. (The element that owns, or "hosts" a shadow tree is called the <em>host element</em>.)</p>
<p>To create default styles for the host element, use the <code>:host</code> CSS pseudo-class and <code>:host()</code> CSS pseudo-class function.</p>
<ul>
<li>
<code>:host</code> selects the host element.</li>
<li>
<code>:host(<var>selector</var>)</code> selects the host element, but only if the host element matches <em>selector</em>.</li>
</ul>

<p>Note that the host element can be affected by styles from outside the shadow tree, as well, so you should consider the styles you set in <code>:host</code> and <code>:host()</code> rules as <em>default styles</em> that can be overridden by the user. For example:</p>
<pre data-language="css">my-element {
  display: inline-block;
}</pre>
<div class="heading h3"><h3 id="slotted">Styling the component's children</h3></div>
<p>Your component may accept children (like a <code>&lt;ul&gt;</code> element can have <code>&lt;li&gt;</code> children). To render children, your template needs to include one or more <code>&lt;slot&gt;</code> elements, as described in <a href="../shadow-dom/index.html#slots">Render children with the slot element</a>.</p>
<p>The <code>&lt;slot&gt;</code> element acts as a placeholder in a shadow tree where the host element's children are displayed.</p>
<p>Use the <code>::slotted()</code> CSS pseudo-element to select children that are included in your template via <code>&lt;slot&gt;</code>s.</p>
<ul>
<li>
<code>::slotted(*)</code> matches all slotted elements.</li>
<li>
<code>::slotted(p)</code> matches slotted paragraphs.</li>
<li>
<code>p ::slotted(*)</code> matches slotted elements where the <code>&lt;slot&gt;</code> is a descendant of a paragraph element.</li>
</ul>

<p>Note that <strong>only direct slotted children</strong> can be styled with <code>::slotted()</code>.</p>
<pre data-language="html">&lt;my-element&gt;
  &lt;div&gt;Stylable with ::slotted()&lt;/div&gt;
&lt;/my-element&gt;

&lt;my-element&gt;
  &lt;div&gt;&lt;p&gt;Not stylable with ::slotted()&lt;/p&gt;&lt;/div&gt;
&lt;/my-element&gt;</pre>
<p>Also, children can be styled from outside the shadow tree, so you should regard your <code>::slotted()</code> styles as default styles that can be overridden.</p>
<pre data-language="css">my-element &gt; div {
  /* Outside style targetting a slotted child can override ::slotted() styles */
}</pre>
<div class="alert alert-info"><p><strong>Limitations in the ShadyCSS polyfill around slotted content.</strong> See the <a href="https://github.com/webcomponents/polyfills/tree/master/packages/shadycss/#limitations">ShadyCSS limitations</a> for details on how to use the <code>::slotted()</code> syntax in a polyfill-friendly way.</p></div>
<div class="heading h2"><h2 id="styles-in-the-template">Defining scoped styles in the template</h2></div>
<p>We recommend using the <a href="#add-styles">static <code>styles</code> class field</a> for optimal performance. However, sometimes you may want to define styles in the Lit template. There are two ways to add scoped styles in the template:</p>
<ul>
<li>Add styles using a <a href="#style-element"><code>&lt;style&gt;</code> element</a>.</li>
<li>Add styles using an <a href="#external-stylesheet">external style sheet</a> (not recommended).</li>
</ul>
<p>Each of these techniques has its own set of advantages and drawbacks.</p>
<div class="heading h3"><h3 id="style-element">In a style element</h3></div>
<p>Typically, styles are placed in the <a href="#add-styles">static <code>styles</code> class field</a>; however, the element's static <code>styles</code> are evaluated <strong>once per class</strong>. Sometimes, you might need to customize styles <strong>per instance</strong>. For this, we recommend using CSS properties to create <a href="#theming">themable elements</a>. Alternatively, you can also include <code>&lt;style&gt;</code> elements in a Lit template. These are updated per instance.</p>
<pre data-language="js">render() {
  return html`
    &lt;style&gt;
      /* updated per instance */
    &lt;/style&gt;
    &lt;div&gt;template content&lt;/div&gt;
  `;
}</pre>
<div class="alert alert-info"><p><strong>Limitations in the ShadyCSS polyfill around per instance styling.</strong> Per instance styling is not supported using the ShadyCSS polyfill. See the <a href="https://github.com/webcomponents/polyfills/tree/master/packages/shadycss/#limitations">ShadyCSS limitations</a> for details.</p></div>
<div class="heading h4"><h4 id="expressions-and-style-elements">Expressions and style elements</h4></div>
<p>Using expressions inside style elements has some important limitations and performance issues.</p>
<pre data-language="js">render() {
  return html`
    &lt;style&gt;
      :host {
        /* Warning: this approach has limitations &amp; performance issues! */
        color: ${myColor}
      }
    &lt;/style&gt;
    &lt;div&gt;template content&lt;/div&gt;
  `;
}</pre>
<div class="alert alert-info"><p><strong>Limitations in the ShadyCSS polyfill around expressions.</strong> Expressions in <code>&lt;style&gt;</code> elements won't update per instance in ShadyCSS, due to limitations of the ShadyCSS polyfill. In addition, <code>&lt;style&gt;</code> nodes may not be passed as expression values when using the ShadyCSS polyfill. See the <a href="https://github.com/webcomponents/polyfills/tree/master/packages/shadycss/#limitations">ShadyCSS limitations</a> for more information.</p></div>
<p>Evaluating an expression inside a <code>&lt;style&gt;</code> element is extremely inefficient. When any text inside a <code>&lt;style&gt;</code> element changes, the browser must re-parse the whole <code>&lt;style&gt;</code> element, resulting in unnecessary work.</p>
<p>To mitigate this cost, separate styles that require per-instance evaluation from those that don't.</p>
<pre data-language="js">  static styles = css`/* ... */`;
  render() {
    const redStyle = html`&lt;style&gt; :host { color: red; } &lt;/style&gt;`;
    return html`${this.red ? redStyle : ''}`
</pre>
<div class="heading h3"><h3 id="external-stylesheet">Import an external stylesheet (not recommended)</h3></div>
<p>While you can include an external style sheet in your template with a <code>&lt;link&gt;</code>, we do not recommend this approach. Instead, styles should be placed in the <a href="#add-styles">static <code>styles</code> class field</a>.</p>
<div class="alert alert-info">
<p><strong>External stylesheet caveats.</strong></p>
<ul>
<li>The <a href="https://github.com/webcomponents/polyfills/tree/master/packages/shadycss/#limitations">ShadyCSS polyfill</a> doesn't support external style sheets.</li>
<li>External styles can cause a flash-of-unstyled-content (FOUC) while they load.</li>
<li>The URL in the <code>href</code> attribute is relative to the <strong>main document</strong>. This is okay if you're building an app and your asset URLs are well-known, but avoid using external style sheets when building a reusable element.</li>
</ul>
</div>
<div class="heading h2"><h2 id="dynamic-classes-and-styles">Dynamic classes and styles</h2></div>
<p>One way to make styles dynamic is to add expressions to the <code>class</code> or <code>style</code> attributes in your template.</p>
<p>Lit offers two directives, <code>classMap</code> and <code>styleMap</code>, to conveniently apply classes and styles in HTML templates.</p>
<p>For more information on these and other directives, see the documentation on <a href="../../templates/directives/index.html">built-in directives</a>.</p>
<p>To use <code>styleMap</code> and/or <code>classMap</code>:</p>
<ol>
<li>
<p>Import <code>classMap</code> and/or <code>styleMap</code>:</p>
<pre data-language="js">import { classMap } from 'lit/directives/class-map.js';
import { styleMap } from 'lit/directives/style-map.js';</pre>
</li>
<li><p>Use <code>classMap</code> and/or <code>styleMap</code> in your element template:</p></li>
</ol>

<p>See <a href="../../templates/directives/index.html#classmap">classMap</a> and <a href="../../templates/directives/index.html#stylemap">styleMap</a> for more information.</p>
<div class="heading h2"><h2 id="theming">Theming</h2></div>
<p>By using <a href="#inheritance">CSS inheritance</a> and <a href="#customprops">CSS variables and custom properties</a> together, it's easy to create themable elements. By applying css selectors to customize CSS custom properties, tree-based and per-instance theming is straightforward to apply. Here's an example:</p>

<div class="heading h3"><h3 id="inheritance">CSS inheritance</h3></div>
<p>CSS inheritance lets parent and host elements propagate certain CSS properties to their descendants.</p>
<p>Not all CSS properties inherit. Inherited CSS properties include:</p>
<ul>
<li><code>color</code></li>
<li>
<code>font-family</code> and other <code>font-*</code> properties</li>
<li>All CSS custom properties (<code>--*</code>)</li>
</ul>
<p>See <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/inheritance/">CSS Inheritance on MDN</a> for more information.</p>
<p>You can use CSS inheritance to set styles on an ancestor element that are inherited by its descendants:</p>
<pre data-language="html">&lt;style&gt;
html {
  color: green;
}
&lt;/style&gt;
&lt;my-element&gt;
  #shadow-root
    Will be green
&lt;/my-element&gt;</pre>
<div class="heading h3"><h3 id="customprops">CSS custom properties</h3></div>
<p>All CSS custom properties (<code>--<var>custom-property-name</var></code>) inherit. You can use this to make your component's styles configurable from outside.</p>
<p>The following component sets its background color to a CSS variable. The CSS variable uses the value of <code>--my-background</code> if it's been set by a selector matching an ancestor in the DOM tree, and otherwise defaults to <code>yellow</code>:</p>
<pre data-language="js">class MyElement extends LitElement {
  static styles = css`
    :host {
      background-color: var(--my-background, yellow);
    }
  `;
  render() {
    return html`&lt;p&gt;Hello world&lt;/p&gt;`;
  }
}</pre>
<p>Users of this component can set the value of <code>--my-background</code>, using the <code>my-element</code> tag as a CSS selector:</p>
<pre data-language="html">&lt;style&gt;
  my-element {
    --my-background: rgb(67, 156, 144);
  }
&lt;/style&gt;
&lt;my-element&gt;&lt;/my-element&gt;</pre>
<p><code>--my-background</code> is configurable per instance of <code>my-element</code>:</p>
<pre data-language="html">&lt;style&gt;
  my-element {
    --my-background: rgb(67, 156, 144);
  }
  my-element.stuff {
    --my-background: #111111;
  }
&lt;/style&gt;
&lt;my-element&gt;&lt;/my-element&gt;
&lt;my-element class="stuff"&gt;&lt;/my-element&gt;</pre>
<p>See <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/--*">CSS Custom Properties on MDN</a> for more information.</p>
<p id="edit-page-link"><a href="https://github.com/lit/lit.dev/edit/main/packages/lit-dev-content/./site/docs/v3/components/styles.md">Edit this page<lazy-svg loading="visible" svg-aria-hidden href="/images/icons/edit-square.svg.html#icon"></lazy-svg></a></p></article><div class="_attribution">
  <p class="_attribution-p">
    &copy; Google LLC<br>Licensed under the Creative Commons Attribution 3.0 Unported License.<br>
    <a href="https://lit.dev/docs/components/styles/" class="_attribution-link">https://lit.dev/docs/components/styles/</a>
  </p>
</div>
