<h1> AttributeMetadataInterface </h1> <p> interface <strong>AttributeMetadataInterface</strong> </p> <div class="description"> <p>Stores metadata needed for serializing and deserializing attributes.</p> <p>Primarily, the metadata stores serialization groups.</p> </div> <h2>Methods</h2> <table> <tr> <td> string </td> <td> <a href="#method_getName">getName</a>() <p>Gets the attribute name.</p> </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_addGroup">addGroup</a>(string $group) <p>Adds this attribute to the given group.</p> </td> <td></td>
</tr>  <tr> <td> string[] </td> <td> <a href="#method_getGroups">getGroups</a>() <p>Gets groups of this attribute.</p> </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_setMaxDepth">setMaxDepth</a>(int|null $maxDepth) <p>Sets the serialization max depth for this attribute.</p> </td> <td></td>
</tr>  <tr> <td> int|null </td> <td> <a href="#method_getMaxDepth">getMaxDepth</a>() <p>Gets the serialization max depth for this attribute.</p> </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_merge">merge</a>(<a href="attributemetadatainterface.html" title="Symfony\Component\Serializer\Mapping\AttributeMetadataInterface">AttributeMetadataInterface</a> $attributeMetadata) <p>Merges an {see AttributeMetadataInterface} with in the current one.</p> </td> <td></td>
</tr>  </table> <h2>Details</h2> <div id="method-details">  <h3 id="method_getName">                      string
    getName()
         </h3>   <p>Gets the attribute name.</p>   <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>string</td> <td></td> </tr> </table>     <h3 id="method_addGroup">                      
    addGroup(string $group)
         </h3>   <p>Adds this attribute to the given group.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>string</td> <td>$group</td> <td></td> </tr> </table>     <h3 id="method_getGroups">                      string[]
    getGroups()
         </h3>   <p>Gets groups of this attribute.</p>   <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>string[]</td> <td></td> </tr> </table>     <h3 id="method_setMaxDepth">                      
    setMaxDepth(int|null $maxDepth)
         </h3>   <p>Sets the serialization max depth for this attribute.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>int|null</td> <td>$maxDepth</td> <td></td> </tr> </table>     <h3 id="method_getMaxDepth">                      int|null
    getMaxDepth()
         </h3>   <p>Gets the serialization max depth for this attribute.</p>   <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>int|null</td> <td></td> </tr> </table>     <h3 id="method_merge">                      
    merge(<a href="attributemetadatainterface.html" title="Symfony\Component\Serializer\Mapping\AttributeMetadataInterface">AttributeMetadataInterface</a> $attributeMetadata)
         </h3>   <p>Merges an {see AttributeMetadataInterface} with in the current one.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td><a href="attributemetadatainterface.html" title="Symfony\Component\Serializer\Mapping\AttributeMetadataInterface">AttributeMetadataInterface</a></td> <td>$attributeMetadata</td> <td></td> </tr> </table>    </div><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2004&ndash;2017 Fabien Potencier<br>Licensed under the MIT License.<br>
    <a href="https://api.symfony.com/4.1/Symfony/Component/Serializer/Mapping/AttributeMetadataInterface.html" class="_attribution-link">https://api.symfony.com/4.1/Symfony/Component/Serializer/Mapping/AttributeMetadataInterface.html</a>
  </p>
</div>
