<h1> OrderedHashMapIterator </h1> <p> class <strong>OrderedHashMapIterator</strong> implements <a target="_blank" href="http://php.net/Iterator">Iterator</a> </p> <div class="description"> <p>Iterator for {@link OrderedHashMap} objects.</p> </div> <h2>Methods</h2> <table> <tr> <td> </td> <td> <a href="#method___construct">__construct</a>(array $elements, array $orderedKeys, array $managedCursors) <p>Creates a new iterator.</p> </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method___destruct">__destruct</a>() <p>Removes the iterator's cursors from the managed cursors of the corresponding {@link OrderedHashMap} instance.</p> </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_current">current</a>() <p>{@inheritdoc}</p> </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_next">next</a>() <p>{@inheritdoc}</p> </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_key">key</a>() <p>{@inheritdoc}</p> </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_valid">valid</a>() <p>{@inheritdoc}</p> </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_rewind">rewind</a>() <p>{@inheritdoc}</p> </td> <td></td>
</tr>  </table> <h2>Details</h2> <div id="method-details">  <h3 id="method___construct">                      
    __construct(array $elements, array $orderedKeys, array $managedCursors)
         </h3>   <p>Creates a new iterator.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>array</td> <td>$elements</td> <td>The elements of the map, indexed by their keys</td> </tr> <tr> <td>array</td> <td>$orderedKeys</td> <td>The keys of the map in the order in which they should be iterated</td> </tr> <tr> <td>array</td> <td>$managedCursors</td> <td>An array from which to reference the iterator's cursor as long as it is alive. This array is managed by the corresponding {@link OrderedHashMap} instance to support recognizing the deletion of elements.</td> </tr> </table>     <h3 id="method___destruct">                      
    __destruct()
         </h3>   <p>Removes the iterator's cursors from the managed cursors of the corresponding {@link OrderedHashMap} instance.</p>       <h3 id="method_current">                      
    current()
         </h3>   <p>{@inheritdoc}</p>       <h3 id="method_next">                      
    next()
         </h3>   <p>{@inheritdoc}</p>       <h3 id="method_key">                      
    key()
         </h3>   <p>{@inheritdoc}</p>       <h3 id="method_valid">                      
    valid()
         </h3>   <p>{@inheritdoc}</p>       <h3 id="method_rewind">                      
    rewind()
         </h3>   <p>{@inheritdoc}</p>      </div><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2004&ndash;2017 Fabien Potencier<br>Licensed under the MIT License.<br>
    <a href="https://api.symfony.com/4.1/Symfony/Component/Form/Util/OrderedHashMapIterator.html" class="_attribution-link">https://api.symfony.com/4.1/Symfony/Component/Form/Util/OrderedHashMapIterator.html</a>
  </p>
</div>
