<h1 id="component-registration" tabindex="-1">Component Registration </h1>
<blockquote><p>This page assumes you've already read the <a href="../essentials/component-basics.html">Components Basics</a>. Read that first if you are new to components.</p></blockquote>
<p>A Vue component needs to be "registered" so that Vue knows where to locate its implementation when it is encountered in a template. There are two ways to register components: global and local.</p>
<h2 id="global-registration" tabindex="-1">Global Registration </h2>
<p>We can make components available globally in the current <a href="../essentials/application.html">Vue application</a> using the <code>.component()</code> method:</p>
<pre data-language="js">import { createApp } from 'vue'

const app = createApp({})

app.component(
  // the registered name
  'MyComponent',
  // the implementation
  {
    /* ... */
  }
)</pre>
<p>If using SFCs, you will be registering the imported <code>.vue</code> files:</p>
<pre data-language="js">import MyComponent from './App.vue'

app.component('MyComponent', MyComponent)</pre>
<p>The <code>.component()</code> method can be chained:</p>
<pre data-language="js">app
  .component('ComponentA', ComponentA)
  .component('ComponentB', ComponentB)
  .component('ComponentC', ComponentC)</pre>
<p>Globally registered components can be used in the template of any component within this application:</p>
<pre data-language="template">&lt;!-- this will work in any component inside the app --&gt;
&lt;ComponentA/&gt;
&lt;ComponentB/&gt;
&lt;ComponentC/&gt;</pre>
<p>This even applies to all subcomponents, meaning all three of these components will also be available <em>inside each other</em>.</p>
<h2 id="local-registration" tabindex="-1">Local Registration </h2>
<p>While convenient, global registration has a few drawbacks:</p>
<ol>
<li><p>Global registration prevents build systems from removing unused components (a.k.a "tree-shaking"). If you globally register a component but end up not using it anywhere in your app, it will still be included in the final bundle.</p></li>
<li><p>Global registration makes dependency relationships less explicit in large applications. It makes it difficult to locate a child component's implementation from a parent component using it. This can affect long-term maintainability similar to using too many global variables.</p></li>
</ol>
<p>Local registration scopes the availability of the registered components to the current component only. It makes the dependency relationship more explicit, and is more tree-shaking friendly.</p>
<div class="composition-api">
<p>When using SFC with <code>&lt;script setup&gt;</code>, imported components can be locally used without registration:</p>
<pre data-language="javascript">&lt;script setup&gt;
import ComponentA from './ComponentA.vue'
&lt;/script&gt;

&lt;template&gt;
  &lt;ComponentA /&gt;
&lt;/template&gt;</pre>
<p>In non-<code>&lt;script setup&gt;</code>, you will need to use the <code>components</code> option:</p>
<pre data-language="js">import ComponentA from './ComponentA.js'

export default {
  components: {
    ComponentA
  },
  setup() {
    // ...
  }
}</pre>
</div>
<div class="options-api">
<p>Local registration is done using the <code>components</code> option:</p>
<pre data-language="javascript">&lt;script&gt;
import ComponentA from './ComponentA.vue'

export default {
  components: {
    ComponentA
  }
}
&lt;/script&gt;

&lt;template&gt;
  &lt;ComponentA /&gt;
&lt;/template&gt;</pre>
</div>
<p>For each property in the <code>components</code> object, the key will be the registered name of the component, while the value will contain the implementation of the component. The above example is using the ES2015 property shorthand and is equivalent to:</p>
<pre data-language="js">export default {
  components: {
    ComponentA: ComponentA
  }
  // ...
}</pre>
<p>Note that <strong>locally registered components are <em>not</em> also available in descendant components</strong>. In this case, <code>ComponentA</code> will be made available to the current component only, not any of its child or descendant components.</p>
<h2 id="component-name-casing" tabindex="-1">Component Name Casing </h2>
<p>Throughout the guide, we are using PascalCase names when registering components. This is because:</p>
<ol>
<li><p>PascalCase names are valid JavaScript identifiers. This makes it easier to import and register components in JavaScript. It also helps IDEs with auto-completion.</p></li>
<li><p><code>&lt;PascalCase /&gt;</code> makes it more obvious that this is a Vue component instead of a native HTML element in templates. It also differentiates Vue components from custom elements (web components).</p></li>
</ol>
<p>This is the recommended style when working with SFC or string templates. However, as discussed in <a href="../essentials/component-basics.html#in-dom-template-parsing-caveats">in-DOM Template Parsing Caveats</a>, PascalCase tags are not usable in in-DOM templates.</p>
<p>Luckily, Vue supports resolving kebab-case tags to components registered using PascalCase. This means a component registered as <code>MyComponent</code> can be referenced in the template via both <code>&lt;MyComponent&gt;</code> and <code>&lt;my-component&gt;</code>. This allows us to use the same JavaScript component registration code regardless of template source.</p><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2013&ndash;present Yuxi Evan You<br>Licensed under the MIT License.<br>
    <a href="https://vuejs.org/guide/components/registration" class="_attribution-link">https://vuejs.org/guide/components/registration</a>
  </p>
</div>
