<h1> ParameterNotFoundException </h1> <p> class <strong>ParameterNotFoundException</strong> extends <a href="invalidargumentexception.html" title="Symfony\Component\DependencyInjection\Exception\InvalidArgumentException">InvalidArgumentException</a> implements NotFoundExceptionInterface </p> <div class="description"> <p>This exception is thrown when a non-existent parameter is used.</p> </div> <h2>Methods</h2> <table> <tr> <td> </td> <td> <a href="#method___construct">__construct</a>(string $key, string $sourceId = null, string $sourceKey = null, <a target="_blank" href="http://php.net/Exception">Exception</a> $previous = null, array $alternatives = array(), string $nonNestedAlternative = null)  </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_updateRepr">updateRepr</a>()  </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_getKey">getKey</a>()  </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_getSourceId">getSourceId</a>()  </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_getSourceKey">getSourceKey</a>()  </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_setSourceId">setSourceId</a>($sourceId)  </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_setSourceKey">setSourceKey</a>($sourceKey)  </td> <td></td>
</tr>  </table> <h2>Details</h2> <div id="method-details">  <h3 id="method___construct">                      
    __construct(string $key, string $sourceId = null, string $sourceKey = null, <a target="_blank" href="http://php.net/Exception">Exception</a> $previous = null, array $alternatives = array(), string $nonNestedAlternative = null)
         </h3>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>string</td> <td>$key</td> <td>The requested parameter key</td> </tr> <tr> <td>string</td> <td>$sourceId</td> <td>The service id that references the non-existent parameter</td> </tr> <tr> <td>string</td> <td>$sourceKey</td> <td>The parameter key that references the non-existent parameter</td> </tr> <tr> <td><a target="_blank" href="http://php.net/Exception">Exception</a></td> <td>$previous</td> <td>The previous exception</td> </tr> <tr> <td>array</td> <td>$alternatives</td> <td>Some parameter name alternatives</td> </tr> <tr> <td>string</td> <td>$nonNestedAlternative</td> <td>The alternative parameter name when the user expected dot notation for nested parameters</td> </tr> </table>     <h3 id="method_updateRepr">                      
    updateRepr()
         </h3>       <h3 id="method_getKey">                      
    getKey()
         </h3>       <h3 id="method_getSourceId">                      
    getSourceId()
         </h3>       <h3 id="method_getSourceKey">                      
    getSourceKey()
         </h3>       <h3 id="method_setSourceId">                      
    setSourceId($sourceId)
         </h3>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td></td> <td>$sourceId</td> <td></td> </tr> </table>     <h3 id="method_setSourceKey">                      
    setSourceKey($sourceKey)
         </h3>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td></td> <td>$sourceKey</td> <td></td> </tr> </table>    </div><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2004&ndash;2017 Fabien Potencier<br>Licensed under the MIT License.<br>
    <a href="https://api.symfony.com/4.1/Symfony/Component/DependencyInjection/Exception/ParameterNotFoundException.html" class="_attribution-link">https://api.symfony.com/4.1/Symfony/Component/DependencyInjection/Exception/ParameterNotFoundException.html</a>
  </p>
</div>
