<h1> GroupSequenceProviderInterface </h1> <p> interface <strong>GroupSequenceProviderInterface</strong> </p> <div class="description"> <p>Defines the interface for a group sequence provider.</p> </div> <h2>Methods</h2> <table> <tr> <td> string[]|<a href="constraints/groupsequence.html" title="Symfony\Component\Validator\Constraints\GroupSequence">GroupSequence</a> </td> <td> <a href="#method_getGroupSequence">getGroupSequence</a>() <p>Returns which validation groups should be used for a certain state of the object.</p> </td> <td></td>
</tr>  </table> <h2>Details</h2> <div id="method-details">  <h3 id="method_getGroupSequence">                      string[]|<a href="constraints/groupsequence.html" title="Symfony\Component\Validator\Constraints\GroupSequence">GroupSequence</a>
    getGroupSequence()
         </h3>   <p>Returns which validation groups should be used for a certain state of the object.</p>   <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>string[]|<a href="constraints/groupsequence.html" title="Symfony\Component\Validator\Constraints\GroupSequence">GroupSequence</a>
</td> <td>An array of validation groups</td> </tr> </table>    </div><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2004&ndash;2017 Fabien Potencier<br>Licensed under the MIT License.<br>
    <a href="https://api.symfony.com/4.1/Symfony/Component/Validator/GroupSequenceProviderInterface.html" class="_attribution-link">https://api.symfony.com/4.1/Symfony/Component/Validator/GroupSequenceProviderInterface.html</a>
  </p>
</div>
