<h1> Logger </h1> <p> class <strong>Logger</strong> extends AbstractLogger </p> <div class="description"> <p>Minimalist PSR-3 logger designed to write in stderr or any other stream.</p> </div> <h2>Methods</h2> <table> <tr> <td> </td> <td> <a href="#method___construct">__construct</a>(string $minLevel = null, $output = 'php://stderr', callable $formatter = null)  </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_log">log</a>($level, $message, array $context = array()) <p>{@inheritdoc}</p> </td> <td></td>
</tr>  </table> <h2>Details</h2> <div id="method-details">  <h3 id="method___construct">                      
    __construct(string $minLevel = null, $output = 'php://stderr', callable $formatter = null)
         </h3>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>string</td> <td>$minLevel</td> <td></td> </tr> <tr> <td></td> <td>$output</td> <td></td> </tr> <tr> <td>callable</td> <td>$formatter</td> <td></td> </tr> </table>     <h3 id="method_log">                      
    log($level, $message, array $context = array())
         </h3>   <p>{@inheritdoc}</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td></td> <td>$level</td> <td></td> </tr> <tr> <td></td> <td>$message</td> <td></td> </tr> <tr> <td>array</td> <td>$context</td> <td></td> </tr> </table>    </div><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2004&ndash;2017 Fabien Potencier<br>Licensed under the MIT License.<br>
    <a href="https://api.symfony.com/4.1/Symfony/Component/HttpKernel/Log/Logger.html" class="_attribution-link">https://api.symfony.com/4.1/Symfony/Component/HttpKernel/Log/Logger.html</a>
  </p>
</div>
