<article><h1>Rendering</h1>
<p>Add a template to your component to define what it should render. Templates can include <em>expressions</em>, which are placeholders for dynamic content.</p>
<p>To define a template for a Lit component, add a <code>render()</code> method:</p>

<p>Write your template in HTML inside a JavaScript <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Template_literals#tagged_templates">tagged template literal</a> using Lit's <a href="../../api/templates/index.html#html"><code>html</code></a> tag function.</p>
<p>Lit templates can include JavaScript <em>expressions</em>. You can use expressions to set text content, attributes, properties, and event listeners. The <code>render()</code> method can also include any JavaScript—for example, you can create local variables for use in expressions.</p>
<div class="heading h2"><h2 id="renderable-values">Renderable values</h2></div>
<p>Typically, the component's <code>render()</code> method returns a single <code>TemplateResult</code> object (the same type returned by the <code>html</code> tag function). However, it can return anything that Lit can render as the child of an HTML element:</p>
<ul>
<li>Primitive values like string, number, or boolean.</li>
<li>
<code>TemplateResult</code> objects created by the <code>html</code> function.</li>
<li>DOM Nodes.</li>
<li>The sentinel values <a href="../../templates/conditionals/index.html#conditionally-rendering-nothing"><code>nothing</code></a> and <a href="../../templates/custom-directives/index.html#signaling-no-change"><code>noChange</code></a>.</li>
<li>Arrays or iterables of any of the supported types.</li>
</ul>
<p>This is <em>almost identical</em> to the set of values that can be rendered to a Lit <a href="../../templates/expressions/index.html#child-expressions">child expression</a>. The one difference is that a child expression can render an <code>SVGTemplateResult</code>, returned by the <a href="../../api/templates/index.html#svg"><code>svg</code></a> function. This kind of template result can only be rendered as the descendant of an <code>&lt;svg&gt;</code> element.</p>
<div class="heading h2"><h2 id="writing-a-good-render()-method">Writing a good render() method</h2></div>
<p>To take best advantage of Lit's functional rendering model, your <code>render()</code> method should follow these guidelines:</p>
<ul>
<li>Avoid changing the component's state.</li>
<li>Avoid producing any side effects.</li>
<li>Use only the component's properties as input.</li>
<li>Return the same result when given the same property values.</li>
</ul>
<p>Following these guidelines keeps the template deterministic, and makes it easier to reason about the code.</p>
<p>In most cases you should avoid making DOM updates outside of <code>render()</code>. Instead, express the component's template as a function of its state, and capture its state in properties.</p>
<p>For example, if your component needs to update its UI when it receives an event, have the event listener set a reactive property that is used in <code>render()</code>, rather than manipulate the DOM directly.</p>
<p>For more information, see <a href="../properties/index.html">Reactive properties</a>.</p>
<div class="heading h2"><h2 id="composing-templates">Composing templates</h2></div>
<p>You can compose Lit templates from other templates. The following example composes a template for a component called <code>&lt;my-page&gt;</code> from smaller templates for the page's header, footer, and main content:</p>

<p>In this example, the individual templates are defined as instance methods, so a subclass could extend this component and override one or more templates.</p>
<div class="alert alert-todo">
<h3>TO DO</h3>
<p>Move example to composition section, add xref.</p>
</div>
<p>You can also compose templates by importing other elements and using them in your template:</p>

<div class="heading h2"><h2 id="when-templates-render">When templates render</h2></div>
<p>A Lit component renders its template initially when it's added to the DOM on a page. After the initial render, any change to the component's reactive properties triggers an update cycle, re-rendering the component.</p>
<p>Lit batches updates to maximize performance and efficiency. Setting multiple properties at once triggers only one update, performed asynchronously at microtask timing.</p>
<p>During an update, only the parts of the DOM that change are re-rendered. Although Lit templates look like string interpolation, Lit parses and creates static HTML once, and then only updates changed values in expressions after that, making updates very efficient.</p>
<p>For more information about the update cycle, see <a href="../properties/index.html#when-properties-change">What happens when properties change</a>.</p>
<div class="heading h2"><h2 id="dom-encapsulation">DOM encapsulation</h2></div>
<p>Lit uses shadow DOM to encapsulate the DOM a component renders. Shadow DOM lets an element create its own, isolated DOM tree that's separate from the main document tree. It's a core feature of the web components specifications that enables interoperability, style encapsulation, and other benefits.</p>
<p>For more information about shadow DOM, see <a href="https://developers.google.com/web/fundamentals/web-components/shadowdom/">Shadow DOM v1: Self-Contained Web Components </a>on Web Fundamentals.</p>
<p>For more information about working with shadow DOM in your component, see <a href="../shadow-dom/index.html">Working with shadow DOM</a>.</p>
<div class="heading h2"><h2 id="see-also">See also</h2></div>
<ul>
<li><a href="../shadow-dom/index.html">Shadow DOM</a></li>
<li><a href="../../templates/overview/index.html">Templates overview</a></li>
<li><a href="../../templates/expressions/index.html">Template expressions</a></li>
</ul>
<p id="edit-page-link"><a href="https://github.com/lit/lit.dev/edit/main/packages/lit-dev-content/./site/docs/v3/components/rendering.md">Edit this page<lazy-svg loading="visible" svg-aria-hidden href="/images/icons/edit-square.svg.html#icon"></lazy-svg></a></p></article><div class="_attribution">
  <p class="_attribution-p">
    &copy; Google LLC<br>Licensed under the Creative Commons Attribution 3.0 Unported License.<br>
    <a href="https://lit.dev/docs/components/rendering/" class="_attribution-link">https://lit.dev/docs/components/rendering/</a>
  </p>
</div>
