<h1> Compiler </h1> <p> class <strong>Compiler</strong> </p> <div class="description"> <p>Compiles a node to PHP code.</p> </div> <h2>Methods</h2> <table> <tr> <td> </td> <td> <a href="#method___construct">__construct</a>(array $functions)  </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_getFunction">getFunction</a>($name)  </td> <td></td>
</tr>  <tr> <td> string </td> <td> <a href="#method_getSource">getSource</a>() <p>Gets the current PHP code after compilation.</p> </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_reset">reset</a>()  </td> <td></td>
</tr>  <tr> <td> $this </td> <td> <a href="#method_compile">compile</a>(<a href="node/node.html" title="Symfony\Component\ExpressionLanguage\Node\Node">Node</a> $node) <p>Compiles a node.</p> </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_subcompile">subcompile</a>(<a href="node/node.html" title="Symfony\Component\ExpressionLanguage\Node\Node">Node</a> $node)  </td> <td></td>
</tr>  <tr> <td> $this </td> <td> <a href="#method_raw">raw</a>(string $string) <p>Adds a raw string to the compiled code.</p> </td> <td></td>
</tr>  <tr> <td> $this </td> <td> <a href="#method_string">string</a>(string $value) <p>Adds a quoted string to the compiled code.</p> </td> <td></td>
</tr>  <tr> <td> $this </td> <td> <a href="#method_repr">repr</a>(mixed $value) <p>Returns a PHP representation of a given value.</p> </td> <td></td>
</tr>  </table> <h2>Details</h2> <div id="method-details">  <h3 id="method___construct">                      
    __construct(array $functions)
         </h3>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>array</td> <td>$functions</td> <td></td> </tr> </table>     <h3 id="method_getFunction">                      
    getFunction($name)
         </h3>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td></td> <td>$name</td> <td></td> </tr> </table>     <h3 id="method_getSource">                      string
    getSource()
         </h3>   <p>Gets the current PHP code after compilation.</p>   <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>string</td> <td>The PHP code</td> </tr> </table>     <h3 id="method_reset">                      
    reset()
         </h3>       <h3 id="method_compile">                      $this
    compile(<a href="node/node.html" title="Symfony\Component\ExpressionLanguage\Node\Node">Node</a> $node)
         </h3>   <p>Compiles a node.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td><a href="node/node.html" title="Symfony\Component\ExpressionLanguage\Node\Node">Node</a></td> <td>$node</td> <td></td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>$this</td> <td></td> </tr> </table>     <h3 id="method_subcompile">                      
    subcompile(<a href="node/node.html" title="Symfony\Component\ExpressionLanguage\Node\Node">Node</a> $node)
         </h3>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td><a href="node/node.html" title="Symfony\Component\ExpressionLanguage\Node\Node">Node</a></td> <td>$node</td> <td></td> </tr> </table>     <h3 id="method_raw">                      $this
    raw(string $string)
         </h3>   <p>Adds a raw string to the compiled code.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>string</td> <td>$string</td> <td>The string</td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>$this</td> <td></td> </tr> </table>     <h3 id="method_string">                      $this
    string(string $value)
         </h3>   <p>Adds a quoted string to the compiled code.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>string</td> <td>$value</td> <td>The string</td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>$this</td> <td></td> </tr> </table>     <h3 id="method_repr">                      $this
    repr(mixed $value)
         </h3>   <p>Returns a PHP representation of a given value.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>mixed</td> <td>$value</td> <td>The value to convert</td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>$this</td> <td></td> </tr> </table>    </div><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2004&ndash;2017 Fabien Potencier<br>Licensed under the MIT License.<br>
    <a href="https://api.symfony.com/4.1/Symfony/Component/ExpressionLanguage/Compiler.html" class="_attribution-link">https://api.symfony.com/4.1/Symfony/Component/ExpressionLanguage/Compiler.html</a>
  </p>
</div>
