<h1> ExpressionFunctionProviderInterface </h1> <p> interface <strong>ExpressionFunctionProviderInterface</strong> </p> <h2>Methods</h2> <table> <tr> <td> <a href="expressionfunction.html" title="Symfony\Component\ExpressionLanguage\ExpressionFunction">ExpressionFunction</a>[] </td> <td> <a href="#method_getFunctions">getFunctions</a>()  </td> <td></td>
</tr>  </table> <h2>Details</h2> <div id="method-details">  <h3 id="method_getFunctions">                      <a href="expressionfunction.html" title="Symfony\Component\ExpressionLanguage\ExpressionFunction">ExpressionFunction</a>[]
    getFunctions()
         </h3>   <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>
<a href="expressionfunction.html" title="Symfony\Component\ExpressionLanguage\ExpressionFunction">ExpressionFunction</a>[]</td> <td>An array of Function instances</td> </tr> </table>    </div><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2004&ndash;2017 Fabien Potencier<br>Licensed under the MIT License.<br>
    <a href="https://api.symfony.com/4.1/Symfony/Component/ExpressionLanguage/ExpressionFunctionProviderInterface.html" class="_attribution-link">https://api.symfony.com/4.1/Symfony/Component/ExpressionLanguage/ExpressionFunctionProviderInterface.html</a>
  </p>
</div>
