<h1> PhpExecutableFinder </h1> <p> class <strong>PhpExecutableFinder</strong> </p> <div class="description"> <p>An executable finder specifically designed for the PHP executable.</p> </div> <h2>Methods</h2> <table> <tr> <td> </td> <td> <a href="#method___construct">__construct</a>()  </td> <td></td>
</tr>  <tr> <td> string|false </td> <td> <a href="#method_find">find</a>(bool $includeArgs = true) <p>Finds The PHP executable.</p> </td> <td></td>
</tr>  <tr> <td> array </td> <td> <a href="#method_findArguments">findArguments</a>() <p>Finds the PHP executable arguments.</p> </td> <td></td>
</tr>  </table> <h2>Details</h2> <div id="method-details">  <h3 id="method___construct">                      
    __construct()
         </h3>       <h3 id="method_find">                      string|false
    find(bool $includeArgs = true)
         </h3>   <p>Finds The PHP executable.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>bool</td> <td>$includeArgs</td> <td>Whether or not include command arguments</td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>string|false</td> <td>The PHP executable path or false if it cannot be found</td> </tr> </table>     <h3 id="method_findArguments">                      array
    findArguments()
         </h3>   <p>Finds the PHP executable arguments.</p>   <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>array</td> <td>The PHP executable arguments</td> </tr> </table>    </div><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2004&ndash;2017 Fabien Potencier<br>Licensed under the MIT License.<br>
    <a href="https://api.symfony.com/4.1/Symfony/Component/Process/PhpExecutableFinder.html" class="_attribution-link">https://api.symfony.com/4.1/Symfony/Component/Process/PhpExecutableFinder.html</a>
  </p>
</div>
