<h1> RedirectableUrlMatcherInterface </h1> <p> interface <strong>RedirectableUrlMatcherInterface</strong> </p> <div class="description"> <p>RedirectableUrlMatcherInterface knows how to redirect the user.</p> </div> <h2>Methods</h2> <table> <tr> <td> array </td> <td> <a href="#method_redirect">redirect</a>(string $path, string $route, string|null $scheme = null) <p>Redirects the user to another URL.</p> </td> <td></td>
</tr>  </table> <h2>Details</h2> <div id="method-details">  <h3 id="method_redirect">                      array
    redirect(string $path, string $route, string|null $scheme = null)
         </h3>   <p>Redirects the user to another URL.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>string</td> <td>$path</td> <td>The path info to redirect to</td> </tr> <tr> <td>string</td> <td>$route</td> <td>The route name that matched</td> </tr> <tr> <td>string|null</td> <td>$scheme</td> <td>The URL scheme (null to keep the current one)</td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>array</td> <td>An array of parameters</td> </tr> </table>    </div><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2004&ndash;2017 Fabien Potencier<br>Licensed under the MIT License.<br>
    <a href="https://api.symfony.com/4.1/Symfony/Component/Routing/Matcher/RedirectableUrlMatcherInterface.html" class="_attribution-link">https://api.symfony.com/4.1/Symfony/Component/Routing/Matcher/RedirectableUrlMatcherInterface.html</a>
  </p>
</div>
