<h1>Global .d.ts</h1>
<h2 id="global-libraries" style="position:relative;">Global Libraries</h2>  <p>A <em>global</em> library is one that can be accessed from the global scope (i.e. without using any form of <code>import</code>). Many libraries simply expose one or more global variables for use. For example, if you were using <a href="https://jquery.com/">jQuery</a>, the <code>$</code> variable can be used by simply referring to it:</p> <pre data-language="ts">$(() =&gt; {
  console.log("hello!");
});</pre> <p>You’ll usually see guidance in the documentation of a global library of how to use the library in an HTML script tag:</p> <pre data-language="html">&lt;script src="http://a.great.cdn.for/someLib.js"&gt;&lt;/script&gt;</pre> <p>Today, most popular globally-accessible libraries are actually written as UMD libraries (see below). UMD library documentation is hard to distinguish from global library documentation. Before writing a global declaration file, make sure the library isn’t actually UMD.</p> <h2 id="identifying-a-global-library-from-code" style="position:relative;">Identifying a Global Library from Code</h2> <p>Global library code is usually extremely simple. A global “Hello, world” library might look like this:</p> <pre data-language="js">function createGreeting(s) {
  return "Hello, " + s;
}</pre> <p>or like this:</p> <pre data-language="js">window.createGreeting = function (s) {
  return "Hello, " + s;
};</pre> <p>When looking at the code of a global library, you’ll usually see:</p> <ul> <li>Top-level <code>var</code> statements or <code>function</code> declarations</li> <li>One or more assignments to <code>window.someName</code>
</li> <li>Assumptions that DOM primitives like <code>document</code> or <code>window</code> exist</li> </ul> <p>You <em>won’t</em> see:</p> <ul> <li>Checks for, or usage of, module loaders like <code>require</code> or <code>define</code>
</li> <li>CommonJS/Node.js-style imports of the form <code>var fs = require("fs");</code>
</li> <li>Calls to <code>define(...)</code>
</li> <li>Documentation describing how to <code>require</code> or import the library</li> </ul> <h2 id="examples-of-global-libraries" style="position:relative;">Examples of Global Libraries</h2> <p>Because it’s usually easy to turn a global library into a UMD library, very few popular libraries are still written in the global style. However, libraries that are small and require the DOM (or have <em>no</em> dependencies) may still be global.</p> <h2 id="global-library-template" style="position:relative;">Global Library Template</h2> <p>You can see an example DTS below:</p> <pre data-language="ts">// Type definitions for [~THE LIBRARY NAME~] [~OPTIONAL VERSION NUMBER~]
// Project: [~THE PROJECT NAME~]
// Definitions by: [~YOUR NAME~] &lt;[~A URL FOR YOU~]&gt;

/*~ If this library is callable (e.g. can be invoked as myLib(3)),
 *~ include those call signatures here.
 *~ Otherwise, delete this section.
 */
declare function myLib(a: string): string;
declare function myLib(a: number): number;

/*~ If you want the name of this library to be a valid type name,
 *~ you can do so here.
 *~
 *~ For example, this allows us to write 'var x: myLib';
 *~ Be sure this actually makes sense! If it doesn't, just
 *~ delete this declaration and add types inside the namespace below.
 */
interface myLib {
  name: string;
  length: number;
  extras?: string[];
}

/*~ If your library has properties exposed on a global variable,
 *~ place them here.
 *~ You should also place types (interfaces and type alias) here.
 */
declare namespace myLib {
  //~ We can write 'myLib.timeout = 50;'
  let timeout: number;

  //~ We can access 'myLib.version', but not change it
  const version: string;

  //~ There's some class we can create via 'let c = new myLib.Cat(42)'
  //~ Or reference e.g. 'function f(c: myLib.Cat) { ... }
  class Cat {
    constructor(n: number);

    //~ We can read 'c.age' from a 'Cat' instance
    readonly age: number;

    //~ We can invoke 'c.purr()' from a 'Cat' instance
    purr(): void;
  }

  //~ We can declare a variable as
  //~   'var s: myLib.CatSettings = { weight: 5, name: "Maru" };'
  interface CatSettings {
    weight: number;
    name: string;
    tailLength?: number;
  }

  //~ We can write 'const v: myLib.VetID = 42;'
  //~  or 'const v: myLib.VetID = "bob";'
  type VetID = string | number;

  //~ We can invoke 'myLib.checkCat(c)' or 'myLib.checkCat(c, v);'
  function checkCat(c: Cat, s?: VetID);
}</pre><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2024 Microsoft<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://www.typescriptlang.org/docs/handbook/declaration-files/templates/global-d-ts.html" class="_attribution-link">https://www.typescriptlang.org/docs/handbook/declaration-files/templates/global-d-ts.html</a>
  </p>
</div>
