<h1>Global: Modifying Module</h1>
<h2 id="global-modifying-modules" style="position:relative;"><em>Global-modifying Modules</em></h2> <p>A <em>global-modifying module</em> alters existing values in the global scope when they are imported. For example, there might exist a library which adds new members to <code>String.prototype</code> when imported. This pattern is somewhat dangerous due to the possibility of runtime conflicts, but we can still write a declaration file for it.</p> <h2 id="identifying-global-modifying-modules" style="position:relative;">Identifying global-modifying modules</h2> <p>Global-modifying modules are generally easy to identify from their documentation. In general, they’re similar to global plugins, but need a <code>require</code> call to activate their effects.</p> <p>You might see documentation like this:</p> <pre data-language="js">// 'require' call that doesn't use its return value
var unused = require("magic-string-time");
/* or */
require("magic-string-time");

var x = "hello, world";
// Creates new methods on built-in types
console.log(x.startsWithHello());

var y = [1, 2, 3];
// Creates new methods on built-in types
console.log(y.reverseAndSort());</pre> <p>Here is an example</p> <pre data-language="ts">// Type definitions for [~THE LIBRARY NAME~] [~OPTIONAL VERSION NUMBER~]
// Project: [~THE PROJECT NAME~]
// Definitions by: [~YOUR NAME~] &lt;[~A URL FOR YOU~]&gt;

/*~ This is the global-modifying module template file. You should rename it to index.d.ts
 *~ and place it in a folder with the same name as the module.
 *~ For example, if you were writing a file for "super-greeter", this
 *~ file should be 'super-greeter/index.d.ts'
 */

/*~ Note: If your global-modifying module is callable or constructable, you'll
 *~ need to combine the patterns here with those in the module-class or module-function
 *~ template files
 */
declare global {
  /*~ Here, declare things that go in the global namespace, or augment
   *~ existing declarations in the global namespace
   */
  interface String {
    fancyFormat(opts: StringFormatOptions): string;
  }
}

/*~ If your module exports types or values, write them as usual */
export interface StringFormatOptions {
  fancinessLevel: number;
}

/*~ For example, declaring a method on the module (in addition to its global side effects) */
export function doSomething(): void;

/*~ If your module exports nothing, you'll need this line. Otherwise, delete it */
export {};</pre><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2012-2023 Microsoft<br>Licensed under the Apache License, Version 2.0.<br>
    <a href="https://www.typescriptlang.org/docs/handbook/declaration-files/templates/global-modifying-module-d-ts.html" class="_attribution-link">https://www.typescriptlang.org/docs/handbook/declaration-files/templates/global-modifying-module-d-ts.html</a>
  </p>
</div>
