<article><h1>Templates overview</h1>
<div class="alert alert-todo">
<h3>TO DO</h3>
<p>If time permits, add new page on working with inputs, per outline.</p>
</div>
<p>Lit templates are written using JavaScript template literals tagged with the <code>html</code> tag. The contents of the literal are mostly plain, declarative, HTML:</p>
<pre data-language="js">html`&lt;h1&gt;Hello ${name}&lt;/h1&gt;`</pre>
<p>The template syntax might look like you're just doing string interpolation. But with tagged template literals, the browser passes the tag function an array of strings (the static portions of the template) and an array of expressions (the dynamic portions). Lit uses this to build an efficient representation of your template, so it can re-render only the parts of template that have changed.</p>
<p>Lit templates are extremely expressive and allow you to render dynamic content in a variety of ways:</p>
<ul>
<li>
<a href="../expressions/index.html">Expressions</a>: Templates can include dynamic values called <em>expressions</em> that can be used to render attributes, text, properties, event handlers, and even other templates.</li>
<li>
<a href="../conditionals/index.html">Conditionals</a>: Expressions can render conditional content using standard JavaScript flow control.</li>
<li>
<a href="../lists/index.html">Lists</a>: Render lists by transforming data into arrays of templates using standard JavaScript looping and array techniques.</li>
<li>
<a href="../directives/index.html">Built-in directives</a>: Directives are functions that can extend Lit's templating functionality. The library includes a set of built-in directives to help with a variety of rendering needs.</li>
<li>
<a href="../custom-directives/index.html">Custom directives</a>: You can also write your own directives to customize Lit's rendering as needed.</li>
</ul>
<div class="heading h2"><h2 id="standalone-templating">Standalone templating</h2></div>
<p>You can also use Lit's templating library for standalone templating, outside of a Lit component. For details, see <a href="../../libraries/standalone-templates/index.html">Standalone lit-html templates</a>.</p>
<p id="edit-page-link"><a href="https://github.com/lit/lit.dev/edit/main/packages/lit-dev-content/./site/docs/v3/templates/overview.md">Edit this page<lazy-svg loading="visible" svg-aria-hidden href="/images/icons/edit-square.svg.html#icon"></lazy-svg></a></p></article><div class="_attribution">
  <p class="_attribution-p">
    &copy; Google LLC<br>Licensed under the Creative Commons Attribution 3.0 Unported License.<br>
    <a href="https://lit.dev/docs/templates/overview/" class="_attribution-link">https://lit.dev/docs/templates/overview/</a>
  </p>
</div>
