<h1> InheritDataAwareIterator </h1> <p> class <strong>InheritDataAwareIterator</strong> extends <a target="_blank" href="http://php.net/IteratorIterator">IteratorIterator</a> implements <a target="_blank" href="http://php.net/RecursiveIterator">RecursiveIterator</a> </p> <div class="description"> <p>Iterator that traverses an array of forms.</p> <p>Contrary to \ArrayIterator, this iterator recognizes changes in the original array during iteration.</p> <p>You can wrap the iterator into a {@link \RecursiveIteratorIterator} in order to enter any child form that inherits its parent's data and iterate the children of that form as well.</p> </div> <h2>Methods</h2> <table> <tr> <td> </td> <td> <a href="#method_getChildren">getChildren</a>() <p>{@inheritdoc}</p> </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_hasChildren">hasChildren</a>() <p>{@inheritdoc}</p> </td> <td></td>
</tr>  </table> <h2>Details</h2> <div id="method-details">  <h3 id="method_getChildren">                      
    getChildren()
         </h3>   <p>{@inheritdoc}</p>       <h3 id="method_hasChildren">                      
    hasChildren()
         </h3>   <p>{@inheritdoc}</p>      </div><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2004&ndash;2017 Fabien Potencier<br>Licensed under the MIT License.<br>
    <a href="https://api.symfony.com/4.1/Symfony/Component/Form/Util/InheritDataAwareIterator.html" class="_attribution-link">https://api.symfony.com/4.1/Symfony/Component/Form/Util/InheritDataAwareIterator.html</a>
  </p>
</div>
