<h1> Glob </h1> <p> class <strong>Glob</strong> </p> <div class="description"> <p>Glob matches globbing patterns against text.</p> <p>if match_glob("foo.*", "foo.bar") echo "matched\n";</p> <pre><code>// prints foo.bar and foo.baz
$regex = glob_to_regex("foo.*");
for (array('foo.bar', 'foo.baz', 'foo', 'bar') as $t)
{
    if (/$regex/) echo "matched: $car\n";
}
</code></pre> <p>Glob implements glob(3) style matching that can be used to match against text, rather than fetching names from a filesystem.</p> <p>Based on the Perl Text::Glob module.</p> </div> <h2>Methods</h2> <table> <tr> <td> static string </td> <td> <a href="#method_toRegex">toRegex</a>(string $glob, bool $strictLeadingDot = true, bool $strictWildcardSlash = true, string $delimiter = '#') <p>Returns a regexp which is the equivalent of the glob pattern.</p> </td> <td></td>
</tr>  </table> <h2>Details</h2> <div id="method-details">  <h3 id="method_toRegex">          static            string
    toRegex(string $glob, bool $strictLeadingDot = true, bool $strictWildcardSlash = true, string $delimiter = '#')
         </h3>   <p>Returns a regexp which is the equivalent of the glob pattern.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>string</td> <td>$glob</td> <td>The glob pattern</td> </tr> <tr> <td>bool</td> <td>$strictLeadingDot</td> <td></td> </tr> <tr> <td>bool</td> <td>$strictWildcardSlash</td> <td></td> </tr> <tr> <td>string</td> <td>$delimiter</td> <td>Optional delimiter</td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>string</td> <td>regex The regexp</td> </tr> </table>    </div><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2004&ndash;2017 Fabien Potencier<br>Licensed under the MIT License.<br>
    <a href="https://api.symfony.com/4.1/Symfony/Component/Finder/Glob.html" class="_attribution-link">https://api.symfony.com/4.1/Symfony/Component/Finder/Glob.html</a>
  </p>
</div>
