<h1> HttpExceptionInterface </h1> <p> interface <strong>HttpExceptionInterface</strong> </p> <div class="description"> <p>Interface for HTTP error exceptions.</p> </div> <h2>Methods</h2> <table> <tr> <td> int </td> <td> <a href="#method_getStatusCode">getStatusCode</a>() <p>Returns the status code.</p> </td> <td></td>
</tr>  <tr> <td> array </td> <td> <a href="#method_getHeaders">getHeaders</a>() <p>Returns response headers.</p> </td> <td></td>
</tr>  </table> <h2>Details</h2> <div id="method-details">  <h3 id="method_getStatusCode">                      int
    getStatusCode()
         </h3>   <p>Returns the status code.</p>   <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>int</td> <td>An HTTP response status code</td> </tr> </table>     <h3 id="method_getHeaders">                      array
    getHeaders()
         </h3>   <p>Returns response headers.</p>   <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>array</td> <td>Response headers</td> </tr> </table>    </div><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2004&ndash;2017 Fabien Potencier<br>Licensed under the MIT License.<br>
    <a href="https://api.symfony.com/4.1/Symfony/Component/HttpKernel/Exception/HttpExceptionInterface.html" class="_attribution-link">https://api.symfony.com/4.1/Symfony/Component/HttpKernel/Exception/HttpExceptionInterface.html</a>
  </p>
</div>
