<h1> PropertyPathIteratorInterface </h1> <p> interface <strong>PropertyPathIteratorInterface</strong> implements <a target="_blank" href="http://php.net/Iterator">Iterator</a>, <a target="_blank" href="http://php.net/SeekableIterator">SeekableIterator</a> </p> <h2>Methods</h2> <table> <tr> <td> bool </td> <td> <a href="#method_isIndex">isIndex</a>() <p>Returns whether the current element in the property path is an array index.</p> </td> <td></td>
</tr>  <tr> <td> bool </td> <td> <a href="#method_isProperty">isProperty</a>() <p>Returns whether the current element in the property path is a property name.</p> </td> <td></td>
</tr>  </table> <h2>Details</h2> <div id="method-details">  <h3 id="method_isIndex">                      bool
    isIndex()
         </h3>   <p>Returns whether the current element in the property path is an array index.</p>   <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>bool</td> <td></td> </tr> </table>     <h3 id="method_isProperty">                      bool
    isProperty()
         </h3>   <p>Returns whether the current element in the property path is a property name.</p>   <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>bool</td> <td></td> </tr> </table>    </div><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2004&ndash;2017 Fabien Potencier<br>Licensed under the MIT License.<br>
    <a href="https://api.symfony.com/4.1/Symfony/Component/PropertyAccess/PropertyPathIteratorInterface.html" class="_attribution-link">https://api.symfony.com/4.1/Symfony/Component/PropertyAccess/PropertyPathIteratorInterface.html</a>
  </p>
</div>
