<article><h1>Events</h1>
<p>Events are the standard way that elements communicate changes. These changes typically occur due to user interaction. For example, a button dispatches a click event when a user clicks on it; an input dispatches a change event when the user enters a value in it.</p>
<p>In addition to these standard events that are automatically dispatched, Lit elements can dispatch custom events. For example, a menu element might dispatch an event to indicate the selected item changed; a popup element might dispatch an event when the popup opens or closes.</p>
<p>Any Javascript code, including Lit elements themselves, can listen for and take action based on events. For example, a toolbar element might filter a list when a menu item is selected; a login element might process a login when it handles a click on the login button.</p>
<div class="heading h2"><h2 id="listening-to-events">Listening to events</h2></div>
<p>In addition to the standard <code>addEventListener</code> API, Lit introduces a declarative way to add event listeners.</p>
<div class="heading h3"><h3 id="adding-event-listeners-in-the-element-template">Adding event listeners in the element template</h3></div>
<p>You can use <code>@</code> expressions in your template to add event listeners to elements in your component's template. Declarative event listeners are added when the template is rendered.</p>

<div class="heading h4"><h4 id="event-options-decorator">Customizing event listener options</h4></div>
<p>If you need to customize the event options used for a declarative event listener (like <code>passive</code> or <code>capture</code>), you can specify these on the listener using the <code>@eventOptions</code> decorator. The object passed to <code>@eventOptions</code> is passed as the <code>options</code> parameter to <code>addEventListener</code>.</p>
<pre data-language="js">import {LitElement, html} from 'lit';
import {eventOptions} from 'lit/decorators.js';
//...
@eventOptions({passive: true})
private _handleTouchStart(e) { console.log(e.type) }</pre>
<div class="alert alert-info"><p><strong>Using decorators.</strong> Decorators are a proposed JavaScript feature, so you’ll need to use a compiler like Babel or TypeScript to use decorators. See <a href="../decorators/index.html#enabling-decorators">Enabling decorators</a> for details.</p></div>
<p>If you're not using decorators, you can customize event listener options by passing an object to the event listener expression. The object must have a <code>handleEvent()</code> method and can include any the options that would normally appear in the <code>options</code> argument to <code>addEventListener()</code>.</p>
<pre data-language="js">render() {
  return html`&lt;button @click=${{handleEvent: () =&gt; this.onClick(), once: true}}&gt;click&lt;/button&gt;`
}</pre>
<div class="heading h3"><h3 id="adding-event-listeners-to-the-component-or-its-shadow-root">Adding event listeners to the component or its shadow root</h3></div>
<p>To be notified of an event dispatched from the component's slotted children as well as children rendered into shadow DOM via the component template, you can add a listener to the component itself using the standard <code>addEventListener</code> DOM method. See <a href="https://developer.mozilla.org/en-US/docs/Web/API/EventTarget/addEventListener/">EventTarget.addEventListener()</a> on MDN for full details.</p>
<p>The component constructor is a good place to add event listeners on the component.</p>
<pre data-language="js">constructor() {
  super();
  this.addEventListener('click', (e) =&gt; console.log(e.type, e.target.localName));
}</pre>
<p>Adding event listeners to the component itself is a form of event delegation and can be done to reduce code or improve performance. See <a href="#event-delegation">event delegation</a> for details. Typically when this is done, the event's <code>target</code> property is used to take action based on which element fired the event.</p>
<p>However, events fired from the component's shadow DOM are retargeted when heard by an event listener on the component. This means the event target is the component itself. See <a href="#shadowdom">Working with events in shadow DOM</a> for more information.</p>
<p>Retargeting can interfere with event delegation, and to avoid it, event listeners can be added to the component's shadow root itself. Since the <code>shadowRoot</code> is not available in the <code>constructor</code>, event listeners can be added in the <code>createRenderRoot</code> method as follows. Please note that it's important to make sure to return the shadow root from the <code>createRenderRoot</code> method.</p>

<div class="heading h3"><h3 id="adding-event-listeners-to-other-elements">Adding event listeners to other elements</h3></div>
<p>If your component adds an event listener to anything except itself or its templated DOM – for example, to <code>Window</code>, <code>Document</code>, or some element in the main DOM – you should add the listener in <code>connectedCallback</code> and remove it in <code>disconnectedCallback</code>.</p>
<ul>
<li><p>Removing the event listener in <code>disconnectedCallback</code> ensures that any memory allocated by your component will be cleaned up when your component is destroyed or disconnected from the page.</p></li>
<li><p>Adding the event listener in <code>connectedCallback</code> (instead of, for example, the constructor or <code>firstUpdated</code>) ensures that your component will re-create its event listener if it is disconnected and subsequently reconnected to DOM.</p></li>
</ul>
<pre data-language="js">connectedCallback() {
  super.connectedCallback();
  window.addEventListener('resize', this._handleResize);
}
disconnectedCallback() {
  window.removeEventListener('resize', this._handleResize);
  super.disconnectedCallback();
}</pre>
<p>See the MDN documentation on using custom elements <a href="https://developer.mozilla.org/en-US/docs/Web/Web_Components/Using_custom_elements#Using_the_lifecycle_callbacks">lifecycle callbacks</a> for more information on <code>connectedCallback</code> and <code>disconnectedCallback</code>.</p>
<div class="heading h3"><h3 id="optimizing-for-performance">Optimizing for performance</h3></div>
<p>Adding event listeners is extremely fast and typically not a performance concern. However, for components that are used in high frequency and need a lot of event listeners, you can optimize first render performance by reducing the number of listeners used via <a href="#event-delegation">event delegation</a> and adding listeners <a href="#async-events">asynchronously</a> after rendering.</p>
<div class="heading h4"><h4 id="event-delegation">Event delegation</h4></div>
<p>Using event delegation can reduce the number of event listeners used and therefore improve performance. It is also sometimes convenient to centralize event handling to reduce code. Event delegation can only be use to handle events that <code>bubble</code>. See <a href="#dispatching-events">Dispatching events</a> for details on bubbling.</p>
<p>Bubbling events can be heard on any ancestor element in the DOM. You can take advantage of this by adding a single event listener on an ancestor component to be notified of a bubbling event dispatched by any of its descendants in the DOM. Use the event's <code>target</code> property to take specific action based on the element that dispatched the event.</p>

<div class="heading h4"><h4 id="async-events">Asynchronously adding event listeners</h4></div>
<p>To add an event listener after rendering, use the <code>firstUpdated</code> method. This is a Lit lifecycle callback which runs after the component first updates and renders its templated DOM.</p>
<p>The <code>firstUpdated</code> callback fires after the first time your component has been updated and called its <code>render</code> method, but <strong>before</strong> the browser has had a chance to paint.</p>
<p>See <a href="../lifecycle/index.html#firstupdated">firstUpdated</a> in the Lifecycle documentation for more information.</p>
<p>To ensure the listener is added after the user can see the component, you can await a Promise that resolves after the browser paints.</p>
<pre data-language="js">async firstUpdated() {
  // Give the browser a chance to paint
  await new Promise((r) =&gt; setTimeout(r, 0));
  this.addEventListener('click', this._handleClick);
}</pre>
<div class="heading h3"><h3 id="understanding-this-in-event-listeners">Understanding <code>this</code> in event listeners</h3></div>
<p>Event listeners added using the declarative <code>@</code> syntax in the template are automatically <em>bound</em> to the component.</p>
<p>Therefore, you can use <code>this</code> to refer to your component instance inside any declarative event handler:</p>
<pre data-language="js">class MyElement extends LitElement {
  render() {
    return html`&lt;button @click="${this._handleClick}"&gt;click&lt;/button&gt;`;
  }
  _handleClick(e) {
    console.log(this.prop);
  }
}</pre>
<p>When adding listeners imperatively with <code>addEventListener</code>, you'll want to use an arrow function so that <code>this</code> refers to the component:</p>
<pre data-language="ts">export class MyElement extends LitElement {
  private _handleResize = () =&gt; {
    // `this` refers to the component
    console.log(this.isConnected);
  }

  constructor() {
    window.addEventListener('resize', this._handleResize);
  }
}</pre>
<p>See the <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/this/">documentation for <code>this</code> on MDN</a> for more information.</p>
<div class="heading h3"><h3 id="listening-to-events-fired-from-repeated-templates">Listening to events fired from repeated templates</h3></div>
<p>When listening to events on repeated items, it's often convenient to use <a href="#event-delegation">event delegation</a> if the event bubbles. When an event does not bubble, a listener can be added on the repeated elements. Here's an example of both methods:</p>

<div class="heading h3"><h3 id="removing-event-listeners">Removing event listeners</h3></div>
<p>Passing <code>null</code>, <code>undefined</code> or <code>nothing</code> to an <code>@</code> expression will cause any existing listener to be removed.</p>
<div class="heading h2"><h2 id="dispatching-events">Dispatching events</h2></div>
<p>All DOM nodes can dispatch events using the <code>dispatchEvent</code> method. First, create an event instance, specifying the event type and options. Then pass it to <code>dispatchEvent</code> as follows:</p>
<pre data-language="js">const event = new Event('my-event', {bubbles: true, composed: true});
myElement.dispatchEvent(event);</pre>
<p>The <code>bubbles</code> option allows the event to flow up the DOM tree to ancestors of the dispatching element. It's important to set this flag if you want the event to be able to participate in <a href="#event-delegation">event delegation</a>.</p>
<p>The <code>composed</code> option is useful to set to allow the event to be dispatched above the shadow DOM tree in which the element exists.</p>
<p>See <a href="#shadowdom">Working with events in shadow DOM</a> for more information.</p>
<p>See <a href="https://developer.mozilla.org/en-US/docs/Web/API/EventTarget/dispatchEvent/">EventTarget.dispatchEvent()</a> on MDN for a full description of dispatching events.</p>
<div class="heading h3"><h3 id="when-to-dispatch-an-event">When to dispatch an event</h3></div>
<p>Events should be dispatched in response to user interaction or asynchronous changes in the component's state. They should generally <strong>not</strong> be dispatched in response to state changes made by the owner of the component via its property or attribute APIs. This is generally how native web platform elements work.</p>
<p>For example, when a user types a value into an <code>input</code> element a <code>change</code> event is dispatched, but if code sets the <code>input</code>'s <code>value</code> property, a <code>change</code> event is <strong>not</strong> dispatched.</p>
<p>Similarly, a menu component should dispatch an event when the user selects a menu item, but it should not dispatch an event if, for example, the menu's <code>selectedItem</code> property is set.</p>
<p>This typically means that a component should dispatch an event in response to another event to which it is listening.</p>

<div class="heading h3"><h3 id="dispatching-events-after-an-element-updates">Dispatching events after an element updates</h3></div>
<p>Often, an event should be fired only after an element updates and renders. This might be necessary if an event is intended to communicate a change in rendered state based on user interaction. In this case, the component's <code>updateComplete</code> Promise can be awaited after changing state, but before dispatching the event.</p>

<div class="heading h3"><h3 id="standard-custom-events">Using standard or custom events</h3></div>
<p>Events can be dispatched either by constructing an <code>Event</code> or a <code>CustomEvent</code>. Either is a reasonable approach. When using a <code>CustomEvent</code>, any event data is passed in the event's <code>detail</code> property. When using an <code>Event</code>, an event subclass can be made and custom API attached to it.</p>
<p>See <a href="https://developer.mozilla.org/en-US/docs/Web/API/Event/Event/">Event</a> on MDN for details about constructing events.</p>
<div class="heading h4"><h4 id="firing-a-custom-event:">Firing a custom event:</h4></div>
<pre data-language="js">const event = new CustomEvent('my-event', {
  detail: {
    message: 'Something important happened'
  }
});
this.dispatchEvent(event);</pre>
<p>See the <a href="https://developer.mozilla.org/en-US/docs/Web/API/CustomEvent/">MDN documentation on custom events</a> for more information.</p>
<div class="heading h4"><h4 id="firing-a-standard-event:">Firing a standard event:</h4></div>
<pre data-language="js">class MyEvent extends Event {
  constructor(message) {
    super();
    this.type = 'my-event';
    this.message = message;
  }
}

const event = new MyEvent('Something important happened');
this.dispatchEvent(event);</pre>
<div class="heading h2"><h2 id="shadowdom">Working with events in shadow DOM</h2></div>
<p>When using shadow DOM there are a few modifications to the standard event system that are important to understand. Shadow DOM exists primarily to provide a scoping mechanism in the DOM that encapsulates details about these "shadow" elements. As such, events in shadow DOM encapsulate certain details from outside DOM elements.</p>
<div class="heading h3"><h3 id="shadowdom-composed">Understanding composed event dispatching</h3></div>
<p>By default, an event dispatched inside a shadow root will not be visible outside that shadow root. To make an event pass through shadow DOM boundaries, you must set the <a href="https://developer.mozilla.org/en-US/docs/Web/API/Event/composed/"><code>composed</code> property</a> to <code>true</code>. It's common to pair <code>composed</code> with <code>bubbles</code> so that all nodes in the DOM tree can see the event:</p>
<pre data-language="js">_dispatchMyEvent() {
  let myEvent = new CustomEvent('my-event', {
    detail: { message: 'my-event happened.' },
    bubbles: true,
    composed: true });
  this.dispatchEvent(myEvent);
}</pre>
<p>If an event is <code>composed</code> and does <code>bubble</code>, it can be received by all ancestors of the element that dispatches the event—including ancestors in outer shadow roots. If an event is <code>composed</code> but does not <code>bubble</code>, it can only be received on the element that dispatches the event and on the host element containing the shadow root.</p>
<p>Note that most standard user interface events, including all mouse, touch, and keyboard events, are both bubbling and composed. See the <a href="https://developer.mozilla.org/en-US/docs/Web/API/Event/composed/">MDN documentation on composed events</a> for more information.</p>
<div class="heading h3"><h3 id="shadowdom-retargeting">Understanding event retargeting</h3></div>
<p><a href="#shadowdom-composed">Composed</a> events dispatched from within a shadow root are retargeted, meaning that to any listener on an element hosting a shadow root or any of its ancestors, they appear to come from the hosting element. Since Lit components render into shadow roots, all composed events dispatched from inside a Lit component appear to be dispatched by the Lit component itself. The event's <code>target</code> property is the Lit component.</p>
<pre data-language="html">&lt;my-element onClick="(e) =&gt; console.log(e.target)"&gt;&lt;/my-element&gt;</pre>
<pre data-language="js">render() {
  return html`
    &lt;button id="mybutton" @click="${(e) =&gt; console.log(e.target)}"&gt;
      click me
    &lt;/button&gt;`;
}</pre>
<p>In advanced cases where it is required to determine the origin of an event, use the <code>event.composedPath()</code> API. This method returns an array of all the nodes traversed by the event dispatch, including those within shadow roots. Because this breaks encapsulation, care should be taken to avoid relying on implementation details that may be exposed. Common use cases include determining if the element clicked was an anchor tag, for purposes of client-side routing.</p>
<pre data-language="js">handleMyEvent(event) {
  console.log('Origin: ', event.composedPath()[0]);
}</pre>
<p>See the <a href="https://developer.mozilla.org/en-US/docs/Web/API/Event/composedPath/">MDN documentation on composedPath</a> for more information.</p>
<div class="heading h2"><h2 id="communicating-between-the-event-dispatcher-and-listener">Communicating between the event dispatcher and listener</h2></div>
<p>Events exist primarily to communicate changes from the event dispatcher to the event listener, but events can also be used to communicate information from the listener back to the dispatcher.</p>
<p>One way you can do this is to expose API on events which listeners can use to customize component behavior. For example, a listener can set a property on a custom event's detail property which the dispatching component then uses to customize behavior.</p>
<p>Another way to communicate between the dispatcher and listener is via the <code>preventDefault()</code> method. It can be called to indicate the event's standard action should not occur. When the listener calls <code>preventDefault()</code>, the event's <code>defaultPrevented</code> property becomes true. This flag can then be used by the listener to customize behavior.</p>
<p>Both of these techniques are used in the following example:</p>

<p id="edit-page-link"><a href="https://github.com/lit/lit.dev/edit/main/packages/lit-dev-content/./site/docs/v3/components/events.md">Edit this page<lazy-svg loading="visible" svg-aria-hidden href="/images/icons/edit-square.svg.html#icon"></lazy-svg></a></p></article><div class="_attribution">
  <p class="_attribution-p">
    &copy; Google LLC<br>Licensed under the Creative Commons Attribution 3.0 Unported License.<br>
    <a href="https://lit.dev/docs/components/events/" class="_attribution-link">https://lit.dev/docs/components/events/</a>
  </p>
</div>
