<h1> DefinitionBuilder </h1> <p> class <strong>DefinitionBuilder</strong> </p> <div class="description"> <p>Builds a definition.</p> </div> <h2>Methods</h2> <table> <tr> <td> </td> <td> <a href="#method___construct">__construct</a>(array $places = array(), array $transitions = array())  </td> <td></td>
</tr>  <tr> <td> <a href="definition.html" title="Symfony\Component\Workflow\Definition">Definition</a> </td> <td> <a href="#method_build">build</a>()  </td> <td></td>
</tr>  <tr> <td> $this </td> <td> <a href="#method_clear">clear</a>() <p>Clear all data in the builder.</p> </td> <td></td>
</tr>  <tr> <td> $this </td> <td> <a href="#method_setInitialPlace">setInitialPlace</a>(string $place)  </td> <td></td>
</tr>  <tr> <td> $this </td> <td> <a href="#method_addPlace">addPlace</a>(string $place)  </td> <td></td>
</tr>  <tr> <td> $this </td> <td> <a href="#method_addPlaces">addPlaces</a>(array $places)  </td> <td></td>
</tr>  <tr> <td> $this </td> <td> <a href="#method_addTransitions">addTransitions</a>(array $transitions)  </td> <td></td>
</tr>  <tr> <td> $this </td> <td> <a href="#method_addTransition">addTransition</a>(<a href="transition.html" title="Symfony\Component\Workflow\Transition">Transition</a> $transition)  </td> <td></td>
</tr>  <tr> <td> $this </td> <td> <a href="#method_setMetadataStore">setMetadataStore</a>(<a href="metadata/metadatastoreinterface.html" title="Symfony\Component\Workflow\Metadata\MetadataStoreInterface">MetadataStoreInterface</a> $metadataStore)  </td> <td></td>
</tr>  <tr> <td> $this </td> <td> <a href="#method_reset">reset</a>() <small><sup><span class="label label-danger">deprecated</span></sup></small>  </td> <td></td>
</tr>  </table> <h2>Details</h2> <div id="method-details">  <h3 id="method___construct">                      
    __construct(array $places = array(), array $transitions = array())
         </h3>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>array</td> <td>$places</td> <td></td> </tr> <tr> <td>array</td> <td>$transitions</td> <td></td> </tr> </table>     <h3 id="method_build">                      <a href="definition.html" title="Symfony\Component\Workflow\Definition">Definition</a>
    build()
         </h3>   <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td><a href="definition.html" title="Symfony\Component\Workflow\Definition">Definition</a></td> <td></td> </tr> </table>     <h3 id="method_clear">                      $this
    clear()
         </h3>   <p>Clear all data in the builder.</p>   <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>$this</td> <td></td> </tr> </table>     <h3 id="method_setInitialPlace">                      $this
    setInitialPlace(string $place)
         </h3>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>string</td> <td>$place</td> <td></td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>$this</td> <td></td> </tr> </table>     <h3 id="method_addPlace">                      $this
    addPlace(string $place)
         </h3>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>string</td> <td>$place</td> <td></td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>$this</td> <td></td> </tr> </table>     <h3 id="method_addPlaces">                      $this
    addPlaces(array $places)
         </h3>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>array</td> <td>$places</td> <td></td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>$this</td> <td></td> </tr> </table>     <h3 id="method_addTransitions">                      $this
    addTransitions(array $transitions)
         </h3>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>array</td> <td>$transitions</td> <td></td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>$this</td> <td></td> </tr> </table>     <h3 id="method_addTransition">                      $this
    addTransition(<a href="transition.html" title="Symfony\Component\Workflow\Transition">Transition</a> $transition)
         </h3>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td><a href="transition.html" title="Symfony\Component\Workflow\Transition">Transition</a></td> <td>$transition</td> <td></td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>$this</td> <td></td> </tr> </table>     <h3 id="method_setMetadataStore">                      $this
    setMetadataStore(<a href="metadata/metadatastoreinterface.html" title="Symfony\Component\Workflow\Metadata\MetadataStoreInterface">MetadataStoreInterface</a> $metadataStore)
         </h3>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td><a href="metadata/metadatastoreinterface.html" title="Symfony\Component\Workflow\Metadata\MetadataStoreInterface">MetadataStoreInterface</a></td> <td>$metadataStore</td> <td></td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>$this</td> <td></td> </tr> </table>     <h3 id="method_reset">                      $this
    reset()
        <small><sup><span class="label label-danger">deprecated</span></sup></small> </h3>  <p> <small><sup><span class="label label-danger">deprecated</span></sup></small> </p>
<tr> <td>since</td> <td>Symfony 4.1, use the clear() method instead.</td> </tr>  <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>$this</td> <td></td> </tr> </table>    </div><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2004&ndash;2017 Fabien Potencier<br>Licensed under the MIT License.<br>
    <a href="https://api.symfony.com/4.1/Symfony/Component/Workflow/DefinitionBuilder.html" class="_attribution-link">https://api.symfony.com/4.1/Symfony/Component/Workflow/DefinitionBuilder.html</a>
  </p>
</div>
