<article><h1>Working with Shadow DOM</h1>
<p>Lit components use <a href="https://developers.google.com/web/fundamentals/web-components/shadowdom/">shadow DOM</a> to encapsulate their DOM. Shadow DOM provides a way to add a separate isolated and encapsulated DOM tree to an element. DOM encapsulation is the key to unlocking interoperability with any other code—including other web components or Lit components—functioning on the page.</p>
<p>Shadow DOM provides three benefits:</p>
<ul>
<li>DOM scoping. DOM APIs like <code>document.querySelector</code> won't find elements in the component's shadow DOM, so it's harder for global scripts to accidentally break your component.</li>
<li>Style scoping. You can write encapsulated styles for your shadow DOM that don't affect the rest of the DOM tree.</li>
<li>Composition. The component's shadow root, which contains its internal DOM, is separate from the component's children. You can choose how children are rendered in your component's internal DOM.</li>
</ul>
<p>For more information on shadow DOM:</p>
<ul>
<li>
<a href="https://developers.google.com/web/fundamentals/web-components/shadowdom/">Shadow DOM v1: Self-Contained Web Components</a> on Web Fundamentals.</li>
<li>
<a href="https://developer.mozilla.org/en-US/docs/Web/Web_Components/Using_shadow_DOM">Using shadow DOM</a> on MDN.</li>
</ul>
<div class="alert alert-info"><p><strong>Older browsers.</strong> On older browsers where native shadow DOM isn't available, the <a href="https://github.com/webcomponents/polyfills/tree/master/packages/webcomponentsjs/">web components polyfills</a> may be used. Please note that Lit's <code>polyfill-support</code> module must be loaded along with the web components polyfills. See <a href="../../tools/requirements/index.html#building-for-legacy-browsers">Requirements for legacy browsers</a> for details.</p></div>
<div class="heading h2"><h2 id="accessing-nodes-in-the-shadow-dom">Accessing nodes in the shadow DOM</h2></div>
<p>Lit renders components to its <code>renderRoot</code>, which is a shadow root by default. To find internal elements, you can use DOM query APIs, such as <code>this.renderRoot.querySelector()</code>.</p>
<p>The <code>renderRoot</code> should always be either a shadow root or an element, which share APIs like <code>.querySelectorAll()</code> and <code>.children</code>.</p>
<p>You can query internal DOM after component initial render (for example, in <code>firstUpdated</code>), or use a getter pattern:</p>
<pre data-language="js">firstUpdated() {
  this.staticNode = this.renderRoot.querySelector('#static-node');
}

get _closeButton() {
  return this.renderRoot.querySelector('#close-button');
}</pre>
<p>LitElement supplies a set of decorators that provide a shorthand way of defining getters like this.</p>
<div class="heading h3"><h3 id="@query-@queryall-and-@queryasync-decorators">@query, @queryAll, and @queryAsync decorators</h3></div>
<p>The <code>@query</code>, <code>@queryAll</code>, and <code>@queryAsync</code> decorators all provide a convenient way to access nodes in the internal component DOM.</p>
<div class="alert alert-info"><p><strong>Using decorators.</strong> Decorators are a proposed JavaScript feature, so you’ll need to use a compiler like Babel or TypeScript to use decorators. See <a href="../decorators/index.html">Using decorators</a> for details.</p></div>
<div class="heading h4"><h4 id="query">@query</h4></div>
<p>Modifies a class property, turning it into a getter that returns a node from the render root. The optional second argument when true performs the DOM query only once and caches the result. This can be used as a performance optimization in cases when the node being queried will not change.</p>
<pre data-language="js">import {LitElement, html} from 'lit';
import {query} from 'lit/decorators/query.js';

class MyElement extends LitElement {
  @query('#first')
  _first;

  render() {
    return html`
      &lt;div id="first"&gt;&lt;/div&gt;
      &lt;div id="second"&gt;&lt;/div&gt;
    `;
  }
}</pre>
<p>This decorator is equivalent to:</p>
<pre data-language="js">get _first() {
  return this.renderRoot?.querySelector('#first') ?? null;
}</pre>
<div class="heading h4"><h4 id="query-all">@queryAll</h4></div>
<p>Identical to <code>query</code> except that it returns all matching nodes, instead of a single node. It's the equivalent of calling <code>querySelectorAll</code>.</p>
<pre data-language="js">import {LitElement, html} from 'lit';
import {queryAll} from 'lit/decorators/queryAll.js';

class MyElement extends LitElement {
  @queryAll('div')
  _divs;

  render() {
    return html`
      &lt;div id="first"&gt;&lt;/div&gt;
      &lt;div id="second"&gt;&lt;/div&gt;
    `;
  }
}</pre>
<p>Here, <code>_divs</code> would return both <code>&lt;div&gt;</code> elements in the template. For TypeScript, the typing of a <code>@queryAll</code> property is <code>NodeListOf&lt;HTMLElement&gt;</code>. If you know exactly what kind of nodes you'll retrieve, the typing can be more specific:</p>
<pre data-language="js">@queryAll('button')
_buttons!: NodeListOf&lt;HTMLButtonElement&gt;</pre>
<p>The exclamation point (<code>!</code>) after <code>buttons</code> is TypeScript's <a href="https://www.typescriptlang.org/docs/handbook/release-notes/typescript-2-0.html#non-null-assertion-operator">non-null assertion operator</a>. It tells the compiler to treat <code>buttons</code> as always being defined, never <code>null</code> or <code>undefined</code>.</p>
<div class="heading h4"><h4 id="query-async">@queryAsync</h4></div>
<p>Similar to <code>@query</code>, except that instead of returning a node directly, it returns a <code>Promise</code> that resolves to that node after any pending element render is completed. Code can use this instead of waiting for the <code>updateComplete</code> promise.</p>
<p>This is useful, for example, if the node returned by <code>@queryAsync</code> can change as a result of another property change.</p>
<div class="heading h2"><h2 id="slots">Rendering children with slots</h2></div>
<p>Your component may accept children (like a <code>&lt;ul&gt;</code> element can have <code>&lt;li&gt;</code> children).</p>
<pre data-language="html">&lt;my-element&gt;
  &lt;p&gt;A child&lt;/p&gt;
&lt;/my-element&gt;</pre>
<p>By default, if an element has a shadow tree, its children don't render at all.</p>
<p>To render children, your template needs to include one or more <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/slot/"><code>&lt;slot&gt;</code> elements</a>, which act as placeholders for child nodes.</p>
<div class="heading h3"><h3 id="using-the-slot-element">Using the slot element</h3></div>
<p>To render an element's children, create a <code>&lt;slot&gt;</code> for them in the element's template. The children aren't <em>moved</em> in the DOM tree, but they're rendered <em>as if</em> they were children of the <code>&lt;slot&gt;</code>. For example:</p>

<div class="heading h3"><h3 id="using-named-slots">Using named slots</h3></div>
<p>To assign a child to a specific slot, ensure that the child's <code>slot</code> attribute matches the slot's <code>name</code> attribute:</p>
<ul>
<li>
<p><strong>Named slots only accept children with a matching <code>slot</code> attribute.</strong></p>
<p>For example, <code>&lt;slot name="one"&gt;&lt;/slot&gt;</code> only accepts children with the attribute <code>slot="one"</code>.</p>
</li>
<li>
<p><strong>Children with a <code>slot</code> attribute will only be rendered in a slot with a matching <code>name</code> attribute.</strong></p>
<p>For example, <code>&lt;p slot="one"&gt;...&lt;/p&gt;</code> will only be placed in <code>&lt;slot name="one"&gt;&lt;/slot&gt;</code>.</p>
</li>
</ul>

<div class="heading h3"><h3 id="fallback">Specifying slot fallback content</h3></div>
<p>You can specify fallback content for a slot. The fallback content is shown when no child is assigned to the slot.</p>
<pre data-language="html">&lt;slot&gt;I am fallback content&lt;/slot&gt;</pre>
<div class="alert alert-info"><p><strong>Rendering fallback content.</strong> If any child nodes are assigned to a slot, its fallback content doesn't render. A default slot with no name accepts any child nodes. It won't render fallback content even if the only assigned nodes are text nodes containing whitespace, for example <code>&lt;example-element&gt; &lt;/example-element&gt;</code>. When using a Lit expression as a child of a custom element, make sure to use a non-rendering value when appropriate so that any slot fallback content is rendered. See <a href="../../templates/expressions/index.html#removing-child">removing child content</a> for more information.</p></div>
<div class="heading h2"><h2 id="accessing-slotted-children">Accessing slotted children</h2></div>
<p>To access children assigned to slots in your shadow root, you can use the standard <code>slot.assignedNodes</code> or <code>slot.assignedElements</code> methods with the <code>slotchange</code> event.</p>
<p>For example, you can create a getter to access assigned elements for a particular slot:</p>
<pre data-language="js">get _slottedChildren() {
  const slot = this.shadowRoot.querySelector('slot');
  return slot.assignedElements({flatten: true});
}</pre>
<aside class="litdev-aside"><div><svg viewbox="0 0 125 125"><desc>A white letter i in a blue circle</desc><rect x="52.9" y="24.62" fill="#FFF" width="19.2" height="18.94"></rect><rect x="52.9" y="59.18" fill="#FFF" width="19.2" height="41.2"></rect></svg></div>
<div> <p>The elements are assigned only after the slot is rendered.</p> <p>If you need to access assigned elements at startup, you need to wait for <code>firstUpdated</code> or <code>updated</code>. If you want to access assigned elements when your render changes, you can use <code>slotchange</code>.</p> </div></aside><p>You can use the <code>slotchange</code> event to take action when nodes are first assigned or change. The following example extracts the text content of all of the slotted children.</p>
<pre data-language="js">handleSlotchange(e) {
  const childNodes = e.target.assignedNodes({flatten: true});
  // ... do something with childNodes ...
  this.allText = childNodes.map((node) =&gt; {
    return node.textContent ? node.textContent : ''
  }).join('');
}

render() {
  return html`&lt;slot @slotchange=${this.handleSlotchange}&gt;&lt;/slot&gt;`;
}</pre>
<p>For more information, see <a href="https://developer.mozilla.org/en-US/docs/Web/API/HTMLSlotElement/">HTMLSlotElement</a> on MDN.</p>
<div class="heading h3"><h3 id="query-assigned-nodes">@queryAssignedElements and @queryAssignedNodes decorators</h3></div>
<p><code>@queryAssignedElements</code> and <code>@queryAssignedNodes</code> convert a class property into a getter that returns the result of calling <a href="https://developer.mozilla.org/en-US/docs/Web/API/HTMLSlotElement/assignedElements/"><code>slot.assignedElements</code></a> or <a href="https://developer.mozilla.org/en-US/docs/Web/API/HTMLSlotElement/assignedNodes/"><code>slot.assignedNodes</code></a> respectively on a given slot in the component's shadow tree. Use these to query the elements or nodes assigned to a given slot.</p>
<p>Both accept an optional object with the following properties:</p>
<table>
<thead><tr>
<th>Property</th>
<th>Description</th>
</tr></thead>
<tbody>
<tr>
<td><code>flatten</code></td>
<td>Boolean specifying whether to flatten the assigned nodes by replacing any child <code>&lt;slot&gt;</code> elements with their assigned nodes.</td>
</tr>
<tr>
<td><code>slot</code></td>
<td>Slot name specifying the slot to query. Leave undefined to select the default slot.</td>
</tr>
<tr>
<td>
<code>selector</code> (<code>queryAssignedElements</code> only)</td>
<td>If specified, only return assigned elements that match this CSS selector.</td>
</tr>
</tbody>
</table>
<p>Deciding which decorator to use depends on whether you want to query for text nodes assigned to the slot, or only element nodes. This decision is specific to your use case.</p>
<div class="alert alert-info"><p><strong>Using decorators.</strong> Decorators are a proposed JavaScript feature, so you’ll need to use a compiler like Babel or TypeScript to use decorators. See <a href="../decorators/index.html">Using decorators</a> for details.</p></div>
<pre data-language="ts">@queryAssignedElements({slot: 'list', selector: '.item'})
_listItems!: Array&lt;HTMLElement&gt;;

@queryAssignedNodes({slot: 'header', flatten: true})
_headerNodes!: Array&lt;Node&gt;;</pre>
<p>The examples above are equivalent to the following code:</p>
<pre data-language="js">get _listItems() {
  const slot = this.shadowRoot.querySelector('slot[name=list]');
  return slot.assignedElements().filter((node) =&gt; node.matches('.item'));
}

get _headerNodes() {
  const slot = this.shadowRoot.querySelector('slot[name=header]');
  return slot.assignedNodes({flatten: true});
}</pre>
<div class="heading h2"><h2 id="renderroot">Customizing the render root</h2></div>
<p>Each Lit component has a <strong>render root</strong>—a DOM node that serves as a container for its internal DOM.</p>
<p>By default, LitElement creates an open <code>shadowRoot</code> and renders inside it, producing the following DOM structure:</p>
<pre data-language="html">&lt;my-element&gt;
  #shadow-root
    &lt;p&gt;child 1&lt;/p&gt;
    &lt;p&gt;child 2&lt;/p&gt;</pre>
<p>There are two ways to customize the render root used by LitElement:</p>
<ul>
<li>Setting <code>shadowRootOptions</code>.</li>
<li>Implementing the <code>createRenderRoot</code> method.</li>
</ul>
<div class="heading h3"><h3 id="setting-shadowrootoptions">Setting <code>shadowRootOptions</code>
</h3></div>
<p>The simplest way to customize the render root is to set the <code>shadowRootOptions</code> static property. The default implementation of <code>createRenderRoot</code> passes <code>shadowRootOptions</code> as the options argument to <code>attachShadow</code> when creating the component's shadow root. It can be set to customize any options allowed in the <a href="https://developer.mozilla.org/en-US/docs/Web/API/Element/attachShadow/#parameters">ShadowRootInit</a> dictionary, for example <code>mode</code> and <code>delegatesFocus</code>.</p>
<pre data-language="js">class DelegatesFocus extends LitElement {
  static shadowRootOptions = {...LitElement.shadowRootOptions, delegatesFocus: true};
}</pre>
<p>See <a href="https://developer.mozilla.org/en-US/docs/Web/API/Element/attachShadow/">Element.attachShadow()</a> on MDN for more information.</p>
<div class="heading h3"><h3 id="implementing-createrenderroot">Implementing <code>createRenderRoot</code>
</h3></div>
<p>The default implementation of <code>createRenderRoot</code> creates an open shadow root and adds to it any styles set in the <code>static styles</code> class field. For more information on styling see <a href="../styles/index.html">Styles</a>.</p>
<p>To customize a component's render root, implement <code>createRenderRoot</code> and return the node you want the template to render into.</p>
<p>For example, to render the template into the main DOM tree as your element's children, implement <code>createRenderRoot</code> and return <code>this</code>.</p>
<div class="alert alert-info"><p><strong>Rendering into children.</strong> Rendering into children and not shadow DOM is generally not recommended. Your element will not have access to DOM or style scoping, and it will not be able to compose elements into its internal DOM.</p></div>

<p id="edit-page-link"><a href="https://github.com/lit/lit.dev/edit/main/packages/lit-dev-content/./site/docs/v3/components/shadow-dom.md">Edit this page<lazy-svg loading="visible" svg-aria-hidden href="/images/icons/edit-square.svg.html#icon"></lazy-svg></a></p></article><div class="_attribution">
  <p class="_attribution-p">
    &copy; Google LLC<br>Licensed under the Creative Commons Attribution 3.0 Unported License.<br>
    <a href="https://lit.dev/docs/components/shadow-dom/" class="_attribution-link">https://lit.dev/docs/components/shadow-dom/</a>
  </p>
</div>
