<h1> PrependExtensionInterface </h1> <p> interface <strong>PrependExtensionInterface</strong> </p> <h2>Methods</h2> <table> <tr> <td> </td> <td> <a href="#method_prepend">prepend</a>(<a href="../containerbuilder.html" title="Symfony\Component\DependencyInjection\ContainerBuilder">ContainerBuilder</a> $container) <p>Allow an extension to prepend the extension configurations.</p> </td> <td></td>
</tr>  </table> <h2>Details</h2> <div id="method-details">  <h3 id="method_prepend">                      
    prepend(<a href="../containerbuilder.html" title="Symfony\Component\DependencyInjection\ContainerBuilder">ContainerBuilder</a> $container)
         </h3>   <p>Allow an extension to prepend the extension configurations.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td><a href="../containerbuilder.html" title="Symfony\Component\DependencyInjection\ContainerBuilder">ContainerBuilder</a></td> <td>$container</td> <td></td> </tr> </table>    </div><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2004&ndash;2017 Fabien Potencier<br>Licensed under the MIT License.<br>
    <a href="https://api.symfony.com/4.1/Symfony/Component/DependencyInjection/Extension/PrependExtensionInterface.html" class="_attribution-link">https://api.symfony.com/4.1/Symfony/Component/DependencyInjection/Extension/PrependExtensionInterface.html</a>
  </p>
</div>
