<h1> ProcessTimedOutException </h1> <p> class <strong>ProcessTimedOutException</strong> extends <a href="runtimeexception.html" title="Symfony\Component\Process\Exception\RuntimeException">RuntimeException</a> </p> <div class="description"> <p>Exception that is thrown when a process times out.</p> </div> <h2>Constants</h2> <table class="table table-condensed"> <tr> <td>TYPE_GENERAL</td> <td class="last">   </td> </tr> <tr> <td>TYPE_IDLE</td> <td class="last">   </td> </tr> </table> <h2>Methods</h2> <table> <tr> <td> </td> <td> <a href="#method___construct">__construct</a>(<a href="../process.html" title="Symfony\Component\Process\Process">Process</a> $process, int $timeoutType)  </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_getProcess">getProcess</a>()  </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_isGeneralTimeout">isGeneralTimeout</a>()  </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_isIdleTimeout">isIdleTimeout</a>()  </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_getExceededTimeout">getExceededTimeout</a>()  </td> <td></td>
</tr>  </table> <h2>Details</h2> <div id="method-details">  <h3 id="method___construct">                      
    __construct(<a href="../process.html" title="Symfony\Component\Process\Process">Process</a> $process, int $timeoutType)
         </h3>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td><a href="../process.html" title="Symfony\Component\Process\Process">Process</a></td> <td>$process</td> <td></td> </tr> <tr> <td>int</td> <td>$timeoutType</td> <td></td> </tr> </table>     <h3 id="method_getProcess">                      
    getProcess()
         </h3>       <h3 id="method_isGeneralTimeout">                      
    isGeneralTimeout()
         </h3>       <h3 id="method_isIdleTimeout">                      
    isIdleTimeout()
         </h3>       <h3 id="method_getExceededTimeout">                      
    getExceededTimeout()
         </h3>      </div><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2004&ndash;2017 Fabien Potencier<br>Licensed under the MIT License.<br>
    <a href="https://api.symfony.com/4.1/Symfony/Component/Process/Exception/ProcessTimedOutException.html" class="_attribution-link">https://api.symfony.com/4.1/Symfony/Component/Process/Exception/ProcessTimedOutException.html</a>
  </p>
</div>
