<h1> CssSelectorConverter </h1> <p> class <strong>CssSelectorConverter</strong> </p> <div class="description"> <p>CssSelectorConverter is the main entry point of the component and can convert CSS selectors to XPath expressions.</p> </div> <h2>Methods</h2> <table> <tr> <td> </td> <td> <a href="#method___construct">__construct</a>(bool $html = true)  </td> <td></td>
</tr>  <tr> <td> string </td> <td> <a href="#method_toXPath">toXPath</a>(string $cssExpr, string $prefix = 'descendant-or-self::') <p>Translates a CSS expression to its XPath equivalent.</p> </td> <td></td>
</tr>  </table> <h2>Details</h2> <div id="method-details">  <h3 id="method___construct">                      
    __construct(bool $html = true)
         </h3>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>bool</td> <td>$html</td> <td>Whether HTML support should be enabled. Disable it for XML documents</td> </tr> </table>     <h3 id="method_toXPath">                      string
    toXPath(string $cssExpr, string $prefix = 'descendant-or-self::')
         </h3>   <p>Translates a CSS expression to its XPath equivalent.</p> <p>Optionally, a prefix can be added to the resulting XPath expression with the $prefix parameter.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>string</td> <td>$cssExpr</td> <td>The CSS expression</td> </tr> <tr> <td>string</td> <td>$prefix</td> <td>An optional prefix for the XPath expression</td> </tr> </table> <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>string</td> <td></td> </tr> </table>    </div><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2004&ndash;2017 Fabien Potencier<br>Licensed under the MIT License.<br>
    <a href="https://api.symfony.com/4.1/Symfony/Component/CssSelector/CssSelectorConverter.html" class="_attribution-link">https://api.symfony.com/4.1/Symfony/Component/CssSelector/CssSelectorConverter.html</a>
  </p>
</div>
