<h1> FormIntegrationTestCase </h1> <p>abstract class <strong>FormIntegrationTestCase</strong> extends TestCase </p> <h2>Properties</h2> <table class="table table-condensed"> <tr> <td class="type" id="property_factory"> protected <a href="../formfactoryinterface.html" title="Symfony\Component\Form\FormFactoryInterface">FormFactoryInterface</a> </td> <td>$factory</td> <td class="last"></td> <td></td> </tr> </table> <h2>Methods</h2> <table> <tr> <td> </td> <td> <a href="#method_setUp">setUp</a>()  </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_getExtensions">getExtensions</a>()  </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_getTypeExtensions">getTypeExtensions</a>()  </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_getTypes">getTypes</a>()  </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_getTypeGuessers">getTypeGuessers</a>()  </td> <td></td>
</tr>  </table> <h2>Details</h2> <div id="method-details">  <h3 id="method_setUp">              protected        
    setUp()
         </h3>       <h3 id="method_getExtensions">              protected        
    getExtensions()
         </h3>       <h3 id="method_getTypeExtensions">              protected        
    getTypeExtensions()
         </h3>       <h3 id="method_getTypes">              protected        
    getTypes()
         </h3>       <h3 id="method_getTypeGuessers">              protected        
    getTypeGuessers()
         </h3>      </div><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2004&ndash;2017 Fabien Potencier<br>Licensed under the MIT License.<br>
    <a href="https://api.symfony.com/4.1/Symfony/Component/Form/Test/FormIntegrationTestCase.html" class="_attribution-link">https://api.symfony.com/4.1/Symfony/Component/Form/Test/FormIntegrationTestCase.html</a>
  </p>
</div>
