<h1> MethodArgumentNotImplementedException </h1> <p> class <strong>MethodArgumentNotImplementedException</strong> extends <a href="notimplementedexception.html" title="Symfony\Component\Intl\Exception\NotImplementedException">NotImplementedException</a> </p> <h2>Constants</h2> <table class="table table-condensed"> <tr> <td>INTL_INSTALL_MESSAGE</td> <td class="last">   </td> </tr> </table> <h2>Methods</h2> <table> <tr> <td> </td> <td> <a href="#method___construct">__construct</a>(string $methodName, string $argName)  </td> <td></td>
</tr>  </table> <h2>Details</h2> <div id="method-details">  <h3 id="method___construct">                      
    __construct(string $methodName, string $argName)
         </h3>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>string</td> <td>$methodName</td> <td>The method name that raised the exception</td> </tr> <tr> <td>string</td> <td>$argName</td> <td>The argument name that is not implemented</td> </tr> </table>    </div><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2004&ndash;2017 Fabien Potencier<br>Licensed under the MIT License.<br>
    <a href="https://api.symfony.com/4.1/Symfony/Component/Intl/Exception/MethodArgumentNotImplementedException.html" class="_attribution-link">https://api.symfony.com/4.1/Symfony/Component/Intl/Exception/MethodArgumentNotImplementedException.html</a>
  </p>
</div>
