<h1> SplFileInfo </h1> <p> class <strong>SplFileInfo</strong> extends <a target="_blank" href="http://php.net/SplFileInfo">SplFileInfo</a> </p> <div class="description"> <p>Extends \SplFileInfo to support relative paths.</p> </div> <h2>Methods</h2> <table> <tr> <td> </td> <td> <a href="#method___construct">__construct</a>(string $file, string $relativePath, string $relativePathname)  </td> <td></td>
</tr>  <tr> <td> string </td> <td> <a href="#method_getRelativePath">getRelativePath</a>() <p>Returns the relative path.</p> </td> <td></td>
</tr>  <tr> <td> string </td> <td> <a href="#method_getRelativePathname">getRelativePathname</a>() <p>Returns the relative path name.</p> </td> <td></td>
</tr>  <tr> <td> string </td> <td> <a href="#method_getContents">getContents</a>() <p>Returns the contents of the file.</p> </td> <td></td>
</tr>  </table> <h2>Details</h2> <div id="method-details">  <h3 id="method___construct">                      
    __construct(string $file, string $relativePath, string $relativePathname)
         </h3>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>string</td> <td>$file</td> <td>The file name</td> </tr> <tr> <td>string</td> <td>$relativePath</td> <td>The relative path</td> </tr> <tr> <td>string</td> <td>$relativePathname</td> <td>The relative path name</td> </tr> </table>     <h3 id="method_getRelativePath">                      string
    getRelativePath()
         </h3>   <p>Returns the relative path.</p> <p>This path does not contain the file name.</p>   <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>string</td> <td>the relative path</td> </tr> </table>     <h3 id="method_getRelativePathname">                      string
    getRelativePathname()
         </h3>   <p>Returns the relative path name.</p> <p>This path contains the file name.</p>   <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>string</td> <td>the relative path name</td> </tr> </table>     <h3 id="method_getContents">                      string
    getContents()
         </h3>   <p>Returns the contents of the file.</p>   <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>string</td> <td>the contents of the file</td> </tr> </table> <h4>Exceptions</h4> <table class="table table-condensed"> <tr> <td><a target="_blank" href="http://php.net/RuntimeException">RuntimeException</a></td> <td></td> </tr> </table>    </div><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2004&ndash;2017 Fabien Potencier<br>Licensed under the MIT License.<br>
    <a href="https://api.symfony.com/4.1/Symfony/Component/Finder/SplFileInfo.html" class="_attribution-link">https://api.symfony.com/4.1/Symfony/Component/Finder/SplFileInfo.html</a>
  </p>
</div>
