<h1 id="template-provider">  Template Provider </h1> <p>The template provider exposes data sources to use templates to generate strings for other Terraform resources or outputs.</p> <p>Use the navigation to the left to read about the available data sources.</p> <h2 id="example-usage">  Example Usage </h2> <pre data-language="ruby"># Template for initial configuration bash script
data "template_file" "init" {
  template = "${file("init.tpl")}"

  vars {
    consul_address = "${aws_instance.consul.private_ip}"
  }
}

# Create a web server
resource "aws_instance" "web" {
  # ...

  user_data = "${data.template_file.init.rendered}"
}
</pre>
<p>Or using an inline template:</p> <pre data-language="ruby"># Template for initial configuration bash script
data "template_file" "init" {
  template = "$${consul_address}:1234"

  vars {
    consul_address = "${aws_instance.consul.private_ip}"
  }
}

# Create a web server
resource "aws_instance" "web" {
  # ...

  user_data = "${data.template_file.init.rendered}"
}
</pre>
<blockquote class="alert alert-info" role="alert"> <p><strong>Note:</strong> Inline templates must escape their interpolations (as seen by the double <code>$</code> above). Unescaped interpolations will be processed <em>before</em> the template.</p> </blockquote><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2018 HashiCorp</br>Licensed under the MPL 2.0 License.<br>
    <a href="https://www.terraform.io/docs/providers/template/index.html" class="_attribution-link">https://www.terraform.io/docs/providers/template/index.html</a>
  </p>
</div>
