<h1> ParseException </h1> <p> class <strong>ParseException</strong> extends <a href="runtimeexception.html" title="Symfony\Component\Yaml\Exception\RuntimeException">RuntimeException</a> </p> <div class="description"> <p>Exception class thrown when an error occurs during parsing.</p> </div> <h2>Methods</h2> <table> <tr> <td> </td> <td> <a href="#method___construct">__construct</a>(string $message, int $parsedLine = -1, string $snippet = null, string $parsedFile = null, <a target="_blank" href="http://php.net/Exception">Exception</a> $previous = null)  </td> <td></td>
</tr>  <tr> <td> string </td> <td> <a href="#method_getSnippet">getSnippet</a>() <p>Gets the snippet of code near the error.</p> </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_setSnippet">setSnippet</a>(string $snippet) <p>Sets the snippet of code near the error.</p> </td> <td></td>
</tr>  <tr> <td> string </td> <td> <a href="#method_getParsedFile">getParsedFile</a>() <p>Gets the filename where the error occurred.</p> </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_setParsedFile">setParsedFile</a>(string $parsedFile) <p>Sets the filename where the error occurred.</p> </td> <td></td>
</tr>  <tr> <td> int </td> <td> <a href="#method_getParsedLine">getParsedLine</a>() <p>Gets the line where the error occurred.</p> </td> <td></td>
</tr>  <tr> <td> </td> <td> <a href="#method_setParsedLine">setParsedLine</a>(int $parsedLine) <p>Sets the line where the error occurred.</p> </td> <td></td>
</tr>  </table> <h2>Details</h2> <div id="method-details">  <h3 id="method___construct">                      
    __construct(string $message, int $parsedLine = -1, string $snippet = null, string $parsedFile = null, <a target="_blank" href="http://php.net/Exception">Exception</a> $previous = null)
         </h3>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>string</td> <td>$message</td> <td>The error message</td> </tr> <tr> <td>int</td> <td>$parsedLine</td> <td>The line where the error occurred</td> </tr> <tr> <td>string</td> <td>$snippet</td> <td>The snippet of code near the problem</td> </tr> <tr> <td>string</td> <td>$parsedFile</td> <td>The file name where the error occurred</td> </tr> <tr> <td><a target="_blank" href="http://php.net/Exception">Exception</a></td> <td>$previous</td> <td>The previous exception</td> </tr> </table>     <h3 id="method_getSnippet">                      string
    getSnippet()
         </h3>   <p>Gets the snippet of code near the error.</p>   <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>string</td> <td>The snippet of code</td> </tr> </table>     <h3 id="method_setSnippet">                      
    setSnippet(string $snippet)
         </h3>   <p>Sets the snippet of code near the error.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>string</td> <td>$snippet</td> <td>The code snippet</td> </tr> </table>     <h3 id="method_getParsedFile">                      string
    getParsedFile()
         </h3>   <p>Gets the filename where the error occurred.</p> <p>This method returns null if a string is parsed.</p>   <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>string</td> <td>The filename</td> </tr> </table>     <h3 id="method_setParsedFile">                      
    setParsedFile(string $parsedFile)
         </h3>   <p>Sets the filename where the error occurred.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>string</td> <td>$parsedFile</td> <td>The filename</td> </tr> </table>     <h3 id="method_getParsedLine">                      int
    getParsedLine()
         </h3>   <p>Gets the line where the error occurred.</p>   <h4>Return Value</h4> <table class="table table-condensed"> <tr> <td>int</td> <td>The file line</td> </tr> </table>     <h3 id="method_setParsedLine">                      
    setParsedLine(int $parsedLine)
         </h3>   <p>Sets the line where the error occurred.</p>   <h4>Parameters</h4> <table class="table table-condensed"> <tr> <td>int</td> <td>$parsedLine</td> <td>The file line</td> </tr> </table>    </div><div class="_attribution">
  <p class="_attribution-p">
    &copy; 2004&ndash;2017 Fabien Potencier<br>Licensed under the MIT License.<br>
    <a href="https://api.symfony.com/4.1/Symfony/Component/Yaml/Exception/ParseException.html" class="_attribution-link">https://api.symfony.com/4.1/Symfony/Component/Yaml/Exception/ParseException.html</a>
  </p>
</div>
